div.mfeedback {}
div.mf-name, div.mf-email, div.mf-captcha, div.mf-message {width:80%; padding-bottom:0.4em;}
div.mf-name input, div.mf-email input {width:60%;}
div.mf-message textarea {width: 60%;}
span.mf-req {color:red;}
p.mf-ok-text {color:green; font-weight:bold; padding-bottom: 1em;}
.pp p.title {
    font-size: 35px;
    line-height: 35px;
    font-weight: 300;
    background: #f6f2ec;
    margin: 0 -30px;
    padding: 20px 100px 20px 30px;
    display: block;
}
.pp h2 {
    display: none;
}