.bx-filter {
  background: white;
}

.collapse {
  background: #cfeefa;
  margin: 0;
  line-height: 31px !important;
  width: 100%;
}
.collapse__link {
  color: #006593;
  font-size: 16px;
  border-bottom: 1px dashed rgba(0, 101, 147, 0.3);
  line-height: 36px;
  font-weight: 700;
}
.collapse:hover {
  background: #fff3dc;
}
.collapse:hover .collapse__link {
  color: #ff5a00;
  border-bottom: 1px dashed #ff5a00;
}

.sp-check {
  font-size: 13px;
}

.checkbox-text {
  color: #006593;
  font-size: 16px;
  line-height: 24px;
}
.checkbox-text.active {
  color: #000;
}

.form__btn {
  padding: 10px 20px;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}
.form__btn-send {
  background: #ff6500;
  color: white;
}
.form__btn-send:hover {
  background: #e85e03;
}
.form__btn-send:active {
  background: #d45400;
}
.form__btn-reset {
  background: #f3f6f7;
  margin-left: 2px;
}
.form__btn-reset:hover {
  background: #e7e8e8;
}
.form__btn-reset:active {
  background: #d5d6d6;
}

/*# sourceMappingURL=hotel.css.map */
