.bx-filter{
  background: white;
}
.collapse{
  background: #cfeefa;
  margin: 0;
  line-height: 31px !important;
  width: 100%;

  &__link{

    color: #006593;
    font-size: 16px;
    border-bottom: 1px dashed rgba(0, 101, 147, 0.3);
    line-height: 36px;
    font-weight: 700;

  }
  &:hover{
    background: #fff3dc;
    .collapse__link{
      color: #ff5a00;
      border-bottom: 1px dashed #ff5a00;
    }
  }

}
.checkbox-form{

  //display: none;
}
.sp-check{
  font-size: 13px;
}
.checkbox-text{
  color: #006593;
  font-size: 16px;
  line-height: 24px;
  &.active{
    color: #000;
  }

}
.form__btn{
  padding: 10px 20px;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;


  &-send{
    background: #ff6500;
    color: white;
    &:hover{
      background: #e85e03;
    }
    &:active{
      background: #d45400;
    }
  }
  &-reset{
    background: #f3f6f7;
    margin-left:2px;
    &:hover{
      background: #e7e8e8;
    }
    &:active{
      background: #d5d6d6;;
    }
  }
}
