.panel-body input, .panel-body select{
	font-family: 'Open Sans', sans-serif !important;
	font-size: 13px !important;
	color: #333 !important;
}
.nights-block {
	display: block;
	color: #fff;
	margin-left: 0;
	margin-right: 10px;
}
.night label span {
	padding-left: 15px;
}
.night-select {
	display: inline-block;
	width: 65px;
}
.night-select .form-control {
	height: 42px !important;
	border-color: #fff !important;
	border-radius: 2px;
	box-shadow: none;
	font-family: 'Open Sans', sans-serif !important;
	font-size: 13px !important;
	padding-left: 2px !important;
	padding-right: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.panel-body .night-select select {
	height: 42px;
	border-radius: 2px;
	border-color: #fff !important;
}
.adults-form {
	margin-left: -10px;
}
.panel-body input {
	height: 42px !important;
	border-color: #fff !important;
	border-radius: 2px;
	box-shadow: none;
}
.panel-body .form-control {
	background-color: #fff !important;
}
.panel-body a.select2-choice {
	height: 40px !important;
	border-color: #fff !important;
	border-radius: 2px;
	box-shadow: none;
}
/*.daterangepicker td.active, .daterangepicker td.active:focus, .daterangepicker td.active:hover {
	background-color: #f94141 !important;
}*/
.daterangepicker td.active_, .daterangepicker td.active_:focus,
.daterangepicker td.in-range.active_ {
	/*background-color: #26a69a;*/
	color: #26a69a;
	font-weight: 700;
}
.daterangepicker td.end-date.in-range.active_ {
	color: #fff;
}