div.bx-auth-reg input.bx-auth-input {vertical-align:middle;}
div.bx-auth-reg span.bx-auth-secure {background-color:#FFFAE3; border:1px solid #DEDBC8; padding:2px; display:inline-block; vertical-align:middle;}
div.bx-auth-reg div.bx-auth-secure-icon {background-image:url(images/sec.png); background-repeat:no-repeat; background-position:center; width:19px; height:18px;}
div.bx-auth-reg div.bx-auth-secure-unlock {background-image:url(images/sec-unlocked.png);}
div.bx-auth-reg .starrequired {color: red}
div.bx-auth-reg input:focus {
    border-color: #ffb300 !important;
    box-shadow: 0 0 0 0.1rem rgba(255, 179, 0, 0.6) !important;
}

div.bx-auth-reg input[type=checkbox]:checked:before {
    color: #ffb300 !important
}

div.bx-auth-reg input[type=checkbox] {
    margin-top: 3px !important;
}

div.bx-auth-reg input[type=checkbox]:checked:before {
    color: #ffb300 !important
}

div.bx-auth-reg .register-btn {
    background: #ffb300 !important;
    border: 0 !important;
    color: #000 !important;
    font-size: 16px !important;
    padding: 9px 28px !important;
    border-radius: 0 !important;
    font-weight: 600 !important;
    display: inline-block !important;
    box-shadow: 0 2px 0 0 rgba(255, 179, 0, 0.6) !important;
}

div.bx-auth-reg .register-btn:hover {
    color: #fff !important;
}

div.bx-auth-reg .hide {
    display: none;
}

div.bx-auth-reg .show {
    display: block;
}
.error input,
.error textarea {
    border: 1px solid #E22B2B;
}

.error {
    color: #E22B2B !important;
    font-size: 11px;
}

div.error {
    font-size: 14px;
    margin: 10px 0;
}
.save_param input, .save_param .form__label {
    display: inline-block !important;
    width: auto !important;
}
.form .form__input, .form .form__textarea {
    background-color: #f0f4f8;
    border-radius: 4px;
}
.form-block.type-2 {
    margin-bottom: 15px !important;
}
.h-50 {
    height: 50px;
}