.my-profile .ts-theme form .ts-input {
  border: 1px solid #dcdcdc !important;
}
.my-profile .ts-theme .dop-pol {
  margin: 0 !important;
}
.my-profile .ts-theme .dop-pol li {
  list-style: none;
}

/*# sourceMappingURL=reg.css.map */
