@import "tour.css";

#stsApp .preloader {
    text-align: center;
}
#stsApp .hotel-list-content .hotel-offers-info .thm-btn {
    padding: 6px 16px;
}
#stsApp .hotel-list-content .thm-btn.dis {
    display: none;
}
#stsApp .hotel-list-content .more-btn {
    vertical-align: middle;
    cursor: pointer;
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: none;
}


#stsApp .hotel-list-content .more-btn-text i {
    width: 16px;
    height: 16px;
    border: 1px solid #55C4C6;
    border-radius: 5px;
    cursor: pointer;
    color: #333;
    padding-top: 1px;
}
#stsApp .hotel-list-content .more-btn-text span {
    line-height: 38px;
    font-size: 10px;
    cursor: pointer;
    padding: 15px 0;
    transition: 0.3s color;
    color: #ff6500;
    font-size: 14px;
    padding: 10px 0;
}
#stsApp .hotel-list-content .more-btn span:hover {
    color: black;
    transition: 0.3s color;
}
#stsApp .hotel-list-content .recom-item-body {
    position: static !important;
}
.detail-preloader {
    height: 55px;
    z-index: 9999;
    background: url(/local/components/travelsoft/page.search.result.sts/img/preloader1s.gif) center no-repeat #fff;
    border-top: 1px solid #ececec;
}
.ts-detail-search-result {
    font-size:12px;
    display: flex;
    flex-direction: column;

}
.ts-detail-search-result .ts-content-detail-search-result {
    display: flex;
    min-height: 75px;
    flex-wrap: wrap;
    border-top:1px solid #efefef;
    border-bottom:1px solid #efefef;

}
#ui-datepicker-div{
    display: none;
}
.ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right:1px solid #efefef;
}
.ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result:last-child{
    border-right: none;
}
.ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-item-detail-search-result {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-item-detail-search-result .ts-icon {
    width: 20px;
    position: relative;
}
.ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-item-detail-search-result .ts-icon img{
    height: auto;
    max-width: initial;
    width: auto;
}
.ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-item-detail-search-result .ts-icon:hover >  .ts-tittle   {
    opacity: 1;
    transition: 0.3s opacity;
}
.ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-item-detail-search-result .ts-icon .ts-tittle {
    background:  #55C4C6;
    color:white;
    padding: 3px 5px;
    border-radius: 4px;
    position: absolute;
    z-index: 5;
    opacity: 0;
    top:0px;
    left: 20px;
    transition: 0.3s opacity;
}

.ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-item-detail-search-result .ts-text {
    width: 60%;
}
.ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-item-detail-search-result .ts-text.ts-small{
    min-width: 100%;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
}
.ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-button-blue {
    background: #ff6500;
    color: #ffffff;
    border-color: transparent;
    padding: 10px 20px;
    outline: none;
    transition: 0.3s background, 0.3s border-color, 0.3s color;
}
.ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-button-blue:hover {
    color: white;
    background: #e65b00;
    border-color: #e85c00;
    transition: 0.3s background, 0.3s border-color, 0.3s color;
}
.ts-img-position{
    transform: translate(-5px,1px);
}
.ts-full-size{
    width: 100% !important;
}
.ts-mx-03{
    margin-right:0.3rem;
    margin-left: 0.3rem;
}

.ts-img-positionY{
    transform: translateY(3px);
}
@media (min-width: 1026px){
    .ts-width-first-block{
        width: 27% !important;
    }
    .ts-padding-icon{
        /* padding-right:10px; */
        /* padding-bottom: 4px; */
        transform: translate(-3px,3px);
    }
    .ts-width-price{
        width: 13% !important;
    }
    .ts-width-text{
        width: 100% !important;
    }

}
@media (max-width: 1025px) {
    .ts-detail-search-result {
        font-size: 11px;
    }
    .ts-detail-search-result .header-detail-search-result {
    }
    .ts-detail-search-result .ts-content-detail-search-result {
    }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result {
    }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-item-detail-search-result {
    }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-item-detail-search-result .ts-icon {
    }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-item-detail-search-result .ts-text {
        width: 60%; }
}
@media (max-width: 768px) {
    .ts-detail-search-result {
    }
    .ts-detail-search-result .header-detail-search-result {
    }
    .ts-detail-search-result .ts-content-detail-search-result {
    }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result {
    }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-item-detail-search-result {
    }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-item-detail-search-result .ts-icon {
    }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-item-detail-search-result .ts-text {
        width: 60%; }
}

@media (max-width: 570px) {
    .ts-detail-search-result {
    }
    .ts-detail-search-result .header-detail-search-result {
    }
    .ts-detail-search-result .ts-content-detail-search-result {
    }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result {
    }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-item-detail-search-result {
    }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-item-detail-search-result .ts-icon {
    }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-item-detail-search-result .ts-text {
        width: 60%; }
}

@media (max-width: 480px) {
    .ts-detail-search-result {
    }
    .ts-detail-search-result .header-detail-search-result {
    }
    .ts-detail-search-result .ts-content-detail-search-result {
    }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result {
        width: 50%;
        margin:5px 0;
    }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result:last-child {
        width: 100%;
    }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result:nth-child(2n) {
        border:none;
    }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-item-detail-search-result {
    }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-item-detail-search-result .ts-icon {
    }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-item-detail-search-result .ts-text {
        width: 60%; }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .button{
        width:100%;
    }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .button form{
        width:100%;
    }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .button form .ts-button-blue{
        width:98%;
        margin: 0 1%;
    }
}