tr.columns_ {
    border-bottom: 1px solid #ddd !important;
}
.columns_ th {
    background-color: #FF6600;
    font-size: 12px;
    padding: 10px 5px !important;
    border-left: 1px solid #ddd !important;
}
.columns_ th i {
    color: #fff;
    cursor: pointer;
}

table.bookRoom {
    border: 1px solid #ddd !important;
}
table.bookRoom tr {
    border-bottom: 1px solid #ddd !important;
}
table.bookRoom tr td {
    border-left: 1px solid #ddd !important;
}
table tbody tr td {
    border: 1px solid #ddd;
}
table tbody {
    font-size: 14px;
}
.table>tbody>tr>td {
    padding: 0px 8px !important;
}

@media (max-width: 768px) {
    table.bookRoom {
        width: 100%;
    }
    .bookRoom thead {
        display: none;
    }
    .bookRoom tbody td {
        min-height: 30px;
        display: block;
        text-align: right !important;
        font-size: 13px;
        border: 0;
        border-bottom: 1px dotted #a0a0a0;
        width: 100%;
    }
    .bookRoom tbody td:last-child {
        border-bottom: 0;
    }
    .bookRoom tbody td:before {
        content: attr(data-label);
        /*    font-size: 14px;*/
        float: left;
        text-transform: uppercase;
        font-weight: bold;
        display: block;
        padding: 0 8px;
        /*color: #fff;*/
        /*background: #00aae1;*/
        color: #9797a6;
        background: #eee;
    }
}

.table>tbody>tr>td a.detail__order__link {
    color: #0056a8;
}
.alert-box.alert-attention {
    background-color: #f7eed8;
    border-color: #f0e2c1;
}
.alert-box {
    background-color: #fff;
    border: 1px solid #d3d3d3;
    padding: 15px;
}
.row {
    margin-right: -15px !important;
    margin-left: -15px !important;
}
/*.btn.btn_m {
    padding-right: 15px;
    padding-left: 15px;
    background-color: #ff6600 !important;
    border: 1px solid #feae00;
    border-radius: 3px;
    color: #fff;
    font: 15px/16px "Open Sans",sans-serif;
    font-variant: small-caps;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}*/
select.form__input {
    /*background-color: white !important;
    padding: 7px 6px !important;*/

}
/*
.btn:hover {
    background-color: #feae00;
}
.bookRoom thead th.text-center {
    color: #fff;
    padding: 5px;
    font: 13px/18px "Open Sans",sans-serif;
}*/
