.input-description {
    position: relative;
    top: -3px;
    color: #A9A9A9;
}

.blueborder {
    border: 2px solid #004166;
}

.basket-title {
    padding: 10px 0px;
    color: #004166;
}
.basket-title h3 {
    font-size: 18px;
    line-height: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222;
}
.box_map h4 {
    color: #222;
    font: 600 16px/18px "Open Sans",sans-serif;
    float: left;
    padding-right: 22px;
    position: relative;
}
.box_map h4:after {
    content: "";
    position: absolute;
    /* top: 124%; */
    z-index: 1;
    display: block;
    margin-top: -11px;
    right: 0;
    background-image: url(/local/templates/travelsoft/images/sprites/sprite.png);
    background-position: -127px -271px;
    width: 14px;
    height: 7px;
    background-size: 361px,293px;
    background-repeat: no-repeat;
}

#booking {
    position: relative;
}

#form-shading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #004166;
    opacity: .3;
    display: none;
}

.promo {
    margin-top: 50px !important;
}

.promo input[type="text"] {
    width: 200px !important;
}

@media (max-width: 768px) {
    
    .basket-title {
        padding: 0 3px;
    }
    
    .promo input[type="text"] {
        width: 100% !important;
    }
    
}
h5.heading {
    padding-top: 3px;
}
table.booking {
    width: 100%;
    border: 1px solid #e6e6e6;
    font-size: 13px;
    /*padding-bottom: 20px;*/
}
.booking thead th:first-child {
    border-left: none;
}
.booking thead th {
    background-color: #ECECEC;
    border-left: 1px solid #e6e6e6;
    text-align: left;
}
.booking tbody td, .booking thead th {
    padding: 7px 0 7px 10px;
    /*border-bottom: 1px solid #D7D7D7;*/
}
.booking tbody td {
    /*white-space: nowrap;*/
    padding-right: 20px;
    width: 10px;
}
.booking thead th {
    background-color: #FF6600;
    border-left: 1px solid #e6e6e6;
    text-align: left;
    color: #fff;
    font-variant: small-caps;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}
.box_map {
    margin-bottom: 18px;
}
.box_map .icon {
    font-size: 45px;
    position: absolute;
    left: 10px;
    top: -10px;
}
.box_map img {
    width: 16px;
    height: 16px;
}
.step {
    padding-left: 30px;
    padding-right: 30px;
}
.payment-step {
    margin: 0;
    padding: 0 0 10px 0;
    list-style: none;
    position: relative;
}
.payment-step:before {
    height: 0;
    left: -30px;
    right: -30px;
    border-top: 1px solid #e9e9e9;
    bottom: 0;
    display: block;
    content: '';
    position: absolute;
}
.payment-step li {
    width: 33.3333%;
    margin-top: 13px;
    float: left;
    position: relative;
}
.payment-step li.step-select:after,
.payment-step li.step-select:before {
    background-color: #FF6600;
    /*background-color: #feae00;*/
}
.payment-step li.step-select span {
    text-indent: -9999px;
}
.payment-step li.step-select span:after {
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background: url('images/tick.png') no-repeat 50% 50%;
    content: '';
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    position: absolute;
}
.payment-step li.step-part:after {
    background-color: #FF6600;
}
.payment-step li:after,
.payment-step li:before {
    display: block;
    position: absolute;
    background-color: #d0d0d0;
    height: 10px;
    content: '';
    width: 50%;
    left: 0;
    top: 23px;
    border-top: 4px solid #f5f5f5;
    border-bottom: 4px solid #f5f5f5;
}
.payment-step li:before {
    right: 0;
    left: inherit;
}
.payment-step li span {
    display: block;
    position: relative;
    z-index: 1;
    margin: auto;
    width: 54px;
    height: 54px;
    background-color: #fff;
    border: 2px solid #efefef;
    color: #777;
    font-weight: 300;
    line-height: 50px;
    font-size: 26px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.payment-step li p {
    color: #777;
    font-size: 16px;
    line-height: 28px;
    margin: 5px 0 0 0;
    font: inherit;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.separator {
    height: 1px !important;
    margin: 20px auto !important;
    background: #D7D7D7 !important;
}
.cats-title {
    padding: 8px 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 15px;
}
.cats-title h3 {
    color: #222;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.payment-form {
    /*background: url('images/bg-border-v.png') repeat-x top left;*/
    margin: 30px 30px 0 30px;
}
.payment-form .form {
    position: relative;
    padding-bottom: 20px;
}
.payment-form .form:before {
    display: block;
    top: 0;
    bottom: 0;
    width: 1px;
    /*background: url('images/bg-border-h.png') repeat-y top left;*/
    left: 50%;
    content: '';
    position: absolute;
}
.payment-offline .form:before {
    content: none;
}
.payment-form > .row {
    margin-left: -30px;
    margin-right: -30px;
}
.payment-form > .row > [class*="col-"] {
    padding-left: 30px;
    padding-right: 30px;
}
.payment-form h2 {
    margin: 0 0 25px 0;
    padding-top: 30px;
    color: #111111;
    font-size: 24px;
    line-height: 28px;
}
.payment-form span {
    margin-bottom: 11px;
    color: #5c5c5c;
    font: 17px/18px "Open Sans",sans-serif;
}
.payment-form span img {
    vertical-align: top;
    margin-left: 5px;
}
/*.payment-form .form-field {
    margin-top: 10px;
}*/
.payment-form .form-field .field-input {
    border: 1px solid #dedede;
    /*padding: 14px 20px;*/
    padding: 8px 14px;
    color: #333333;
    width: 100%;
    outline: none;
}
.payment-form .form-field .field-input:-moz-placeholder {
    color: #333333;
}
.payment-form .form-field .field-input:-ms-input-placeholder {
    color: #333333;
}
.payment-form .form-field .field-input::-webkit-input-placeholder {
    color: #333333;
}
.payment-form .form-field select {
    /*padding: 14px 20px;*/
    padding: 8px 14px;
}
.payment-form .radio-checkbox {
    margin-top: 20px;
}
.payment-form ul {
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
    overflow: hidden;
}
.payment-form ul li {
    float: left;
    width: 50%;
    padding: 5px 0;
}
.payment-form ul li .radio-checkbox {
    margin-top: 0;
}
.payment-form ul li .radio-checkbox label {
    color: #333;
    padding-left: 28px;
}
.payment-form label {
    margin-bottom: 0;
}
.payment-form .cart-number {
    margin-top: 30px;
}
.payment-form .cart-number .row {
    margin-left: -3px;
    margin-right: -3px;
}
.payment-form .cart-number .row [class*="col-"] {
    padding-left: 3px;
    padding-right: 3px;
}
.payment-form .cart-number .field-input {
    text-align: center;
    padding: 9px 5px;
}
.payment-form .card-holder {
    margin-top: 30px;
}
.payment-form .card-holder .field-input {
    padding: 9px 5px;
}
.payment-form .expiry-date {
    margin-top: 40px;
}
.payment-form .expiry-date:before {
    content: '/';
    left: 50%;
    position: absolute;
    color: #666;
    bottom: 6px;
    font-size: 18px;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
}
.payment-form .expiry-date .row {
    margin-left: -10px;
    margin-right: -10px;
}
.payment-form .expiry-date .row [class*="col-"] {
    padding-left: 10px;
    padding-right: 10px;
}
.payment-form .expiry-date .form-field .field-input {
    background: url('images/icon-calendar.png') no-repeat right 10px center;
    padding: 9px 30px 9px 5px;
}
.payment-form .cvc-code {
    margin-top: 40px;
}
.payment-form .cvc-code .field-input {
    padding: 9px 5px;
}
.payment-form .submit {
    /*background: url('images/bg-border-v.png') repeat-x top left;*/
    padding-top: 30px;
}
.payment-form .submit .awe-btn {
    margin-top: 20px;
}
.payment-offline .submit {
    margin-top: 15px;
    padding-top: 15px;
}
.payment-offline .submit p {
    text-align: left;
}
.top-m {
    margin-top: -20px;
}
.tourist-block {
    padding-top: 15px;
}
.sidber-box {
    padding: 15px;
    border: 2px solid #777;
    overflow: hidden;
}
/*.sidber-box:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 8px solid #b6363b;
    border-right: 8px solid transparent;
    position: absolute;
    left: 0;
    top: 0;
}*/
.popular-post-inner {
    padding-left: 15px;
    padding-right: 15px;
}
.popular-post-inner .form-field {
    margin-bottom: 20px;
}
.popular-post-inner .form-field select {
    border: 1px solid #dedede;
    padding: 8px 14px;
    color: #333333;
    width: 100%;
    outline: none;
    background-color: white;
}
.alert-box.alert-success {
    /*background-color: #fedb8d;
    border-color: #feae00;*/
    background: #fff;
    border: 2px solid #777;
}
/*.info-form {
    margin: 30px 30px 0 30px;
}*/
.alert-box {
    background-color: #fff;
    border: 1px solid #d3d3d3;
    padding: 15px;
}
.alert-success, .alert-success h3 {
    font: 18px/28px "Open Sans",sans-serif;
    font-variant: small-caps;
    text-decoration: none;
    text-transform: uppercase;
    color: #313140;
    font-weight: 600;
}
.text-center {
    text-align: center;
}
.info-form > .row {
    margin-left: -30px;
    margin-right: -30px;
}
.info-form > .row > [class*="col-"] {
    padding-left: 30px;
    padding-right: 30px;
}
.info-form .form-field .field-input {
    border: 1px solid #dedede;
    padding: 8px 14px;
    color: #333333;
    width: 100%;
    line-height: 1.15;
    outline: none;
    font-size: 15px;
}
.alert-box span {
    color: #333333;
    font-weight: 300;
    line-height: 20px;
    display: block;
    font-size: 13px;
    margin-top: 5px;
}
.input-description {
    position: relative;
    top: -3px;
    color: #A9A9A9;
}
#total-cost-info {
    font-size: 18px;
    color: #222;
    padding-left: 109px;
    letter-spacing: 1px;
}
#total-cost-info2 {
    color: #313140;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    margin-top: 15px;
}
/*#total-cost-info span {
    color: #004166;
}*/
.form__checkbox.checkbox {
    margin-top: 20px;
}
.checkbox .checkbox__label {
    color: #FF6600;
    font: 500 15px/16px "Open Sans",sans-serif;
    text-decoration: underline;
}
.checkbox .checkbox__label #show-popup, .input-entry.color-3 .checkbox-text {
    color: #FF6600 !important;
    font-size: 14px;
}
.radio-checkbox p {
    font-size: 14px;
}
/*.radio-checkbox .checkbox {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    top: 5px;
    line-height: 14px;
    left: 0;
    cursor: pointer;
    background-color: #f2f2f2;
    border: 1px solid #d8d8d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}*/
input[type=checkbox] {
    margin: 3px 10px 5px 5px;
}
input[type=radio], input[type=checkbox] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}
.radio-checkbox label {
    position: relative;
    line-height: 25px;
    color: #555;
    font-weight: normal;
    /*padding-left: 30px;*/
    padding-left: 10px;
    margin: 0;
    min-width: 16px;
    min-height: 21px;
}
label {
    display: inline-block;
    max-width: 100%;
}
/*.radio-checkbox label:before {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    top: 5px;
    line-height: 14px;
    left: 0;
    cursor: pointer;
    background-color: #f2f2f2;
    border: 1px solid #d8d8d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}*/
.awe-btn {
    margin-top: 20px;
    margin-bottom: 20px;
}
#booking .form-field input::-moz-placeholder {color: #999;opacity: 1;}
#booking .form-field input:-ms-input-placeholder {color: #999;}
#booking .form-field input::-webkit-input-placeholder {color: #999;}
#booking .btn {
    width: 150px;
    border-radius: 3px;
    text-transform: uppercase;
    color: #fff !important;
}
@media (max-width: 620px) {

    .payment-step li p {
        font-size: 12px;
    }

}

@media (max-width: 768px) {
    table.booking {
        width: 100%;
    }
    .booking thead {
        display: none;
    }
    .booking tbody td {
        min-height: 30px;
        display: block;
        text-align: right !important;
        font-size: 13px;
        border: 0;
        border-bottom: 1px dotted #a0a0a0;
        width: 100%;
    }
    /*.booking tbody td:last-child {
        border-bottom: 1px dotted #a0a0a0;
    }*/
    .booking tbody td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
        display: block;
        padding: 0 8px;
        color: #9797a6;
        background: #eee;
    }
}
.alert {
    color: #777 !important;
}
.name_block {
    display: table;
    padding: 15px 0;
}
.name_block .img_box, .name_block .title_box {
    display: table-cell;
    vertical-align: top;
}
.name_block .img_box {
    padding-right: 8px;
}
.form-block.type-2 {
    margin-bottom: 15px !important;
}
.input-style-1.b-50 select {
    padding: 0px 20px 0px 21px !important;
    -webkit-appearance: menulist;
}
.select2-container {
    height: 50px !important;
}
.select2-choice {
    height: 50px !important;
    border-radius: 0 !important;
    background: #f8f8f8 !important;
    border: none !important;
    padding: 14px 0 14px 11px !important;
}
.row.bg-none {
    margin-top: 20px;
}
.checkbox label {
    padding-left: 0 !important;
}
label.checkbox__label a {
    float: left;
}
#booking_now {
    right: 30px;
    float: right;
}
#__message-box {
    font-weight: 600;
    line-height: 20px;
    display: block;
    font-size: 13px !important;
    margin-top: 5px;
}
#__error-box {
    font-weight: 300;
    line-height: 20px;
    display: block;
    font-size: 13px !important;
    margin-top: 5px;
}
#__registration_box {
    overflow: hidden;
}
.input-entry.color-3 .checkbox-form + label span.sp-check {
    background: #f8f8f8 !important;
    border: 1px solid #777 !important;
}
#total-cost-info #total-area {
    font-weight: 600;
    font-size: 22px;
}