@import 'auth.css';

@import url(https://fonts.googleapis.com/css?family=Open+Sans);.ts-pt-0 {
	padding-top: 0rem !important; }

.ts-pt-1 {
	padding-top: 1rem !important; }

.ts-pt-2 {
	padding-top: 2rem !important; }

.ts-pt-3 {
	padding-top: 3rem !important; }

.ts-pt-4 {
	padding-top: 4rem !important; }

.ts-pt-5 {
	padding-top: 5rem !important; }

.ts-pb-0 {
	padding-bottom: 0rem !important; }

.ts-pb-1 {
	padding-bottom: 1rem !important; }

.ts-pb-2 {
	padding-bottom: 2rem !important; }

.ts-pb-3 {
	padding-bottom: 3rem !important; }

.ts-pb-4 {
	padding-bottom: 4rem !important; }

.ts-pb-5 {
	padding-bottom: 5rem !important; }

.ts-mt-0 {
	margin-top: 0rem !important; }

.ts-mt-1 {
	margin-top: 1rem !important; }

.ts-mt-2 {
	margin-top: 2rem !important; }

.ts-mt-3 {
	margin-top: 3rem !important; }

.ts-mt-4 {
	margin-top: 4rem !important; }

.ts-mt-5 {
	margin-top: 5rem !important; }

.ts-mb-0 {
	margin-bottom: 0rem !important; }

.ts-mb-1 {
	margin-bottom: 1rem !important; }

.ts-mb-2 {
	margin-bottom: 2rem !important; }

.ts-mb-3 {
	margin-bottom: 3rem !important; }

.ts-mb-4 {
	margin-bottom: 4rem !important; }

.ts-mb-5 {
	margin-bottom: 5rem !important; }

.ts-pr-0 {
	padding-right: 0rem !important; }

.ts-pr-1 {
	padding-right: 1rem !important; }

.ts-pr-2 {
	padding-right: 2rem !important; }

.ts-pr-3 {
	padding-right: 3rem !important; }

.ts-pr-4 {
	padding-right: 4rem !important; }

.ts-pr-5 {
	padding-right: 5rem !important; }

.ts-pl-0 {
	padding-left: 0rem !important; }

.ts-pl-1 {
	padding-left: 1rem !important; }

.ts-pl-2 {
	padding-left: 2rem !important; }

.ts-pl-3 {
	padding-left: 3rem !important; }

.ts-pl-4 {
	padding-left: 4rem !important; }

.ts-pl-5 {
	padding-left: 5rem !important; }

.ts-mr-0 {
	margin-right: 0rem !important; }

.ts-mr-1 {
	margin-right: 1rem !important; }

.ts-mr-2 {
	margin-right: 2rem !important; }

.ts-mr-3 {
	margin-right: 3rem !important; }

.ts-mr-4 {
	margin-right: 4rem !important; }

.ts-mr-5 {
	margin-right: 5rem !important; }

.ts-mx-0 {
	margin-left: 0rem !important; }

.ts-mx-1 {
	margin-left: 1rem !important; }

.ts-mx-2 {
	margin-left: 2rem !important; }

.ts-mx-3 {
	margin-left: 3rem !important; }

.ts-mx-4 {
	margin-left: 4rem !important; }

.ts-mx-5 {
	margin-left: 5rem !important; }

.ts-px-0 {
	padding-left: 0rem !important;
	padding-right: 0rem !important; }

.ts-px-1 {
	padding-left: 1rem !important;
	padding-right: 1rem !important; }

.ts-px-2 {
	padding-left: 2rem !important;
	padding-right: 2rem !important; }

.ts-px-3 {
	padding-left: 3rem !important;
	padding-right: 3rem !important; }

.ts-px-4 {
	padding-left: 4rem !important;
	padding-right: 4rem !important; }

.ts-px-5 {
	padding-left: 5rem !important;
	padding-right: 5rem !important; }

.ts-mx-0 {
	margin-left: 0rem !important;
	margin-right: 0rem !important; }

.ts-mx-1 {
	margin-left: 1rem !important;
	margin-right: 1rem !important; }

.ts-mx-2 {
	margin-left: 2rem !important;
	margin-right: 2rem !important; }

.ts-mx-3 {
	margin-left: 3rem !important;
	margin-right: 3rem !important; }

.ts-mx-4 {
	margin-left: 4rem !important;
	margin-right: 4rem !important; }

.ts-mx-5 {
	margin-left: 5rem !important;
	margin-right: 5rem !important; }

.ts-py-0 {
	padding-top: 0rem !important;
	padding-bottom: 0rem !important; }

.ts-py-1 {
	padding-top: 1rem !important;
	padding-bottom: 1rem !important; }

.ts-py-2 {
	padding-top: 2rem !important;
	padding-bottom: 2rem !important; }

.ts-py-3 {
	padding-top: 3rem !important;
	padding-bottom: 3rem !important; }

.ts-py-4 {
	padding-top: 4rem !important;
	padding-bottom: 4rem !important; }

.ts-py-5 {
	padding-top: 5rem !important;
	padding-bottom: 5rem !important; }

.ts-my-0 {
	margin-top: 0rem !important;
	margin-bottom: 0rem !important; }

.ts-my-1 {
	margin-top: 1rem !important;
	margin-bottom: 1rem !important; }

.ts-my-2 {
	margin-top: 2rem !important;
	margin-bottom: 2rem !important; }

.ts-my-3 {
	margin-top: 3rem !important;
	margin-bottom: 3rem !important; }

.ts-my-4 {
	margin-top: 4rem !important;
	margin-bottom: 4rem !important; }

.ts-my-5 {
	margin-top: 5rem !important;
	margin-bottom: 5rem !important; }

.ts-w-0 {
	width: 0%; }

.ts-w-1 {
	width: 1%; }

.ts-w-2 {
	width: 2%; }

.ts-w-3 {
	width: 3%; }

.ts-w-4 {
	width: 4%; }

.ts-w-5 {
	width: 5%; }

.ts-w-6 {
	width: 6%; }

.ts-w-7 {
	width: 7%; }

.ts-w-8 {
	width: 8%; }

.ts-w-9 {
	width: 9%; }

.ts-w-10 {
	width: 10%; }

.ts-w-11 {
	width: 11%; }

.ts-w-12 {
	width: 12%; }

.ts-w-13 {
	width: 13%; }

.ts-w-14 {
	width: 14%; }

.ts-w-15 {
	width: 15%; }

.ts-w-16 {
	width: 16%; }

.ts-w-17 {
	width: 17%; }

.ts-w-18 {
	width: 18%; }

.ts-w-19 {
	width: 19%; }

.ts-w-20 {
	width: 20%; }

.ts-w-21 {
	width: 21%; }

.ts-w-22 {
	width: 22%; }

.ts-w-23 {
	width: 23%; }

.ts-w-24 {
	width: 24%; }

.ts-w-25 {
	width: 25%; }

.ts-w-26 {
	width: 26%; }

.ts-w-27 {
	width: 27%; }

.ts-w-28 {
	width: 28%; }

.ts-w-29 {
	width: 29%; }

.ts-w-30 {
	width: 30%; }

.ts-w-31 {
	width: 31%; }

.ts-w-32 {
	width: 32%; }

.ts-w-33 {
	width: 33%; }

.ts-w-34 {
	width: 34%; }

.ts-w-35 {
	width: 35%; }

.ts-w-36 {
	width: 36%; }

.ts-w-37 {
	width: 37%; }

.ts-w-38 {
	width: 38%; }

.ts-w-39 {
	width: 39%; }

.ts-w-40 {
	width: 40%; }

.ts-w-41 {
	width: 41%; }

.ts-w-42 {
	width: 42%; }

.ts-w-43 {
	width: 43%; }

.ts-w-44 {
	width: 44%; }

.ts-w-45 {
	width: 45%; }

.ts-w-46 {
	width: 46%; }

.ts-w-47 {
	width: 47%; }

.ts-w-48 {
	width: 48%; }

.ts-w-49 {
	width: 49%; }

.ts-w-50 {
	width: 50%; }

.ts-w-51 {
	width: 51%; }

.ts-w-52 {
	width: 52%; }

.ts-w-53 {
	width: 53%; }

.ts-w-54 {
	width: 54%; }

.ts-w-55 {
	width: 55%; }

.ts-w-56 {
	width: 56%; }

.ts-w-57 {
	width: 57%; }

.ts-w-58 {
	width: 58%; }

.ts-w-59 {
	width: 59%; }

.ts-w-60 {
	width: 60%; }

.ts-w-61 {
	width: 61%; }

.ts-w-62 {
	width: 62%; }

.ts-w-63 {
	width: 63%; }

.ts-w-64 {
	width: 64%; }

.ts-w-65 {
	width: 65%; }

.ts-w-66 {
	width: 66%; }

.ts-w-67 {
	width: 67%; }

.ts-w-68 {
	width: 68%; }

.ts-w-69 {
	width: 69%; }

.ts-w-70 {
	width: 70%; }

.ts-w-71 {
	width: 71%; }

.ts-w-72 {
	width: 72%; }

.ts-w-73 {
	width: 73%; }

.ts-w-74 {
	width: 74%; }

.ts-w-75 {
	width: 75%; }

.ts-w-76 {
	width: 76%; }

.ts-w-77 {
	width: 77%; }

.ts-w-78 {
	width: 78%; }

.ts-w-79 {
	width: 79%; }

.ts-w-80 {
	width: 80%; }

.ts-w-81 {
	width: 81%; }

.ts-w-82 {
	width: 82%; }

.ts-w-83 {
	width: 83%; }

.ts-w-84 {
	width: 84%; }

.ts-w-85 {
	width: 85%; }

.ts-w-86 {
	width: 86%; }

.ts-w-87 {
	width: 87%; }

.ts-w-88 {
	width: 88%; }

.ts-w-89 {
	width: 89%; }

.ts-w-90 {
	width: 90%; }

.ts-w-91 {
	width: 91%; }

.ts-w-92 {
	width: 92%; }

.ts-w-93 {
	width: 93%; }

.ts-w-94 {
	width: 94%; }

.ts-w-95 {
	width: 95%; }

.ts-w-96 {
	width: 96%; }

.ts-w-97 {
	width: 97%; }

.ts-w-98 {
	width: 98%; }

.ts-w-99 {
	width: 99%; }

.ts-w-100 {
	width: 100%; }

.ts-h-0 {
	height: 0%; }

.ts-h-1 {
	height: 1%; }

.ts-h-2 {
	height: 2%; }

.ts-h-3 {
	height: 3%; }

.ts-h-4 {
	height: 4%; }

.ts-h-5 {
	height: 5%; }

.ts-h-6 {
	height: 6%; }

.ts-h-7 {
	height: 7%; }

.ts-h-8 {
	height: 8%; }

.ts-h-9 {
	height: 9%; }

.ts-h-10 {
	height: 10%; }

.ts-h-11 {
	height: 11%; }

.ts-h-12 {
	height: 12%; }

.ts-h-13 {
	height: 13%; }

.ts-h-14 {
	height: 14%; }

.ts-h-15 {
	height: 15%; }

.ts-h-16 {
	height: 16%; }

.ts-h-17 {
	height: 17%; }

.ts-h-18 {
	height: 18%; }

.ts-h-19 {
	height: 19%; }

.ts-h-20 {
	height: 20%; }

.ts-h-21 {
	height: 21%; }

.ts-h-22 {
	height: 22%; }

.ts-h-23 {
	height: 23%; }

.ts-h-24 {
	height: 24%; }

.ts-h-25 {
	height: 25%; }

.ts-h-26 {
	height: 26%; }

.ts-h-27 {
	height: 27%; }

.ts-h-28 {
	height: 28%; }

.ts-h-29 {
	height: 29%; }

.ts-h-30 {
	height: 30%; }

.ts-h-31 {
	height: 31%; }

.ts-h-32 {
	height: 32%; }

.ts-h-33 {
	height: 33%; }

.ts-h-34 {
	height: 34%; }

.ts-h-35 {
	height: 35%; }

.ts-h-36 {
	height: 36%; }

.ts-h-37 {
	height: 37%; }

.ts-h-38 {
	height: 38%; }

.ts-h-39 {
	height: 39%; }

.ts-h-40 {
	height: 40%; }

.ts-h-41 {
	height: 41%; }

.ts-h-42 {
	height: 42%; }

.ts-h-43 {
	height: 43%; }

.ts-h-44 {
	height: 44%; }

.ts-h-45 {
	height: 45%; }

.ts-h-46 {
	height: 46%; }

.ts-h-47 {
	height: 47%; }

.ts-h-48 {
	height: 48%; }

.ts-h-49 {
	height: 49%; }

.ts-h-50 {
	height: 50%; }

.ts-h-51 {
	height: 51%; }

.ts-h-52 {
	height: 52%; }

.ts-h-53 {
	height: 53%; }

.ts-h-54 {
	height: 54%; }

.ts-h-55 {
	height: 55%; }

.ts-h-56 {
	height: 56%; }

.ts-h-57 {
	height: 57%; }

.ts-h-58 {
	height: 58%; }

.ts-h-59 {
	height: 59%; }

.ts-h-60 {
	height: 60%; }

.ts-h-61 {
	height: 61%; }

.ts-h-62 {
	height: 62%; }

.ts-h-63 {
	height: 63%; }

.ts-h-64 {
	height: 64%; }

.ts-h-65 {
	height: 65%; }

.ts-h-66 {
	height: 66%; }

.ts-h-67 {
	height: 67%; }

.ts-h-68 {
	height: 68%; }

.ts-h-69 {
	height: 69%; }

.ts-h-70 {
	height: 70%; }

.ts-h-71 {
	height: 71%; }

.ts-h-72 {
	height: 72%; }

.ts-h-73 {
	height: 73%; }

.ts-h-74 {
	height: 74%; }

.ts-h-75 {
	height: 75%; }

.ts-h-76 {
	height: 76%; }

.ts-h-77 {
	height: 77%; }

.ts-h-78 {
	height: 78%; }

.ts-h-79 {
	height: 79%; }

.ts-h-80 {
	height: 80%; }

.ts-h-81 {
	height: 81%; }

.ts-h-82 {
	height: 82%; }

.ts-h-83 {
	height: 83%; }

.ts-h-84 {
	height: 84%; }

.ts-h-85 {
	height: 85%; }

.ts-h-86 {
	height: 86%; }

.ts-h-87 {
	height: 87%; }

.ts-h-88 {
	height: 88%; }

.ts-h-89 {
	height: 89%; }

.ts-h-90 {
	height: 90%; }

.ts-h-91 {
	height: 91%; }

.ts-h-92 {
	height: 92%; }

.ts-h-93 {
	height: 93%; }

.ts-h-94 {
	height: 94%; }

.ts-h-95 {
	height: 95%; }

.ts-h-96 {
	height: 96%; }

.ts-h-97 {
	height: 97%; }

.ts-h-98 {
	height: 98%; }

.ts-h-99 {
	height: 99%; }

.ts-h-100 {
	height: 100%; }

.ts-col-1 {
	width: 10%; }

.ts-col-2 {
	width: 20%; }

.ts-col-3 {
	width: 30%; }

.ts-col-4 {
	width: 40%; }

.ts-col-5 {
	width: 50%; }

.ts-col-6 {
	width: 60%; }

.ts-col-7 {
	width: 70%; }

.ts-col-8 {
	width: 80%; }

.ts-col-9 {
	width: 90%; }

.ts-col-10 {
	width: 100%; }

.ts-reset {
	margin: 0;
	padding: 0; }

.ts-color-white {
	color: white; }

.ts-d-flex {
	display: flex; }

.ts-flex-wrap {
	flex-wrap: wrap; }

.ts-justify-end {
	justify-content: flex-end; }

.ts-justify-center {
	justify-content: center; }

.ts-justify-start {
	justify-content: flex-start; }

.ts-justify-between {
	justify-content: space-between; }

.ts-align-content-between {
	align-content: space-between; }

.ts-align-content-around {
	align-content: space-around; }

.ts-justify-around {
	justify-content: space-around; }

.ts-align-end {
	align-items: flex-end; }

.ts-align-center {
	align-items: center; }

.ts-align-start {
	align-items: flex-start; }

.ts-align-stretch {
	align-items: stretch; }

.ts-mx-auto {
	margin-right: auto !important;
	margin-left: auto !important; }

.ts-d-none {
	display: none !important; }

.ts-box-shadow {
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3); }

.ts-border-radius {
	border-radius: 2px;
	overflow: hidden; }

.min-height {
	min-height: 400px; }

.ts-max-width-370 {
	max-width: 370px; }

.ts-max-width-768 {
	max-width: 768px; }

.ts-h2 {
	font-size: 32px; }

.ts-theme {
	font-family: 'Open Sans', sans-serif;
	/**
       * Multiple Select2
       */ }
.ts-theme .ts-title {
	background: #55C4C6; }
.ts-theme .ts-text p {
	font-size: 14px;
	color: gray; }
@media (max-width: 1440px) {
	.ts-theme .ts-text p {
		font-size: 16px; } }
@media (max-width: 1280px) {
	.ts-theme .ts-text p {
		font-size: 16px; } }
@media (max-width: 1024px) {
	.ts-theme .ts-text p {
		font-size: 14px; } }
@media (max-width: 768px) {
	.ts-theme .ts-text p {
		font-size: 12px; } }
@media (max-width: 568px) {
	.ts-theme .ts-text p {
		font-size: 12px; } }
.ts-theme span {
	padding: 0 !important;
	margin: 0 !important; }
.ts-theme .placeholder {
	position: absolute;
	bottom: 5px;
	font-size: 16px;
	padding-left: 15px;
	transition: all .3s; }
@media (max-width: 1440px) {
	.ts-theme .placeholder {
		font-size: 16px; } }
@media (max-width: 1280px) {
	.ts-theme .placeholder {
		font-size: 16px; } }
@media (max-width: 1024px) {
	.ts-theme .placeholder {
		font-size: 14px; } }
@media (max-width: 768px) {
	.ts-theme .placeholder {
		font-size: 12px; } }
@media (max-width: 568px) {
	.ts-theme .placeholder {
		font-size: 12px; } }
.ts-theme .validation {
	display: none;
	position: absolute;
	bottom: -15px;
	font-size: 11px;
	margin-left: 15px;
	color: red; }
@media (max-width: 1440px) {
	.ts-theme .validation {
		font-size: 10px; } }
@media (max-width: 1280px) {
	.ts-theme .validation {
		font-size: 10px; } }
@media (max-width: 1024px) {
	.ts-theme .validation {
		font-size: 9px; } }
@media (max-width: 768px) {
	.ts-theme .validation {
		font-size: 9px; } }
@media (max-width: 568px) {
	.ts-theme .validation {
		font-size: 9px; } }
.ts-theme .active .placeholder {
	font-size: 11px;
	bottom: auto;
	bottom: 25px;
	padding-left: 7px;
	line-height: 10px; }
@media (max-width: 1440px) {
	.ts-theme .active .placeholder {
		font-size: 10px; } }
@media (max-width: 1280px) {
	.ts-theme .active .placeholder {
		font-size: 10px; } }
@media (max-width: 1024px) {
	.ts-theme .active .placeholder {
		font-size: 9px; } }
@media (max-width: 768px) {
	.ts-theme .active .placeholder {
		font-size: 9px; } }
@media (max-width: 568px) {
	.ts-theme .active .placeholder {
		font-size: 9px; } }
.ts-theme .active .input {
	opacity: 1 !important;
	transition: opacity 0.3s; }
.ts-theme .error {
	border-color: red !important; }
.ts-theme .error .input input {
	color: red; }
.ts-theme .error .placeholder {
	color: red; }
.ts-theme .error .validation {
	display: block; }
.ts-theme .ts-input {
	height: 40px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #ccc;
	background: rgba(85, 196, 198, 0.11);
	margin: 0 auto;
	transition: all 0.3s; }
.ts-theme .ts-input.focus {
	transition: all 0.3s;
	border-bottom: 1px solid #55C4C6;
	box-shadow: 0 1px 0 0 #56c3c7; }
.ts-theme .ts-input .input {
	width: 100%;
	height: 100%;
	opacity: 0; }
.ts-theme .ts-input .input input {
	padding: 0;
	margin: 0;
	outline: none;
	background: transparent;
	outline: 0;
	border: 0;
	position: absolute;
	bottom: 4px;
	font-size: 16px;
	height: auto;
	padding-left: 15px;
	line-height: 16px;
	width: calc(100% - 15px); }
@media (max-width: 1440px) {
	.ts-theme .ts-input .input input {
		font-size: 16px; } }
@media (max-width: 1280px) {
	.ts-theme .ts-input .input input {
		font-size: 16px; } }
@media (max-width: 1024px) {
	.ts-theme .ts-input .input input {
		font-size: 14px; } }
@media (max-width: 768px) {
	.ts-theme .ts-input .input input {
		font-size: 12px; } }
@media (max-width: 568px) {
	.ts-theme .ts-input .input input {
		font-size: 12px; } }
.ts-theme .ts-checkbox {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 auto; }
.ts-theme .ts-checkbox i.icon {
	border: 2px solid gray;
	width: 14px;
	height: 14px;
	background: transparent;
	position: relative; }
.ts-theme .ts-checkbox i.icon::before {
	content: '';
	font-family: FontAwesome;
	display: block;
	position: absolute;
	top: 2px;
	left: 1px;
	font-size: 12px; }
.ts-theme .ts-checkbox i.icon.active::before {
	content: '\F00C';
	font-family: "FontAwesome";
	color: #36797b; }
.ts-theme .ts-checkbox label {
	font-size: 14px;
	color: gray;
	margin-left: 10px;
	font-weight: 300;
	line-height: 14px; }
@media (max-width: 1440px) {
	.ts-theme .ts-checkbox label {
		font-size: 13px; } }
@media (max-width: 1280px) {
	.ts-theme .ts-checkbox label {
		font-size: 12px; } }
@media (max-width: 1024px) {
	.ts-theme .ts-checkbox label {
		font-size: 12px; } }
@media (max-width: 768px) {
	.ts-theme .ts-checkbox label {
		font-size: 10px; } }
@media (max-width: 568px) {
	.ts-theme .ts-checkbox label {
		font-size: 10px; } }
.ts-theme .ts-submit {
	height: 50px;
	background: #55C4C6;
	position: relative;
	width: 100%;
	margin: 0 auto;
	transition: all 0.3s; }
.ts-theme .ts-submit:hover {
	background: #5bccce; }
.ts-theme .ts-submit input[type='submit'] {
	height: 100%;
	border: none;
	outline: none;
	background: transparent;
	color: white;
	font-size: 21px;
	text-align: center;
	width: 100%;
	text-transform: uppercase; }
.ts-theme .ts-select {
	position: relative; }
.ts-theme .ts-link {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; }
.ts-theme .ts-link a {
	text-decoration: none;
	font-size: 13px;
	color: gray;
	margin-bottom: 5px;
	transition: all 0.3s; }
.ts-theme .ts-link a:last-child {
	margin-bottom: 0; }
@media (max-width: 1440px) {
	.ts-theme .ts-link a {
		font-size: 13px; } }
@media (max-width: 1280px) {
	.ts-theme .ts-link a {
		font-size: 12px; } }
@media (max-width: 1024px) {
	.ts-theme .ts-link a {
		font-size: 12px; } }
@media (max-width: 768px) {
	.ts-theme .ts-link a {
		font-size: 10px; } }
@media (max-width: 568px) {
	.ts-theme .ts-link a {
		font-size: 10px; } }
.ts-theme .ts-link a:hover {
	color: #56c3c7; }
.ts-theme :focus {
	outline: none; }
.ts-theme :disabled {
	background-color: transparent; }

.select2-container--material, .ts-hor-input {
	width: 100% !important;
	font-family: 'Open Sans', sans-serif;
	/**
       * Textbox
       */
	/**
       * Dropdown
       */
	/**
       * Options
       */
	/**
       * Focused textbox
       */
	/**
       * Disabled textbox
       */ }
.select2-container--material ::placeholder, .ts-hor-input ::placeholder {
	color: inherit; }
.select2-container--material .select2-selection, .select2-container--material input, .ts-hor-input .select2-selection, .ts-hor-input input {
	height: 40px;
	/* @extend input */
	overflow: visible;
	font: inherit;
	touch-action: manipulation;
	margin: 0;
	line-height: inherit;
	border-radius: 0;
	box-sizing: inherit;
	/* @extend .form-control */
	display: block;
	width: 100%;
	color: black;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.15);
	padding: .5rem 0 .6rem;
	font-size: 1rem;
	line-height: 1.5;
	background-color: transparent;
	background-image: none;
	border-radius: 0;
	margin-top: .2rem;
	margin-bottom: 1rem;
	/* @extend input[type=text] */
	background-color: rgba(85, 196, 198, 0.11);
	border: none;
	border-bottom: 1px solid #ccc;
	border-radius: 0;
	outline: 0;
	width: 100%;
	font-size: 1rem;
	box-shadow: none;
	transition: all .3s;
	min-height: 2.1rem; }
.select2-container--material .select2-selection .select2-selection__rendered, .select2-container--material input .select2-selection__rendered, .ts-hor-input .select2-selection .select2-selection__rendered, .ts-hor-input input .select2-selection__rendered {
	padding-top: 5px;
	padding-left: 15px; }
.select2-container--material .select2-selection--single .select2-selection__rendered, .ts-hor-input .select2-selection--single .select2-selection__rendered {
	float: left; }
.select2-container--material .select2-selection--single .select2-selection__arrow, .ts-hor-input .select2-selection--single .select2-selection__arrow {
	padding-top: 5px;
	float: right; }
.select2-container--material .select2-selection--multiple, .ts-hor-input .select2-selection--multiple {
	/**
         * Multiple selected options
         */
	/**
         * Multiple selected option clear button
         */ }
.select2-container--material .select2-selection--multiple .select2-selection__rendered, .ts-hor-input .select2-selection--multiple .select2-selection__rendered {
	width: 100%; }
.select2-container--material .select2-selection--multiple .select2-selection__rendered li, .ts-hor-input .select2-selection--multiple .select2-selection__rendered li {
	list-style: none; }
.select2-container--material .select2-selection--multiple .select2-selection__choice, .ts-hor-input .select2-selection--multiple .select2-selection__choice {
	/* @extend .mdl-chip */
	height: 32px;
	line-height: 32px;
	padding: 0 12px;
	border: 0;
	border-radius: 16px;
	background-color: #dedede;
	display: inline-block;
	color: rgba(0, 0, 0, 0.87);
	margin: 2px 0;
	font-size: 0;
	white-space: nowrap;
	/* @extend .mdl-chip__text */
	font-size: 13px;
	vertical-align: middle;
	display: inline-block;
	float: left;
	margin-right: 8px;
	margin-bottom: 4px; }
.select2-container--material .select2-selection--multiple .select2-selection__choice__remove, .ts-hor-input .select2-selection--multiple .select2-selection__choice__remove {
	/* Hide default content */
	font-size: 0;
	opacity: 0.38;
	cursor: pointer;
	float: right;
	margin-top: 4px;
	margin-right: -6px;
	margin-left: 6px;
	transition: opacity; }
.select2-container--material .select2-selection--multiple .select2-selection__choice__remove::before, .ts-hor-input .select2-selection--multiple .select2-selection__choice__remove::before {
	content: "cancel";
	/* @extend .material-icons */
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
	color: #000; }
.select2-container--material .select2-selection--multiple .select2-selection__choice__remove:hover, .ts-hor-input .select2-selection--multiple .select2-selection__choice__remove:hover {
	opacity: 0.54; }
.select2-container--material .select2-search--inline .select2-search__field, .ts-hor-input .select2-search--inline .select2-search__field {
	width: 100%;
	margin-top: 0;
	/* Match input[type=text] */
	height: 34px;
	line-height: 1; }
.select2-container--material .select2-dropdown, .ts-hor-input .select2-dropdown {
	border: 0; }
.select2-container--material .select2-dropdown .select2-search__field, .ts-hor-input .select2-dropdown .select2-search__field {
	min-height: 2.1rem;
	margin-bottom: 16px;
	border: 0;
	border-bottom: 1px solid #ccc;
	display: none;
	transition: all .3s; }
.select2-container--material .select2-dropdown .select2-search__field:focus, .ts-hor-input .select2-dropdown .select2-search__field:focus {
	border-bottom: 1px solid #55C4C6;
	box-shadow: 0 1px 0 0 #56c3c7; }
.select2-container--material .select2-results__options, .ts-hor-input .select2-results__options {
	/* @extend .zf-shadow-depth* */
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	/* @extend .dropdown-content */
	background-color: #fff;
	margin: 0;
	min-width: 100px;
	max-height: 650px;
	overflow-y: auto;
	z-index: 999;
	will-change: width,height;
	/* @extend .dropdown-content inline styles */ }
.select2-container--material .select2-results__option, .ts-hor-input .select2-results__option {
	/* @extend .dropdown-content li */
	cursor: pointer;
	clear: both;
	color: rgba(0, 0, 0, 0.87);
	line-height: 1.5rem;
	text-align: left;
	text-transform: none;
	/* @extend .dropdown-content li>a, .dropdown-content li>span */
	font-size: 1.2rem;
	display: block;
	padding: 1rem;
	/**
         * Disabled options
         */
	/**
         * Selected option
         */
	/**
         * Active/hovered option
         */ }
.select2-container--material .select2-results__option[aria-disabled=true], .ts-hor-input .select2-results__option[aria-disabled=true] {
	/* @extend .select-dropdown li.disabled */
	color: rgba(0, 0, 0, 0.3);
	background-color: transparent !important;
	cursor: context-menu;
	/* @extend .disabled */
	cursor: not-allowed; }
.select2-container--material .select2-results__option[aria-selected=true], .ts-hor-input .select2-results__option[aria-selected=true] {
	/* @extend .dropdown-content li:active, .dropdow-content li:hover */
	color: #4285f4;
	background-color: #eee; }
.select2-container--material .select2-results__option--highlighted[aria-selected], .ts-hor-input .select2-results__option--highlighted[aria-selected] {
	background-color: #ddd; }
.select2-container--material.select2-container--focus .select2-selection, .ts-hor-input.select2-container--focus .select2-selection {
	/* @extend input[type=text]:focus */
	border-bottom: 1px solid #55C4C6;
	box-shadow: 0 1px 0 0 #56c3c7; }
.select2-container--material.select2-container--disabled .select2-selection, .ts-hor-input.select2-container--disabled .select2-selection {
	/* @extend .select-wrapper input.select-dropdown:disabled */
	color: rgba(0, 0, 0, 0.3);
	cursor: default;
	user-select: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
.select2-container--material.select2-container--disabled.select2-container--focus .select2-selection, .ts-hor-input.select2-container--disabled.select2-container--focus .select2-selection {
	box-shadow: none; }
