.my-order {
    padding-left: 15px;
    margin-bottom: 30px;
    margin-top: 15px;
}
.my-order .my-order__title {
    margin-bottom: 20px;
    margin-top: 15px;
    font: 600 16px/18px "Open Sans",sans-serif;
    font-size: 24px;
    color: #00aae1;
}
.my-order #services__container, .my-order #turists__container {
    margin-left: -15px;
}
.my-order #services__container .my-order__title, .my-order #turists__container .my-order__title {
    font: 600 20px/18px "Open Sans",sans-serif;
    position: relative;
    width: auto;
    float: left;
    padding-right: 22px;
}
.my-order ul {
    padding-left: 0;
    margin-bottom: 30px;
    list-style: none;
    margin-top: 5px;
}
.my-order #services__container ul li, .my-order #total__info ul li, .my-order #turists__container ul li {
    position: relative;
    padding-left: 200px;
    padding-top: 5px;
    padding: 8px 0 8px 200px;
    color: #333333;
}
.my-order ul li span {
    position: absolute;
    color: #777;
    width: 200px;
    line-height: 1;
    /* font-weight: 600; */
    left: 0;
    padding-left: 15px;
}
.alert-box.alert-attention {
    background-color: #f7eed8;
    border-color: #f0e2c1;
}
.mt-20 {
    margin-top: 20px !important;
}
.alert-box {
    background-color: #fff;
    border: 1px solid #d3d3d3;
    padding: 15px;
}
table.offers {
    margin: 20px 0;
    width: 100%;
    border: 1px solid #e6e6e6;
}
table.offers thead {
    background-color: #feae00;
}
table.offers thead th {
    font-weight: 600;
}
table.offers tr {
    border-bottom: 1px solid #e6e6e6;
}
table.offers tbody tr td:first-child {
    border-right: 1px solid #e6e6e6;
}
ul.turist-order {
    /*border-bottom: 1px dotted #e6e6e6;*/
    position: relative;
    padding: 20px;
    margin-left: 75px;
}
@media (max-width: 768px) {
    .offers {
        border: 0;
    }
    .offers thead {
        display: none;
    }
    .offers tr {
        display: block;
        border-bottom: 2px solid #a0a0a0 !important;
    }
    .offers td {
        min-height: 30px;
        display: block;
        text-align: right !important;
        font-size: 13px;
        border: 0;
        border-bottom: 1px dotted #a0a0a0;
        width: 100%;
    }
    .offers td:last-child {
        border-bottom: 0;
    }
    .offers td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
        display: block;
        padding: 0 8px;
        /*background: #eee;*/
        color: #9797a6;
        background: #eee;
    }
}
.btn.btn_m {
    display: block;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #feae00;
    border: 1px solid #feae00;
    border-radius: 3px;
    color: #fff;
    font: 15px/16px "Open Sans",sans-serif;
    font-variant: small-caps;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.my-order #services__container .my-order__title:after, .my-order #turists__container .my-order__title:after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 1;
    display: block;
    margin-top: -3px;
    background-image: url(/local/templates/travelsoft/images/sprites/sprite.png);
    background-position: -127px -271px;
    width: 14px;
    height: 7px;
    background-size: 361px,293px;
    background-repeat: no-repeat;
}
.block-touists .cats-title {
    color: #313140;
    font-weight: 600;
    line-height: 18px;
}
.offers {
    padding-bottom: 0 !important;
}
.alert-box h6 {
    margin: 0 !important;
}
.tariff-line.color-grey.price {
    text-align: left ;
}
.tariff-line:nth-last-child(2) {
    border-bottom: none !important;
    margin-bottom: 0 !important;
}
.simple-text {
    margin-bottom: 0 !important;
}
.simple-text.doc {
    margin-bottom: 30px !important;
}
.simple-text.doc h4 {
    padding-bottom: 10px;
}
.doc_block {
    display: table;
}
.doc_block a, .doc_block img {
    display: table-cell;
    vertical-align: top;
}
.table.style-1 th:nth-child(1), .table.style-1 td:nth-child(1) {
    width: 5%;
}
.table-responsive tbody td img {
    padding-right: 8px;
}
.tourist-block {
    padding: 15px;
}
.form-horizontal .form-group {
     margin-right: 0 !important;
     margin-left: 0 !important;
}
.payment-traveller {
    border: 2px solid #777;
    padding: 15px;
}
.payment-traveller .gap-0 {
    margin-bottom: 10px;
}
.tariff-line .gap-20 span {
    color: #777;
    padding-right: 10px;
    line-height: 1;
    left: 0;
}
ul.color-grey.dot-blue-2 {
    margin-bottom: 10px !important;
}
ul.color-grey.dot-blue-2 li:before {
    content: '•';
    display: inline-block;
    padding-right: 8px;
    top: 0px;
    left: 0px;
    color: #777;
}
.color-grey.dot-blue-2 a {
    font-size: 15px !important;
}
.tab-pane .c-button {
    margin-top: 0 !important;
}
.payment__form {
    margin-bottom: 22px;
}
ul.color-grey.dot-blue-2 li.active a {
    color: #ff6600;
    font-weight: 600;
}