.slides .item {
    background: #fff !important;
}
.other-tours-hor {
    display: block !important;
    margin: 0 300px 30px 0;
}
.sidebar {
    /*background: #fff;*/
}
.sidebar ul {
    padding: 15px;
}