.hotel-offers-info .hotel-offer-text-food_info {
    float: right;
    right: 50px;
    /*margin: -19px -24px 0 0;*/
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 16px;
    height: 16px;
    border: 1px solid #337ab7;
    /*background-color: #337ab7;*/
    /*border-radius: 50%;*/
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
/*.hotel-offers-info .hotel-offer-text-food_info:before {
    content: "i";
    display: block;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
}*/
.hotel-offers-info .hotel-offer-text_special-popup {
    position: absolute;
    /*top: 100%;*/
    padding: 8px 12px;
    margin-top: 10px;
    background-color: rgba(49,49,64,.9);
    box-shadow: 0 1px 1px rgba(0,0,0,.27);
    opacity: 0;
    transition: opacity .15s ease-out 0s;
    visibility: hidden;
    color: #fff;
    font-family: Open Sans,sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    white-space: nowrap;
    cursor: default;
    text-align: left;
}
/*.hotel-offers-info .hotel-offer-text_special-popup:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 10px;
}*/
.hotel-offers-info .hotel-offer-text_special-popup:after {
    content: "";
    bottom: 100%;
    left: 12px;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-bottom-color: rgba(49,49,64,.9);
    border-width: 8px;
}