.hotel-offers-info {
    background-color: #fff;
    border-top: 1px solid #dbdbea;
}
.hotel-offers-info ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.hotel-offers-info li.hotel-offer {
    position: relative;
    border: 1px solid transparent;
    border-bottom: 1px solid #dbdbea;
    margin: 0 -1px;
}
.hotel-offers-info .hotel-offer_grouped-tours {
    position: relative;
    padding: 12px 20px;
}
.hotel-offers-info .hotel-offer_grouped-dates {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 225px;
}
.hotel-offers-info .hotel-offer-text:first-child {
    line-height: 21px;
}
.hotel-offers-info .hotel-offer-text{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.hotel-offers-info .hotel-offer-text-dates {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    border-bottom: 1px dotted;
    cursor: pointer;
}
.hotel-offer-text_bold {
    font-weight: 600;
}
.hotel-offers-info .hotel-offer_grouped-accomodation {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 260px;
}
.text-grey {
    color: #9797a6;
}
.hotel-offers-info .hotel-offer_grouped-operator {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 89px;
}
.hotel-offers-info .hotel-offer_grouped-price {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    width: 155px;
}
.hotel-offers-info .hotel-offer-text-price {
    overflow: visible;
    text-align: center;
}
.hotel-offer-info .hotel-offer-price_and_currency {
    border-bottom: 1px dotted;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    position: relative;
    font-family: Panton,sans-serif;
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
}