.ts-dropdown{
  position: relative;
  z-index: 100;
  position: relative;

  .nav-link{
    display: flex;
    justify-content: center;
    align-items: center;

    a{
      padding-right: 0 !important;
    }
  }
  .arrow{
    //content: '';
    background: transparent;
    color: white;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #01709d;
    display: block !important;
    margin: 0 15px 0 5px;
    width: 7px;
    height: 7px;
    border-bottom: 0;
  }

  &:hover{
    background-color: #0daae8;
    .ts-dropdown__links{
      display: block !important;
    }
    a {
      span {
        color: white;
        border-bottom: 1px solid white;

      }
    }
    .arrow{
      border-top: 7px solid white;
    }
  }



  &.active{
    background-color: #0daae8;
    a {
      span {
        color: white;
        border-bottom: 1px solid white;

      }
    }
      span.arrow{
        border-top: 7px solid white;
      }
    }
  }
  .ts-dropdown__links{
    display: none !important;
    position: absolute;
    right: 0;
    top: 72px;
    z-index: 100;
    background-color: #0daae8;

    @media screen and (max-width:989px){
      position: static;

    }
    a{
      font-size: 14px;
      padding: 10px 0 ;
      span{
       // color: #006593;
        border-bottom: 0 !important;
        &:hover{

            color: #ff5a00;
            border-bottom: 2px solid #ff6500;

      }
    }


    }



  }


