.ts-dropdown {
  position: relative;
  z-index: 100;
  position: relative;
}
.ts-dropdown .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ts-dropdown .nav-link a {
  padding-right: 0 !important;
}
.ts-dropdown .arrow {
  background: transparent;
  color: white;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #01709d;
  display: block !important;
  margin: 0 15px 0 5px;
  width: 7px;
  height: 7px;
  border-bottom: 0;
}
.ts-dropdown:hover {
  background-color: #0daae8;
}
.ts-dropdown:hover .ts-dropdown__links {
  display: block !important;
}
.ts-dropdown:hover a span {
  color: white;
  border-bottom: 1px solid white;
}
.ts-dropdown:hover .arrow {
  border-top: 7px solid white;
}
.ts-dropdown.active {
  background-color: #0daae8;
}
.ts-dropdown.active a span {
  color: white;
  border-bottom: 1px solid white;
}
.ts-dropdown.active span.arrow {
  border-top: 7px solid white;
}

.ts-dropdown__links {
  display: none !important;
  position: absolute;
  right: 0;
  top: 72px;
  z-index: 100;
  background-color: #0daae8;
}
@media screen and (max-width: 989px) {
  .ts-dropdown__links {
    position: static;
  }
}
.ts-dropdown__links a {
  font-size: 14px;
  padding: 10px 0;
}
.ts-dropdown__links a span {
  border-bottom: 0 !important;
}
.ts-dropdown__links a span:hover {
  color: #ff5a00;
  border-bottom: 2px solid #ff6500;
}

/*# sourceMappingURL=dropdown.css.map */
