.country-menu {
    display: block !important;
}
.content {
    margin: 0 30px 30px 0 !important;
}
/*.col2 .content .hotels-list li {
    width: 23% !important;
}*/
.country-menu .country-title a {
    border-bottom: none;
    color: #000;
    text-decoration: none;
}