.page .page__content {
	/*padding-left: 0 !important;*/
	/*width: 100% !important;*/
}
.panel-body input, .panel-body select{
	font-family: 'Open Sans', sans-serif !important;
	font-size: 13px !important;
	color: #333 !important;
}
.nights-block {
	display: block;
	color: #fff;
	margin-left: 0;
	margin-right: 10px;
}
.night label span {
	padding-left: 15px;
}
.night-select {
	display: inline-block;
	width: 60px;
}
.night-select .form-control {
	height: 42px !important;
	border-color: #fff !important;
	border-radius: 2px;
	box-shadow: none;
	font-family: 'Open Sans', sans-serif !important;
	font-size: 13px !important;
	padding-left: 2px !important;
	padding-right: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.panel-body .night-select select {
	height: 42px;
	border-radius: 2px;
	border-color: #fff !important;
}
.adults-form {
	margin-left: -10px;
}
.panel-body input {
	height: 42px !important;
	border-color: #fff !important;
	border-radius: 2px;
	box-shadow: none;
}
.panel-body .form-control {
	background-color: #fff !important;
}
.panel-body a.select2-choice {
	height: 40px !important;
	border-color: #fff !important;
	border-radius: 2px;
	box-shadow: none;
}
/*.daterangepicker td.active, .daterangepicker td.active:focus, .daterangepicker td.active:hover {
	background-color: #f94141 !important;
}*/
.daterangepicker td.active_, .daterangepicker td.active_:focus,
.daterangepicker td.in-range.active_ {
	/*background-color: #26a69a;*/
	color: #00aae1;
	font-weight: 700;
}
.daterangepicker td.end-date.in-range.active_ {
	color: #fff;
}
.sts-form, .sts-btn {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.panel-body a.select2-choice {
	padding: 7px 0 7px 3px !important;
}
.panel-body .adults-form .select-filters, .panel-body .children-form .select-filters {
	width: 85%;
}
.panel-body .adults-form .select-filters .form-control, .panel-body .children-form .select-filters .form-control {
	padding: 6px 8px;
}
.panel-body .dates-block .date-block {
	width: 45%;
}
.panel-body .dates-block .date-block input {
	padding: 5px 32px 5px 6px;
}
.panel-body .sep {
	width: 7%;
	text-align: center;
	position: relative;
	color: #fff;
	display: inline-block;
}
@media (min-width: 992px) {
	.panel-body .col-md-1.new .select2-choice {
		padding: 7px 0 7px 3px !important;
	}
	.panel-body .col-md-1.new {
		width: 12.333333% !important;
	}
	.panel-body .col-md-3 {
		width: 26% !important;
	}
	.panel-body .col-md-3.night {
		width: 20% !important;
	}
	.panel-body .col-md-10.sts-form {
		width: 90.333333% !important;
	}
	.panel-body .col-md-2.sts-btn {
		width: 9.666667% !important;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.panel-padding {
		padding-right: 4px !important;
		padding-left: 4px !important;
	}
	.panel-body .col-md-1.adults-form, .col-md-1.children-form {
		width: 7.333333%;
	}
	.panel-body .col-md-1.adults-form{
		margin-left: 3px;
	}
}
@media (max-width: 436px) {
	.panel-body .col-xs-3 {
		width: 50% !important;
	}
	.panel-body .col-xs-6 {
		width: 100% !important;
	}
}
@media (min-width: 768px) {
	.panel-body .col-sm-3.sts-btn {
		width: 15%;
		float: right;
	}
}
.datepicker {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
}
.datepicker thead tr>th, .datepicker tbody tr>td {
	padding: 10px !important;
	line-height: 1;
	white-space: nowrap;
	text-align: center;

}
.datepicker thead tr:first-child th.prev:before {
	font-family: 'FontAwesome';
	content: '\f104';
	font-size: 18px;
}
.datepicker thead tr:first-child th.next:before {
	font-family: 'FontAwesome';
	content: '\f105';
	font-size: 18px;
}
/*.datepicker thead .prev, .datepicker thead .next {
	color: #999;
	font-weight: 400;
	font-size: 12px;
	min-width: 36px;
}*/
.datepicker thead .datepicker-switch {
	font-size: 15px;
	line-height: 1;
	color: #333;
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: 400;
}
.datepicker th {
	color: #999;
	font-weight: 400;
	font-size: 12px;
	min-width: 36px;
}
.datepicker td.old.day, .datepicker td.new.day {
	color: #ccc !important;
	font-weight: 400 !important;
}
.datepicker tbody td.day:focus, .datepicker tbody td.day:hover {
	background-color: #f5f5f5;
}
.datepicker td.active.day,.datepicker td.active.day:hover, .daterangepicker td.active, .daterangepicker td.active:hover {
	background-color: #feae00 !important;
	color: #fff !important;
	border-radius: 2px;
}
.datepicker td.day.active_ {
	color: #00aae1;
	font-weight: 700;
}
.form.form_catalog-find .col-4 {
	width: 180px;
}
.form.form_catalog-find .col-5 {
	width: 206px;
}
@media (min-width: 768px) and (max-width: 991px) {
	.form.form_catalog-find .col-4 {
		width: 240px !important;
	}
}
.form.form_catalog-find .form__col:last-child {
	padding-right: 5px !important;
}
.ui-datepicker-calendar td.today_active, .ui-datepicker-calendar .ui-state-active {
	background-color: #ff6600 !important;
	color: #fff;
}
.ui-datepicker-calendar .ui-state-disabled {
	background: #ececec;
	opacity: 0.4;
}
.sidebar-title.form-title {
	border-bottom: 1px solid #ededed;
	padding-bottom: 15px;
}
form .sidebar-title.color-dark-2 {
	font-size: 12px !important;
	line-height: 15px !important;
	margin-bottom: 10px !important;
}
.select2-choice {
	padding: 8px 0 8px 11px !important;
	font-size: 12px;
	height: 35px !important;
	border-color: #f8f8f8 !important;
	background: #f8f8f8 !important;
}
.input-style-1.b-50 input {
	font-size: 12px !important;
	height: 35px !important;
	padding: 0px 20px 0px 33px !important;
}
.input-style-1.b-50 img {
	left: 11px !important;
}
.form-block .form__col:first-child {
	padding-right: 10px !important;
	padding-left: 0 !important;
}
.form-block .form__col:last-child {
	padding-left: 10px;
	padding-right: 0 !important;
}
.select2-results {
	font-size: 12px !important;
}
.select2-results .select2-result-selectable {
	height: 35px;
}
.select2-results .select2-result-label {
	padding: 2px 12px !important;
	font-size: 12px !important;
	height: 35px !important;
}
#stsSearchForm .c-button {
	padding: 14px !important;
}
.ui-datepicker td.active {
	background: #66BB6A;
	color: #fff;
}