.ts-theme .ts-card__info {
    padding: 2rem 0.5rem;
    border: 1px solid lightgray;
    border-radius: 4px;
    background: #4f5762; }
.ts-theme .ts-card__info ul {
    padding: 0;
    margin: 0;
    color: white;
    list-style: none; }
.ts-theme .ts-card__info ul li {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 0.5rem; }
.ts-theme .ts-card__info ul li:last-child {
    padding-bottom: 0; }
.ts-theme .ts-card__info ul li .text {
    width: 80%;
    font-size: 13px; }
.ts-theme .ts-card__info ul li .text .title {
    font-size: 16px; }
.ts-theme .ts-card__info ul li:before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 8px;
    margin-right: 15px; }
