#tur-form-result .preloader {
    text-align: center;
}
.list-info-travel .icon {font-size: 18px;line-height: 1px}
.list-info-travel i {width: 18px;height: 18px}
.hotel-item .hotel-image {width: 23% !important;}
.hotel-list-content {margin-top: 20px;}
.hotel-item .hotel-body a b {
    font-size: 22px;
    font-weight: 600;
}
.hotel-item .hotel-info-big {
    margin-bottom: 20px;
}
.search-progress-bar {
    position: relative;
    width: 100%;
    height: 44px;
    /*border-radius: 5px;*/
    /*margin: 15px auto;*/
    padding: 2px 2px;
    /*background-color: #337ab7;*/
    background-color: #53a4d8;
}
.search-progress {
    position: absolute;
    height: 40px;
    border-radius: 2px;
    /*background-color: #004166;*/
    background-color: #fff;
}
.percent-count {
    position: absolute;
    top: 5px;
    /*color: #fff;*/
    color: #333;
    height: 40px;
    left: 47%;
    font-size: 20px;
    text-align: center;
    padding: 2px 0;
}
#progressBox {
    height: 44px;
    margin: 15px auto;
}
#searchTotalResult {
    height: 44px;
    float: right;
    background-color: rgb(249,65,65) !important;
    color: #fff;
    padding: 12px 30px;
    font-weight: 700;
    font-size: 13px;
    border: 0;
    text-align: center;
    border-radius: 2px;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 1px transparent;
    position: relative;
}
#searchTotalResult:before {
    content: '';
    position: absolute;
    border: white solid 1px;
    border-radius: 2px;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    opacity: 0;
}
#searchTotalResult:hover:before, #searchTotalResult:before:hover, #searchTotalResult:focus:before, #searchTotalResult:active:before {
    opacity: 1;
}
.detail-preloader {
    height: 55px;
    z-index: 9999;
    background: url(/local/components/travelsoft/page.search.result.sts/img/preloader1s.gif) center no-repeat #fff;
    border-top: 1px solid #ececec;
}
/*Detail list*/
.hotel-offers-info {
}
.hotel-offers-info ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.hotel-offers-info li.hotel-offer {
    position: relative;
    border: 1px solid transparent;
    border-bottom: 1px solid #dbdbea;
    margin: 0 -1px;
}
.hotel-offers-info .hotel-offer_grouped-tours {
    position: relative;
    padding: 12px 20px;
}
.hotel-offers-info .hotel-offer_grouped-dates {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 165px;
}
.hotel-offers-info .hotel-offer-text:first-child {
    line-height: 21px;
}
.hotel-offers-info .hotel-offer-text{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.hotel-offers-info .hotel-offer-text-dates {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    border-bottom: 1px dotted;
    cursor: pointer;
}
.hotel-offer-text_bold {
    font-weight: 600;
}
.hotel-offers-info .hotel-offer_grouped-accomodation {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 225px;
}
.hotel-offers-info .hotel-offer_grouped-tourtype {
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 150px;
}
.text-grey {
    color: #9797a6;
}
.hotel-offers-info .hotel-offer_grouped-operator {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 150px;
    margin-right: 20px;
}
.hotel-offers-info .hotel-offer_grouped-price {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    width: 130px;
}
.hotel-offers-info .hotel-offer-text-price {
    overflow: visible;
    text-align: center;
}
.hotel-offers-info .hotel-offer-text-tourtype {
    overflow: visible;
    text-align: center;
}
.hotel-offers-info .hotel-offer-price_and_currency {
    border-bottom: 1px dotted;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    position: relative;
    font-family: Panton,sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
}
.hotel-offers-info .hotel-offer_grouped-btn {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    /*margin-left: 20px;*/
}
.hotel-offers-info .hotel-offer-text-btn {
    overflow: visible;
    text-align: center;
}
.hotel-offers-info .hotel-offer-detail {
    font-family: Panton, sans-serif;
    cursor: pointer;
    background-color: rgb(249,65,65) !important;
    margin-top: 0 !important;
}
.hotel-offers-info .hotel-offer-text-food_info {
    float: right;
    right: 3px;
    /*margin: -19px -24px 0 0;*/
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 16px;
    height: 16px;
    border: 1px solid #337ab7;
    /*background-color: #337ab7;*/
    /*border-radius: 50%;*/
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
/*.hotel-offers-info .hotel-offer-text-food_info:before {
    content: "i";
    display: block;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
}*/
.hotel-offers-info .hotel-offer-text_special-popup {
    position: absolute;
    /*top: 100%;*/
    padding: 8px 12px;
    margin-top: 10px;
    background-color: rgba(49,49,64,.9);
    box-shadow: 0 1px 1px rgba(0,0,0,.27);
    opacity: 0;
    transition: opacity .15s ease-out 0s;
    visibility: hidden;
    color: #fff;
    font-family: Open Sans,sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    white-space: nowrap;
    cursor: default;
    text-align: left;
}
/*.hotel-offers-info .hotel-offer-text_special-popup:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 10px;
}*/
.hotel-offers-info .hotel-offer-text_special-popup:after {
    content: "";
    bottom: 100%;
    left: 12px;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-bottom-color: rgba(49,49,64,.9);
    border-width: 8px;
}
.hotel-offers-info p.hotel-offer {
    padding: 12px 20px;
}
p.server_error { height: 55px; padding: 15px; }
#stsApp .hotel-list-content .hotel-offers-info .thm-btn {
    padding: 6px 16px;
}
#stsApp .hotel-list-content .thm-btn.dis {
    display: none;
}

#tur-form-result .more-btn {
    /*font-weight: 700;*/
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    top: 50%;
    cursor: pointer;
    color: #397c7d;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    font-weight: bold;
    padding: 15px 0;
}
#tur-form-result .more-btn-text {
    background-color: #fff;
    /*border: 2px solid #397c7d;*/
}
#tur-form-result .more-btn-text i {
    width: 16px;
    height: 16px;
    /*border: 1px solid #397c7d;*/
    border-radius: 5px;
    cursor: pointer;
    color: #397c7d;
    padding-top: 1px;
}
#tur-form-result .more-btn-text span {
    line-height: 38px;
    font-size: 10px;
    cursor: pointer;
    transition: 0.3s color;
    color: #397c7d;
    padding: 10px 0;
}
.hotel-list-content .hotel-item .hotel-body .ratting i {
    padding-left: 3px;
}
.hotel-offers-info .hotel-offer-price_and_currency.rateCurrency {
    font-size: 15px;
    border-bottom: none;
    font-weight: 500;
    color: #9797a6;
}
.hotel-person small {
    font-size: 15px !important;
    font-weight: normal;
    color: #898989;
}
.hotel-list-content .list-info-travel {
    padding-top: 5px;
}
.hotel-list-content .hotel-person span {
    font-size: 20px;
}
.row#search_hotels_name {
    padding: 0;
}
#search_hotels_name .box-hotels {
    margin: 15px 5px 20px 5px;
}
#search_hotels_name .bx-filter-parameters-box {
    padding: 0;
}
#search_hotels_name input {
    border: 1px solid #a9a9a9;
    border-radius: 2px;
}
#cnt_objects {
    display: none;
    height: 46px;
    background-color: #fff;
    border: 1px solid #ededed;
    margin-top: 20px;
}
#cnt_objects div{
    padding-left: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
}
#cnt_objects span{
    font-size: 20px;
    font-weight: 400;
}
.catalog-tour__title a {
    color: #00aae1 !important;
    text-decoration: none !important;
}
.catalog-tour__map .card__map {
    height: 322px;
}
.pagination .pagination__elem.active {
    background-color: #00aae1;
    opacity: 1;
    cursor: default;
    color: #fff;
    text-decoration: none;
}
.pagination .pagination__elem.active .pagination__link {
    color: #fff;
    text-decoration: none;
}
.pagination__elem.pagination__next a.pagination__link.pagination__btn-link, .pagination__elem.pagination__prev a.pagination__link.pagination__btn-link  {
    width: auto;
}
.preloader {
    text-align: center;
}
.item_price {width: 25%;}
.catalog-tour__list {
    box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.03);
}
.catalog-tour__list-elem {
    border-top: 1px solid #ececec;
    padding: 20px 15px;
}
.catalog-tour__list-elem-wrap {
    position: relative;
    padding-right: 160px;
    font-size: 13px;
}
.catalog-tour__list-elem-box {
    float: left;
    padding-right: 10px;
    /*margin-bottom: 6px;*/
    color: #222;
    border-right: 1px solid #ececec;
    min-height: 46px;
}
.catalog-tour__list-elem-box:nth-child(2), .catalog-tour__list-elem-box:nth-child(3) {
    padding-left: 10px;
}
.catalog-tour__list-elem-wrap:after, .catalog-tour__list-elem-wrap:before {
    content: "";
    display: table;
    clear: both;
}
.item_price {
    width: 20%;
    padding-right: 15px;
    text-align: right;
}
.item_room {
    width: 25%;
}
.item_room .icon_mans {
    font-weight: 400 !important;
}
.item_meals {
    width: 23%;
}
.item_fly {
    width: 32%;
}
.catalog-tour .catalog-tour__list-elem-btn {
    position: absolute;
    top: 3px;
    right: 2px;
    width: 139px;
    height: 48px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.catalog-tour__list-elem-wrap form {
    position: absolute;
    right: 6px;
}
.catalog-tour__list-elem-box-key {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
}
.from-icon {
    display: table;
}
.catalog-tour__list-elem-icon, .catalog-tour__list-elem-date {
    display: table-cell;
    vertical-align: top;
}
.catalog-tour__list-elem-box-key.from-icon .catalog-tour__list-elem-icon {
    padding-right: 7px;
}
.hotel-offers-info .c-button {
    padding: 12px 20px !important;
}
.item_room .catalog-tour__list-elem-box-value, .item_meals .catalog-tour__list-elem-box-value {
    line-height: 1;
}

.ts-detail-search-result {
    font-size:12px;
    display: flex;
    flex-direction: column;
    margin-top:1rem;
}
.ts-detail-search-result .ts-content-detail-search-result {
    display: flex;
    min-height: 75px;
    flex-wrap: wrap;
    border-top:1px solid #efefef;
    border-bottom:1px solid #efefef;

}
#ui-datepicker-div{
    display: none;
}
.ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result {
    display: flex;
    width: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right:1px solid #efefef;
}
.ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result:last-child{
    border-right: none;
}
.ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-item-detail-search-result {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-item-detail-search-result .ts-icon {
    width: 20px;
    position: relative;
}
.ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-item-detail-search-result .ts-icon img{
    height: auto;
    max-width: initial;
    width: auto;
}
.ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-item-detail-search-result .ts-icon:hover >  .ts-tittle   {
    opacity: 1;
    transition: 0.3s opacity;
}
.ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-item-detail-search-result .ts-icon .ts-tittle {
    background:  #55C4C6;
    color:white;
    padding: 3px 5px;
    border-radius: 4px;
    position: absolute;
    z-index: 5;
    opacity: 0;
    top:0px;
    left: 20px;
    transition: 0.3s opacity;
}

.ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-item-detail-search-result .ts-text {
    width: 60%;
}
.ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-item-detail-search-result .ts-text.ts-small{
    min-width: 100%;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
}
.ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-button-blue {
    background: #55C4C6;
    color: #ffffff;
    border-color: transparent;
    padding: 10px 20px;
    outline: none;
    transition: 0.3s background, 0.3s border-color, 0.3s color;
}
.ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-button-blue:hover {
    color: #55C4C6;
    background: #424d58;
    border-color: #424d58;
    transition: 0.3s background, 0.3s border-color, 0.3s color;
}
.ts-img-position{
    transform: translate(-4px,-3px);
}
.ts-full-size{
    width: 100% !important;
}
.ts-mx-03{
    margin-right:0.3rem;
    margin-left: 0.3rem;
}

.ts-img-positionY{
    transform: translateY(-2px);
}
@media (min-width: 1026px){
    .ts-width-first-block{
        width: 27% !important;
    }
    .ts-padding-icon{
        padding-right:10px;
        padding-bottom: 4px;
        transform: translateX(-3px);
    }
    .ts-width-price{
        width: 13% !important;
    }
    .ts-width-text{
        width: 100% !important;
    }

}
@media (max-width: 1025px) {
    .ts-detail-search-result {
        font-size: 11px;
    }
    .ts-detail-search-result .header-detail-search-result {
    }
    .ts-detail-search-result .ts-content-detail-search-result {
    }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result {
    }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-item-detail-search-result {
    }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-item-detail-search-result .ts-icon {
    }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-item-detail-search-result .ts-text {
        width: 60%; }
}
@media (max-width: 768px) {
    .ts-detail-search-result {
    }
    .ts-detail-search-result .header-detail-search-result {
    }
    .ts-detail-search-result .ts-content-detail-search-result {
    }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result {
    }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-item-detail-search-result {
    }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-item-detail-search-result .ts-icon {
    }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-item-detail-search-result .ts-text {
        width: 60%; }
}

@media (max-width: 570px) {
    .ts-detail-search-result {
    }
    .ts-detail-search-result .header-detail-search-result {
    }
    .ts-detail-search-result .ts-content-detail-search-result {
    }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result {
    }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-item-detail-search-result {
    }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-item-detail-search-result .ts-icon {
    }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-item-detail-search-result .ts-text {
        width: 60%; }
}

@media (max-width: 480px) {
    .ts-detail-search-result {
    }
    .ts-detail-search-result .header-detail-search-result {
    }
    .ts-detail-search-result .ts-content-detail-search-result {
    }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result {
        width: 50%;
        margin:5px 0;
    }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result:last-child {
        width: 100%;
    }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result:nth-child(2n) {
        border:none;
    }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-item-detail-search-result {
    }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-item-detail-search-result .ts-icon {
    }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .ts-item-detail-search-result .ts-text {
        width: 60%; }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .button{
        width:100%;
    }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .button form{
        width:100%;
    }
    .ts-detail-search-result .ts-content-detail-search-result .ts-items-detail-search-result .button form .ts-button-blue{
        width:98%;
        margin: 0 1%;
    }
}