.slides .item {
    background: #fff !important;
}
.other-tours-hor {
    display: block !important;
    margin: 0 300px 30px 0;
}
.sidebar {
    background: #fff;
}
.sidebar ul {
    padding: 15px;
}
.tours{
    flex-direction: row !important;
    flex-wrap: wrap;
}
.tour{
    background: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.tour a{
    width: 100%;
}
.tour .text-info{
    flex-grow: 2;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.tour .img{
    height: 170px;
    width: 100%;
    background-size: cover;
}

.tour.big .img{
    height: 506px;
}
.tour a {
    border-bottom: 0 !important;
}