.slides .item {
    background: #fff !important;
}
.other-tours-hor {
    display: block !important;

}
@media (min-width: 1024px) {
    .other-tours-hor {
        margin: 0 300px 30px 0;
    }
}
.sidebar {
    background: #fff;
}
.sidebar ul {
    padding: 15px;
}
