#search{
  .placeholder{
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 12px;
    font-size: 10px;
    color: rgba(1, 123, 167, 0.64);
  }
  .ts-input{
    height: 100%;
    width: 100%;
    background: white;
    width: 100%;
    input{
      margin-top: 20px !important;
      color: #017ba7 !important;
      border: 0;
      outline: none;
      background: transparent !important;
      height: auto !important;
      padding: 0 11px !important;
    }
    .select2-container{
      height: auto !important;
    }
    .select2-choice {
      margin-top: 18px;
      background: transparent !important;
      width: 100%;
      padding: 0 0 0 11px !important;
      min-height: 27px;
    }
  }
}
