
.bx-auth-reg{
  .ts-theme{
    form{

      .ts-input{
        border: 1px solid #dcdcdc !important;
      }
      input[type="checkbox"]{
        transform: translateY(1px);
      }
    }
    .dop-pol{
      li{
        list-style: none;
      }
      margin: 0 !important;
    }

  }
}