.bx-auth-reg .ts-theme form .ts-input {
  border: 1px solid #dcdcdc !important;
}
.bx-auth-reg .ts-theme .dop-pol {
  margin: 0 !important;
}
.bx-auth-reg .ts-theme .dop-pol li {
  list-style: none;
}

/*# sourceMappingURL=reg.css.map */
