.bx-auth-reg{
  .ts-theme{
    form{

      .ts-input{
        border: 1px solid #dcdcdc !important;
      }
    }
    .dop-pol{
      li{
        list-style: none;
      }
      margin: 0 !important;
    }
  }
}