/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	}
body {line-height:1;}
ul {list-style:none;}
:focus {outline:0;}
ins {text-decoration:none;}
del {text-decoration:line-through;}
table {
	border-collapse:collapse;
	border-spacing:0;
	}

/* Global */
html, body {
	background:#f6f2ec;
	color:#000;
	font:16px/22px Roboto, Arial, Helvetica;

min-width:1000px;
	}
a, a:visited,
a span, a:visited span {
	border-bottom:1px solid rgba(0,101,147,.3);
	color:#006593;
	text-decoration:none;
	}
	a:hover, a:visited:hover,
	a:hover span, a:visited:hover span {
		border-bottom:1px solid rgba(255,90,0,.3);
		color:#ff5a00;
		}
a.flashlink, a.flashlink span,
a.flashlink:visited, a.flashlink:visited span,
	a.flashlink:hover, a.flashlink:visited:hover,
	a.flashlink:hover span, a.flashlink:visited:hover span {border-bottom-style:dashed;}
p {margin:20px 0;}
ul {
	margin:0;
	list-style:none;
	}
	li {line-height:22px;}
blockquote {
	color:#888;
	font-style:italic;
	margin:0 30px;
	}
.left {float:left;}
.right {float:right;}
.clear {clear:both;}
.none {display:none;}
.container {
	margin:0 auto;
	max-width:1400px;
	overflow:hidden;
	}
.container.col1,
.container.col2,
.pp .container {padding:0 30px 30px;}
h1 {
	font-size:30px;
	line-height:34px;
	font-weight:300;
	}
.price {display:none;}
body.default .price.default,
body.byn .price.byn,
body.usd .price.usd,
body.eur .price.eur,
body.gbp .price.gbp {display:block;}

.pp .container {
	background:#fff;
	width:550px;
	}
	.pp p.title {
		font-size:35px;
		line-height:35px;
		font-weight:300;
		background:#f6f2ec;
		margin:0 -30px;
		padding:20px 100px 20px 30px;
		}
	.pp p.sub-title {
		font-weight:700;
		margin:30px 0 0;
		}
	.pp p.message {margin:20px 0 0;}
	.pp dl {margin:30px 0 20px;}
		.pp dt {margin-top:20px;}
			input[type="text"],
			textarea {
				background:#fff;
				border:1px solid #dcdcdc;
				font:18px/22px Roboto, Arial, Helvetica;
				padding:2%;
				margin:10px 0 0;
				width:96%;
				}
			input[type="text"].error,
			textarea.error {
				border:1px solid red;
				}
			textarea {height:70px;}
			input[type="text"]:focus,
			textarea:focus {background:#fff3dc;}
	.pp button {
		background:#ff5a00;
		border:0;
		font-family:Roboto, Arial, Helvetica;
		padding:15px 30px;
		color:#fff;
		cursor:pointer;
		float:left;
		font-size:25px;
		}
		.pp button:hover {
			background:#ff7200;
			color:#fff;
			}
		.pp button:active {
			background:#ff4800;
			padding:16px 30px 14px;
			}
body .fancybox-skin {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	}
body .fancybox-overlay {background:rgba(0,101,147,.7);}
body a.fancybox-close {
	position:absolute;
	right:20px;
	top:20px;
	height:35px;
	width:35px;
	background:url(close-button.png) top no-repeat;
	border:0;
	}
	body a.fancybox-close:hover {background-position:center -35px;}
	body a.fancybox-close:active {
		background-position:center -70px;
		top:21px;
		}
body .fancybox-skin {padding:0;}

/* Structure */
#header {
	background:#2cc3f0 url(header-bg.jpg) no-repeat center;
	color:#fff;
	font-size:18px;
	overflow:hidden;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	}
	#header .container {max-width:1460px;}
		#header-top {
			overflow:hidden;
			padding:15px 30px 10px;
			}
			#header #logo {
				background:url(../img/logo.png) no-repeat 0 0;
				border:0;
				display:block;
				float:left;
				height:87px;
				width:220px;
				}
			#header p {
				font-style:italic;
				margin:0;
				padding:36px 0 0;
				margin-bottom:7px;
				float:left;
				width:40%;
				}
			.button-border-wrap {float:right;}
				a.button-border,
				a.button-border:hover,
				a.button-border:visited,
				a.button-border:visited:hover {
					border:3px solid rgba(255,255,255,.7);
					color:#fff;
					display:block;
					margin-top:22px;
					text-align:center;
					padding:11px 20px;
					}
				a.button-border:hover,
				a.button-border:visited:hover {background:rgba(255,255,255,.2);}
				a.button-border:active {
					background:none;
					padding:12px 20px 10px;
					}
					a.button-border span,
					a.button-border:hover span,
					a.button-border:visited span,
					a.button-border:visited:hover span {
						border-color:rgba(255,255,255,.3);
						color:#fff;
						}
		#header ul.contacts {
			border-top:2px solid rgba(255,255,255,.3);
			overflow:hidden;
			padding:0 30px;
			}
			#header ul.contacts li {
				font-size:16px;
				float:left;
				line-height:52px;
				margin-right:25px;
				}
				#header ul.contacts li span {color:#bdefff;}
			#header ul.contacts li.address {
				margin:0;
				float:right;
				font-size:16px;
				padding-left:0;
				}
				#header ul.contacts li.address a {
					border-color:rgba(255,255,255,.3);
					color:#fff;
					}
.tours-simple-list {
	padding:0 30px 30px;
	overflow:hidden;
	}
	.tours-simple-list ul {
		margin:0 -2% 0 0;
		word-spacing:-0.25em;
		}
		.tours-simple-list li {
			background:#fff;
			text-align:top;
			vertical-align:top;
			margin:0 2% 2% 0;
			padding-bottom:20px;
			width:23%;
			display:-moz-inline-box;
			display:inline-block;
			*zoom:1;
			*display:inline;
			word-spacing:normal;
			}
		.tours-simple-list li:last-child {margin-bottom:0;}
		.tours-simple-list li.big {width:48%;}
			.tours-simple-list li a {
				border:0;
				display:block;
				}
				.tours-simple-list li a span.img {
					background-position:center;
					background-repeat:no-repeat;
					border:0;
					display:block;
					height:170px;
					width:100%;

					-webkit-background-size:cover;
					-moz-background-size:cover;
					-o-background-size:cover;
					background-size:cover;
					}
				.tours-simple-list li.big a span.img {height:300px;}
				.tours-simple-list li a b.title {
					font-size:18px;
					margin:20px;
					display:block;
					}
			.tours-simple-list p.route {
				color:#898989;
				font-style:italic;
				font-size:14px;
				line-height:20px;
				margin:20px;
				}
			.tours-simple-list .price {
				font-size:20px;
				font-weight:700;
				color:#ff5a00;
				margin-left:20px;
				float:left;
				}
			.tours-simple-list .per {
				margin-right:20px;
				float:right;
				line-height:25px;
				}
.tours-list {overflow:hidden;}
	.tours-list ul {}
		.tours-list li {
			background:#fff;
			margin:0 0 20px;
			overflow:hidden;
			position:relative;
			}
			.tours-list li a.img {
				border:0;
				display:block;
				height:187px;
				float:left;
				width:25%;
				margin-right:30px;

				background-position:center;
				background-repeat:no-repeat;

				-webkit-background-size:cover;
				-moz-background-size:cover;
				-o-background-size:cover;
				background-size:cover;
				}
			.tours-list li .info {
				margin:15px 20px 20px 28%;
				overflow:hidden;
				}
				.tours-list li a.title {
					font-size:20px;
					font-weight:700;
					border:0;
					padding-bottom:2px;
					max-height:48px;
					line-height:24px;
					overflow:hidden;
					display:block;
					position:relative;
					margin:0 0 20px;
					}
					.tours-list li a.title i.fog {
						background:url(../img/fog.png) left repeat-y;
						display:block;
						position:absolute;
						right:0;
						bottom:0;
						height:24px;
						width:150px;
						}
				.tours-list p.route {
					color:#898989;
					font-style:italic;
					font-size:14px;
					line-height:20px;
					max-height:40px;
					overflow:hidden;
					display:block;
					position:relative;
					margin:0 0 20px;
					}
					.tours-list li p.route i.fog {
						background:url(../img/fog.png) left no-repeat;
						display:block;
						position:absolute;
						right:0;
						bottom:0;
						height:20px;
						width:150px;
						}
				.tours-list p.desc {
					font-size:16px;
					line-height:20px;
					max-height:40px;
					overflow:hidden;
					display:block;
					position:relative;
					margin:0 0 20px;
					}
					.tours-list li p.desc i.fog {
						background:url(../img/fog.png) left no-repeat;
						display:block;
						position:absolute;
						right:0;
						bottom:0;
						height:20px;
						width:150px;
						}
				.tours-list ul.dates {
					float:left;
					height:22px;
					margin-right:50px;
					overflow:hidden;
					}
					.tours-list ul.dates li {
						float:left;
						margin:0 20px 0 0;
						font-size:18px;
						}
				.tours-list .price {
					background:url(../img/fog.png) repeat-y;
					font-size:30px;
					font-weight:700;
					color:#ff5a00;
					position:absolute;
					padding-left:100px;
					right:20px;
					}
				.tours-list .per {display:none;}

.country-menu {
	background:#fff;
	overflow:hidden;
	margin-bottom:40px;
	}
	.country-menu .container {padding:0 30px;}
		.country-title,
		.country-title-mobile {
			background-repeat:no-repeat;
			background-position:0 25px;
			padding-left:40px;
			font-size:35px;
			font-weight:300;
			line-height:68px;
			margin:0 40px 0 0;
			float:left;
			}
		.country-title-mobile {
			float:none;
			display:none;
			}
			.country-title-mobile a {border-width:2px;}
			.country-menu ul a {
				border:0;
				display:block;
				float:left;
				font-size:18px;
				line-height:68px;
				padding:0 15px;
				}
			.country-menu ul li.active a {background:#0daae8;}
				.country-menu ul li.active a span {
					border:0;
					color:#fff;
					}
.col1 h1,
.col2 h1 {margin-bottom:20px;}
.col1 h2,
.col2 h2 {
	font-size:24px;
	line-height:28px;
	font-weight:700;
	}
.content {
	padding:10px 30px 0;
	overflow:hidden;
	background:#fff;
	margin:0 0 30px;
	}
	.content h2 {margin:20px 0;}
.col1 .content {margin:0 0 30px 0;}
.col2 .content {margin:0 0 30px 0;}
	.col2 .content ol,
	.col2 .content ul {margin:30px 0 30px 60px;}
		.col2 .content ol li,
		.col2 .content ul li {margin:10px 0;}
		.col2 .content ul li {list-style: disc;}
	.col2 .content ul.selectboxit-list {margin:0;}
		.col2 .content ul.selectboxit-list li {
			list-style:none;
			margin:0;
			}
	.col1 .content ol,
	.col1 .content ul {margin:30px 0 30px 60px;}
		.col1 .content ol li,
		.col1 .content ul li {margin:20px 0;}
		.col1 .content ul li {list-style: disc;}
.tour .route {
	color:#898989;
	font-size:18px;
	font-style:italic;
	margin-bottom:20px;
	}
.gallery {
	overflow:hidden;
	height:480px;
	overflow:hidden;
	background:#fff;
	}
.gallery.slick-slider {margin:0;}
	.gallery .slick-dots {bottom:0;}
		.gallery .slick-dots li button {
			background:url(../img/pagination.png) 0 0;
			overflow:hidden;
			border:0;
			}
			.gallery .slick-dots li.slick-active button,
			.gallery .slick-dots li.slick-active button:hover {background-position:0 -17px}
			.gallery .slick-dots li button:hover {background-position:0 -34px}
	.gallery span {
		float:left;
		width:100%;
		height:450px;

		background-position:center;
		background-repeat:no-repeat;

		-webkit-background-size:cover;
		-moz-background-size:cover;
		-o-background-size:cover;
		background-size:cover;
		}
.tour-info {}
	.tour-info .tour-desc {margin-bottom:40px;}
		.tour-info .tour-desc h3 {font-size: 18px;}
	.tour-info .tabs {display:none;}
	.days {}
		.col2 .content .days ul {
			margin:0 0 30px;
			overflow:hidden;
			}
			.col2 .content .days ul li {
				list-style:none;
				overflow:hidden;
				margin:0;
				}
			.days p {margin:0 0 20px;}
				.days .num {
					text-align:right;
					width:100px;
					margin:0 20px 20px 0;
					float:left;
					font-size:35px;
					font-weight:300;
					line-height:35px;
					}
				.days .info {margin-left:120px;}
				.days .title {
					font-size:18px;
					font-weight:700;
					height:auto;
					margin:0 20px 20px 0;
					line-height:22px;
					}
	.route-map {display:none;}
	.hotels {}
		.hotels h2.select-title {
			line-height:58px;
			margin-bottom:0;
			}
		.title-note {
			margin:0 0 20px;
			font-style:italic;
			}
		.hotels h3 {
			font-size:18px;
			margin:20px 0 5px;
			}
.tour-info .dates {margin:20px 0 40px;}
	.table-wrap {overflow:auto;}
		.dates table {
			border:1px solid #dcdcdc;
			min-width:500px;
			}
			.dates table tr:hover {background:#fff3dc;}
				.dates table td {
					border:1px solid #dcdcdc;
					padding:10px 15px;
					}
				.dates table td.price {
					color:#ff5a00;
					font-weight:700;
					}
.hotels-list {
	margin:10px -10px;
	overflow:hidden;
	}
	.col2 .content .hotels-list ul {
		margin:0;
		word-spacing:-0.25em;
		}
		.col2 .content .hotels-list li {
			list-style:none;
			text-align:top;
			vertical-align:top;
			padding-bottom:15px;
			margin:0 0 10px 0;
			width:33.3%;
			display:-moz-inline-box;
			display:inline-block;
			*zoom:1;
			*display:inline;
			word-spacing:normal;
			}
		.hotels-list li.active {background:#f2ece3;}
			.hotels-list li a {
				padding:10px 10px 0;
				border:0;
				display:block;
				}
				.hotels-list li a span.img {
					background-position:center;
					background-repeat:no-repeat;
					border:0;
					display:block;
					height:170px;
					width:100%;
					margin-bottom:7px;

					-webkit-background-size:cover;
					-moz-background-size:cover;
					-o-background-size:cover;
					background-size:cover;
					}
				.hotels-list li a span.stars {
					background:url(../img/star.png) right no-repeat;
					padding-right:20px;
					color:#ff8a00;
					font-size:20px;
					font-weight:700;
					border:0;
					}
				.hotels-list li a b.title {
					font-size:18px;
					margin:0;
					display:block;
					font-weight:400;
					}
			.hotels-list p.meal {
				color:#898989;
				font-style:italic;
				font-size:16px;
				line-height:20px;
				margin:3px 10px 0;
				}
			.hotels-list .price {
				font-size:20px;
				font-weight:700;
				color:#ff5a00;
				margin:3px 10px 0;
				float:left;
				}
			.price.request {
				font-style:italic;
				font-weight:400;
				font-size:18px;
				}
.hotel h1 span.stars {
	background:url(../img/star-big.png) right no-repeat;
	padding-right:25px;
	margin-right:7px;
	color:#ff8a00;
	font-weight:700;
	border:0;
	}
.tour-note {
	background:#eadfd1;
	margin:0 -30px;
	padding:5px 30px 30px;
	}
	.tour-note h2 {margin-top:25px;}
	.col2 .content .tour-note ul {margin:20px 0 20px 60px;}
	.col2 .content .tour-note li {margin:10px 0;}
.tour-bottom {
	text-align:center;
	margin-top:30px;
	}
	.tour-bottom h2 {
		font-size:18px;
		margin:0;
		}
	.tour-bottom .price {
		font-size:30px;
		font-weight:700;
		color:#ff5a00;
		padding:15px 0 30px;
		}
	a.orange-button-bottom {
		background:#ff5a00;
		color:#fff;
		border:0;
		text-align:center;
		margin:0 -30px -10px;
		padding:15px 30px;
		line-height:normal;
		font-size:25px;
		display:block;
		}
	a.orange-button-bottom:hover {
		background:#ff7200;
		color:#fff;
		}
	a.orange-button-bottom:active {
		background:#ff4800;
		padding:16px 30px 14px;
		}
.other-tours-hor h2 {
	font-size:30px;
	font-weight:300;
	line-height:35px;
	margin-bottom:25px;
	}
.sidebar .tour-card {
	background:#fff;
	padding:0 20px;
	margin-bottom:20px;
	}
	.tour-card a {border:0;}
	.tour-card h2 {
		font-size:18px;
		font-weight:700;
		padding:18px 0 10px 0;
		text-align:center;
		}
	.tour-card .price {
		font-weight:700;
		color:#ff5a00;
		
		text-align:center;
		font-size:42px;
		margin-top:12px;
		cursor:pointer;
		}
	.tour-card .no-price {
		font-weight:700;
		color:#ff5a00;
		
		text-align:center;
		font-size:20px;
		margin-bottom:20px;
		}
	.tour-card .price-note {text-align:center;}
	.tour-card a.orange-button {
		background:#ff5a00;
		color:#fff;
		border:0;
		text-align:center;
		margin:0 -20px;
		padding:15px 30px;
		line-height:normal;
		font-size:25px;
		display:block;
		}
	a.orange-button:hover {
		background:#ff7200;
		color:#fff;
		}
	a.orange-button:active {
		background:#ff4800;
		padding:16px 30px 14px;
		}
	.tour-card a.blue-button {
		background:#cfeefa;
		border:0;
		text-align:center;
		margin:0 -20px;
		line-height:48px;
		font-size:18px;
		font-weight:700;
		display:block;
		}
	.tour-card a.blue-button:hover {background:#fff3dc;}
		.tour-card a.blue-button span {border-width:2px;}
	.tour-card .dates li {
		overflow:hidden;
		position:relative;
		font-size:18px;
		padding:6px 20px;
		margin:0 -20px;
		border-top:1px solid #dcdcdc;
		}
	.tour-card .dates li:hover {background:#fff3dc;}
		.tour-card .dates .per {
			color:#898989;
			display:block;
			font-style:italic;
			font-size:14px;
			}
		.tour-card .dates .price {
			font-size:18px;
			position:absolute;
			top:6px;
			right:20px;
			}
	.doc-link {
		background:url(../img/doc-icon.png) left 9px no-repeat;
		display:block;
		padding:10px 0 10px 40px;
		}
	.pdf-link {
		background:url(../img/pdf-icon.png) left 9px no-repeat;
		display:block;
		padding:10px 0 10px 40px;
		}
.col1 .resorts ul {margin:0;}
	.col1 .resorts ul li {
		line-height:26px;
		list-style:none;
		}
.col1 .resorts > ul {
	float:left;
	width:25%;
	}
	.col1 .resorts > ul > li {
		margin:0 30px 20px 0;
		font-size:18px;
		}
	.col1 .resorts > ul > li > ul {
		margin-left:20px;
		}
.resorts .clear {
	border-bottom:1px solid #dcdcdc;
	margin:0 -30px;
	padding-top:10px;
	}
.sidebar .tour-manager {
	background:#fff;
	padding:0 20px 5px;
	text-align:center;
	font-size:18px;
	}
	.sidebar .tour-manager.group div {
		margin:15px 0;
		padding-top:15px;
		border-top:1px solid #dcdcdc;
		}
		.sidebar .tour-manager h2 {
			font-size:18px;
			font-weight:700;
			padding:18px 0 0 0;
			}
		.sidebar .tour-manager img {
			margin:15px 0 0;
			height:120px;
			width:120px;
			-webkit-border-radius:90px;
			-moz-border-radius:90px;
			border-radius:90px;
			}
		.sidebar .tour-manager p {margin:15px 0;}
		.sidebar .tour-manager p.name {margin:0;}
		.sidebar .tour-manager .skype {
			background:url(../img/skype-gray.png) 0 2px no-repeat;
			padding-left:25px;
			line-height:30px;
			}
		.sidebar .tour-manager .mail {
			background:url(../img/mail-gray.png) 0 6px no-repeat;
			border:0;
			padding-left:25px;
			line-height:30px;
			}
.sidebar {
	float:right;
	margin-left:20px;
	width:280px;
	}
	.sidebar .filter {
		background:#fff;
		padding:0 20px 3px 20px;
		}
		.sidebar .filter a {border:0;}
		.sidebar .filter sup {
			color:#898989;
			font-size:12px;
			position:relative;
			font-weight:400;
			top:-4px;
			}
		.sidebar .filter h2 {
			font-size:24px;
			font-weight:700;
			padding:18px 0 13px 0;
			}
		.sidebar .filter ul {
			padding-bottom:11px;
			}
			.sidebar .filter li {
				font-size:16px;
				line-height:24px;
				}
			.sidebar .filter li.active {font-weight:700;}
.sidebar.awards {
	background:#fff;
	padding:20px 20px 0;
	width:240px;
	}
	.sidebar.awards a {
		border:0;
		display:block;
		margin-bottom:14px;
		}
		.awards a img {
			width:100%;
			}
	.sidebar.awards a.blue-button {
		background:#cfeefa;
		border:0;
		text-align:center;
		margin:0 -20px;
		line-height:48px;
		font-size:18px;
		font-weight:700;
		display:block;
		}
	.sidebar.awards a.blue-button:hover {background:#fff3dc;}
		.sidebar.awards a.blue-button span {border-width:2px;}
ul.tours {}
	ul.tours li {
		background:#fff;
		text-align:top;
		vertical-align:top;
		padding-bottom:20px;
		margin-bottom:20px;
		display:block;
		overflow:hidden;
		}
		ul.tours li a {
			border:0;
			display:block;
			}
			ul.tours li a span.img {
				background-position:center;
				background-repeat:no-repeat;
				border:0;
				display:block;
				height:170px;
				width:100%;

				-webkit-background-size:cover;
				-moz-background-size:cover;
				-o-background-size:cover;
				background-size:cover;
				}
			ul.tours li a b.title {
				font-size:18px;
				margin:20px;
				display:block;
				}
		ul.tours li p.route {
			color:#898989;
			font-style:italic;
			font-size:14px;
			line-height:20px;
			margin:20px;
			}
		ul.tours li .price {
			font-size:20px;
			font-weight:700;
			color:#ff5a00;
			margin-left:20px;
			float:left;
			}
		ul.tours li .per {
			margin-right:20px;
			float:right;
			line-height:25px;
			}


#menu,
#search,
.fast-bar,
.country-menu,
.button-border-wrap,
.other-tours-hor,
.countries,
.tour-bottom,
.tour-card a.orange-button,
.tour-card a.blue-button,
.doc-link,
.pdf-link,
#footer,
.tr-var.hotels,
.share,
#show-all-dates
{display:none;}
.tour,
.visa {margin-top:20px;}
.visa .sidebar {display:none;}
.tour .gallery {display:none;}
.tour div p.directions {
	color:#898989;
	margin:10px 0 0;
	font-style:normal;
	font-size:16px;
	}
