/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	}
body {line-height:1;}
ul {list-style:none;}
:focus {outline:0;}
ins {text-decoration:none;}
del {text-decoration:line-through;}
table {
	border-collapse:collapse;
	border-spacing:0;
	}

/* Global */
html, body {
	background:#f6f2ec;
	color:#000;
	font:16px/22px Roboto, Arial, Helvetica;
	}
a, a:visited,
a span, a:visited span {
	border-bottom:1px solid rgba(0,101,147,.3);
	color:#006593;
	text-decoration:none;
	}
	a:hover, a:visited:hover,
	a:hover span, a:visited:hover span {
		border-bottom:1px solid rgba(255,90,0,.3);
		color:#ff5a00;
		}
a.flashlink, a.flashlink span,
a.flashlink:visited, a.flashlink:visited span,
	a.flashlink:hover, a.flashlink:visited:hover,
	a.flashlink:hover span, a.flashlink:visited:hover span {border-bottom-style:dashed;}
p {margin:20px 0;}
ul {
	margin:0;
	list-style:none;
	}
	li {line-height:22px;}
blockquote {
	color:#888;
	font-style:italic;
	margin:0 30px;
	}
.left {float:left;}
.right {float:right;}
.clear {clear:both;}
.none {display:none;}
.container {
	margin:0 auto;
	max-width:1400px;
	overflow:hidden;
	}
.container.col1,
.container.col2,
.pp .container {padding:0 30px 30px;}
h1 {
	font-size:30px;
	line-height:34px;
	font-weight:300;
	}
.price {display:none;}
body.default .price.default,
body.byr .price.byr,
body.usd .price.usd,
body.eur .price.eur,
body.gbp .price.gbp {display:block;}
body.default table td.price.default,
body.byr table td.price.byr,
body.usd table td.price.usd,
body.eur table td.price.eur,
body.gbp table td.price.gbp {display:table-cell;}

.pp .container {
	background:#fff;
	width:550px;
	}
@media only screen
and (max-width : 730px) {
.pp .container {width:450px;}
}
@media only screen
and (max-width : 620px) {
.pp .container {width:350px;}
}
@media only screen
and (max-width : 480px) {
.pp .container {width:auto;}
}
	.pp p.title {
		font-size:35px;
		line-height:35px;
		font-weight:300;
		background:#f6f2ec;
		margin:0 -30px;
		padding:20px 100px 20px 30px;
		}
	.pp p.sub-title {
		font-weight:700;
		margin:30px 0 0;
		}
	.pp p.message {margin:20px 0 0;}
	.pp dl {margin:30px 0 20px;}
		.pp dt {margin-top:20px;}
			input[type="text"],
			textarea {
				background:#fff;
				border:1px solid #dcdcdc;
				font:18px/22px Roboto, Arial, Helvetica;
				padding:2%;
				margin:10px 0 0;
				width:96%;
				}
			input[type="text"].error,
			textarea.error {
				border:1px solid red;
				}
			textarea {height:70px;}
			input[type="text"]:focus,
			textarea:focus {background:#fff3dc;}
	.pp button {
		background:#ff5a00;
		border:0;
		font-family:Roboto, Arial, Helvetica;
		padding:15px 30px;
		color:#fff;
		cursor:pointer;
		float:left;
		font-size:25px;
		}
		.pp button:hover {
			background:#ff7200;
			color:#fff;
			}
		.pp button:active {
			background:#ff4800;
			padding:16px 30px 14px;
			}
body .fancybox-skin {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	}
body .fancybox-overlay {background:rgba(0,101,147,.7);}
body a.fancybox-close {
	position:absolute;
	right:20px;
	top:20px;
	height:35px;
	width:35px;
	background:url(../img/close-button.png) top no-repeat;
	border:0;
	}
	body a.fancybox-close:hover {background-position:center -35px;}
	body a.fancybox-close:active {
		background-position:center -70px;
		top:21px;
		}
body .fancybox-skin {padding:0;}

/* Structure */
#header {
	background:#2cc3f0 url(../img/header-bg.jpg) no-repeat center;
	color:#fff;
	font-size:18px;
	overflow:hidden;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	}
	#header .container {max-width:1460px;}
		#header-top {
			overflow:hidden;
			padding:15px 30px 10px;
			}
			#header #logo {
				background:url(../img/logo.png) no-repeat 0 0;
				border:0;
				display:block;
				float:left;
				height:87px;
				width:190px; /*width:220px;*/
				}
			#header p {
				font-style:italic;
				margin:0;
				padding:36px 0 0;
				margin-bottom:7px;
				float:left;
				width:40%;
				}
			.button-border-wrap {float:right;}
				a.button-border,
				a.button-border:hover,
				a.button-border:visited,
				a.button-border:visited:hover {
					border:3px solid rgba(255,255,255,.7);
					color:#fff;
					display:block;
					margin-top:22px;
					text-align:center;
					padding:11px 20px;
					}
				a.button-border:hover,
				a.button-border:visited:hover {background:rgba(255,255,255,.2);}
				a.button-border:active {
					background:none;
					padding:12px 20px 10px;
					}
					a.button-border span,
					a.button-border:hover span,
					a.button-border:visited span,
					a.button-border:visited:hover span {
						border-color:rgba(255,255,255,.3);
						color:#fff;
						}
@media only screen
and (max-width : 1050px) {
			#header p {width:30%;}
}
@media only screen
and (max-width : 910px) {
		#header-top {padding:20px 30px 15px;}
			#header #logo {
				margin:0 auto;
				float:none;
				width:150px;
				}
			#header p {
				float:none;
				text-align:center;
				padding-top:20px;
				width:100%;
				}
			.button-border-wrap {
				float:none;
				margin:0 auto;
				width:70%;
				}
}
@media only screen
and (max-width : 600px) {
			.button-border-wrap {display:none;}
			/*.button-border-wrap {width:100%;}*/
}
		#header ul.contacts {
			background:url(../img/head-phone-icon.png) 30px center no-repeat;
			border-top:2px solid rgba(255,255,255,.3);
			overflow:hidden;
			padding:0 30px 0 68px;
			}
			#header ul.contacts li {
				font-size:20px;
				float:left;
				line-height:52px;
				margin-right:25px;
				}
				#header ul.contacts li span {color:#bdefff;}
			#header ul.contacts li.address {
				margin:0;
				float:right;
				font-size:18px;
				background:url(../img/head-marker-icon.png) left center no-repeat;
				padding-left:29px;
				}
				#header ul.contacts li.address a {
					border-color:rgba(255,255,255,.3);
					color:#fff;
					}
@media only screen
and (max-width : 1140px) {
			#header ul.contacts li {font-size:18px;}
}
@media only screen
and (max-width : 1070px) {
			#header ul.contacts li {font-size:16px;}
			#header ul.contacts li.address {font-size:16px;}
}
@media only screen
and (max-width : 980px) {
		#header ul.contacts {
			background:none;
			padding:0 30px;
			}
			#header ul.contacts li.address {
				background:none;
				padding-left:0;
				}
}
@media only screen
and (max-width : 910px) {
		#header ul.contacts {display:none;}
		/*#header ul.contacts {
			border:0;
			padding:5px 30px 20px;
			overflow:hidden;
			}
			#header ul.contacts li {
				float:none;
				text-align:center;
				font-size:20px;
				margin:0;
				line-height:35px;
				}
			#header ul.contacts li.address {
				font-size:18px;
				float:left;
				width:100%;
				text-align:center;
				}*/
}
@media only screen
and (max-width : 500px) {
			#header ul.contacts li {text-align:left;}
			#header ul.contacts li.address {text-align:left;}
}
#menu {
	background:#f6f2ec;
	min-height:72px;
	overflow:hidden;
	padding:0 10px;
	}
	#menu .container {max-width:1440px;}
		a#menu-button {
			display:none;
			text-align:center;
			border:0;
			padding:0 20px;
			line-height:72px;
			font-size:20px;
			}
			a#menu-button span {
				border-bottom-width:2px;
				padding-bottom:2px;
				}
		#menu ul {float:left;}
		#menu ul.right {float:right;}
			#menu ul li {float:left;}
				#menu ul li a {
					display:block;
					border:0;
					padding:0 20px;
					line-height:72px;
					font-size:20px;
					}
					#menu ul li a span {
						border-bottom-width:2px;
						padding-bottom:2px;
						}
					#menu ul li.imp a span {
						border-color:rgba(255,90,0,.3);
						color:#ff5a00;
						font-weight:700;
						}
				#menu ul a.active,
				#menu ul a.active:hover {background:#0daae8;}
					#menu ul a.active span,
					#menu ul a.active:hover span {
						border:0;
						color:#fff;
						}
@media only screen
and (max-width : 1050px) {
				#menu ul li a {font-size:18px;}
}
@media only screen
and (max-width : 1140px) {
#menu {padding:0 15px;}
				#menu ul li a {
					padding:0 15px;
					font-size:18px;
					}
}
@media only screen
and (max-width : 990px) {
#menu {padding:0;}
		a#menu-button {display:block;}
		#menu ul {
			float:none;
			display:none;
			}
		#menu ul.right {float:none;}
			#menu ul li {float:none;}
				#menu ul li a {
					text-align:center;
					font-size:20px;
					}
		#menu ul.hide {display:block;}
}
#search {
	background:#ffc556;
	padding:30px;
	}
#search .container {overflow:visible;}
	#search .title {
		color:#8d6a27;
		float:left;
		clear:both;
		width:20%;
		}
		#search .title h2 {
			font-size:35px;
			font-weight:300;
			line-height:38px;
			}
	#search form {
		float:left;
		width:80%;
		}
		#search button {
			background:#ff5a00;
			border:0;
			padding:0;
			color:#fff;
			cursor:pointer;
			float:left;
			font-size:25px;
			font-weight:700;
			line-height:60px;
			width:19%;
			}
			#search button span {
				background:url(../img/search.png) no-repeat;
				padding-left:36px;
				}
			#search button img {
				display:block;
				float:left;
				margin:17px -20px 0 20px;
				}
		#search button:hover {
			background:#ff7200;
			color:#fff;
			}
		#search button:active {
			background:#ff4800;
			line-height:58px;
			padding-top:2px;
			}
@media only screen
and (max-width : 1090px) {
#search .title h2 {font-size:30px;}
}
@media only screen
and (max-width : 1005px) {
#search .title {display:none;}
#search form {width:100%;}
}
@media only screen
and (max-width : 860px) {
	#search .title {
		text-align:center;
		display:block;
		float:none;
		width:100%;
		margin-bottom:15px;
		}
#search .title h2 {font-size:35px;}
		#search button {
			float:none;
			width:100%;
			}
}
.countries {
	background:#fff;
	padding:21px 30px;
	overflow:hidden;
	}
	.countries ul {}
		.countries ul a {
			background-repeat:no-repeat;
			border:0;
			line-height:36px;
			float:left;
			width:14%;
			margin-right:2%;
			font-size:18px;
			}
@media only screen
and (max-width : 1350px) {
		.countries ul a {width:18%;}
}
@media only screen
and (max-width : 1100px) {
		.countries ul a {width:23%;}
}
@media only screen
and (max-width : 850px) {
		.countries ul a {width:31.3%;}
}
@media only screen
and (max-width : 700px) {
		.countries ul a {width:48%;}
}
@media only screen
and (max-width : 450px) {
		.countries ul a {width:98%;}
		.countries.mainpage {display:none;}
}
			.countries ul a span {
				border:0;
				display:block;
				float:left;
				margin:4px 10px 0 0;
				height:24px;
				width:24px;
				}
.fast-bar {
	font-size:18px;
	overflow:hidden;
	padding:20px 30px 16px;
	}
	.fast-bar .container {overflow:visible;}
		.fast-bar .container > ul {
			float:left;
			width:70%;
			overflow:hidden;
			height:25px;
			}
			.fast-bar .container > ul a {
				border:0;
				color:#898989;
				float:left;
				margin-right:20px;
				}
		#curr {
			float:right;
			width:30%;
			}
			#curr ul {
				float:right;
				margin-top:-4px;
				overflow:hidden;
				}
				#curr li {float:left;}
				#curr li.text {padding:4px 13px 4px 8px;}
				body.default #curr li.default,
				body.byr #curr li.byr,
				body.usd #curr li.usd,
				body.eur #curr li.eur,
				body.gbp #curr li.gbp {
					background:#eadfd1;
					border:0;
					display:block;
					}
				body.default #curr li.default a span,
				body.byr #curr li.byr a span,
				body.usd #curr li.usd a span,
				body.eur #curr li.eur a span,
				body.gbp #curr li.gbp a span {
					border:0;
					color:#6e6254;
					}
			#curr a {
				border:0;
				padding:4px 8px;
				display:block;
				}
@media only screen
and (max-width : 950px) {
	.fast-bar .container > ul {
		float:none;
		padding-top:10px;
		width:100%;
		}
	#curr {
		float:left;
		width:100%;
		}
		#curr ul {float:left;}
			#curr li {float:left;}
			#curr li.text {padding:4px 13px 4px 0;}
}
@media only screen
and (max-width : 700px) {
	.fast-bar .container > ul {display:none;}
}
@media only screen
and (max-width : 370px) {
.fast-bar {font-size:16px;}
			#curr li.text {padding:4px 9px 4px 0;}
			#curr a {padding:4px 6px;}
}
.tours-simple-list {
	padding:0 30px 30px;
	overflow:hidden;
	}
	.tours-simple-list ul {
		margin:0 -2% 0 0;
		word-spacing:-0.25em;
		}
		.tours-simple-list li {
			background:#fff;
			text-align:top;
			vertical-align:top;
			margin:0 2% 2% 0;
			padding-bottom:20px;
			width:23%;
			display:-moz-inline-box;
			display:inline-block;
			*zoom:1;
			*display:inline;
			word-spacing:normal;
			}
		.tours-simple-list li:last-child {margin-bottom:0;}
		.tours-simple-list li.big {width:48%;}
			.tours-simple-list li a {
				border:0;
				display:block;
				}
				.tours-simple-list li a span.img {
					background-position:center;
					background-repeat:no-repeat;
					border:0;
					display:block;
					height:170px;
					width:100%;

					-webkit-background-size:cover;
					-moz-background-size:cover;
					-o-background-size:cover;
					background-size:cover;
					}
				.tours-simple-list li.big a span.img {height:300px;}
				.tours-simple-list li a b.title {
					font-size:18px;
					margin:20px;
					display:block;
					}
			.tours-simple-list p.route {
				color:#898989;
				font-style:italic;
				font-size:14px;
				line-height:20px;
				margin:20px;
				}
			.tours-simple-list p.desc {
				margin:20px;
				}
			.tours-simple-list .price {
				font-size:20px;
				font-weight:700;
				color:#ff5a00;
				margin-left:20px;
				float:left;
				}
			.tours-simple-list .per {
				margin-right:20px;
				float:right;
				line-height:25px;
				}
@media only screen
and (max-width : 1200px) {
		.tours-simple-list li,
		.tours-simple-list li.big {width:31.3%;}
				.tours-simple-list li.big a span.img {height:170px;}
		.tours-simple-list li:last-child {display:none;}
}
@media only screen
and (max-width : 900px) {
		.tours-simple-list li {width:48%;}
		.tours-simple-list li.big {width:98%;}
				.tours-simple-list li.big a span.img {height:300px;}
		.tours-simple-list li:last-child {
			display:-moz-inline-box;
			display:inline-block;
			}
}
@media only screen
and (max-width : 570px) {
		.tours-simple-list li {
			width:98%;
			margin-bottom:5%;
			}
				.tours-simple-list li.big a span.img {height:170px;}
}
@media only screen
and (max-width : 450px) {
		.tours-simple-list li {margin-bottom:8%;}
}
.tours-list {overflow:hidden;}
	.tours-list ul {}
		.tours-list li {
			background:#fff;
			margin:0 0 20px;
			overflow:hidden;
			position:relative;
			}
			.tours-list li a.img {
				border:0;
				display:block;
				height:187px;
				float:left;
				width:25%;
				margin-right:30px;

				background-position:center;
				background-repeat:no-repeat;

				-webkit-background-size:cover;
				-moz-background-size:cover;
				-o-background-size:cover;
				background-size:cover;
				}
			.tours-list li .info {
				margin:15px 20px 20px 28%;
				overflow:hidden;
				}
				.tours-list li a.title {
					font-size:20px;
					font-weight:700;
					border:0;
					padding-bottom:2px;
					max-height:48px;
					line-height:24px;
					overflow:hidden;
					display:block;
					position:relative;
					margin:0 0 20px;
					}
					.tours-list li a.title i.fog {
						background:url(../img/fog.png) left repeat-y;
						display:block;
						position:absolute;
						right:0;
						bottom:0;
						height:24px;
						width:150px;
						}
				.tours-list p.route {
					color:#898989;
					font-style:italic;
					font-size:14px;
					line-height:20px;
					max-height:40px;
					overflow:hidden;
					display:block;
					position:relative;
					margin:0 0 20px;
					}
					.tours-list li p.route i.fog {
						background:url(../img/fog.png) left no-repeat;
						display:block;
						position:absolute;
						right:0;
						bottom:0;
						height:20px;
						width:150px;
						}
				.tours-list p.desc {
					font-size:16px;
					line-height:20px;
					max-height:40px;
					overflow:hidden;
					display:block;
					position:relative;
					margin:0 0 20px;
					}
					.tours-list li p.desc i.fog {
						background:url(../img/fog.png) left no-repeat;
						display:block;
						position:absolute;
						right:0;
						bottom:0;
						height:20px;
						width:150px;
						}
				.tours-list ul.dates {
					float:left;
					height:22px;
					margin-right:50px;
					overflow:hidden;
					}
					.tours-list ul.dates li {
						float:left;
						margin:0 20px 0 0;
						font-size:18px;
						}
				.tours-list .price {
					background:url(../img/fog.png) repeat-y;
					font-size:30px;
					font-weight:700;
					color:#ff5a00;
					position:absolute;
					padding-left:100px;
					right:20px;
					}
				.tours-list .per {display:none;}

@media only screen
and (max-width : 1180px) {
			.tours-list li a.img {width:35%;}
			.tours-list li .info {margin-left:38%;}
}
@media only screen
and (max-width : 1000px) {
			.tours-list li a.img {width:30%;}
			.tours-list li .info {margin-left:33%;}
}
@media only screen
and (max-width : 800px) {
			.tours-list li a.img {width:40%;}
			.tours-list li .info {margin-left:43%;}
}
@media only screen
and (max-width : 570px) {
.tours-list {}
	.tours-list ul {}
		.tours-list li {
			overflow:hidden;
			position:relative;
			}
			.tours-list li a.img {
				border:0;
				display:block;
				height:170px;
				float:none;
				width:100%;
				margin:0;

				background-position:center;
				background-repeat:no-repeat;

				-webkit-background-size:cover;
				-moz-background-size:cover;
				-o-background-size:cover;
				background-size:cover;
				}
			.tours-list li .info {
				margin:20px;
				overflow:hidden;
				}
				.tours-list li a.title {
					font-size:18px;
					max-height:none;
					}
					.tours-list li a.title i.fog {display:none;}
				.tours-list p.route {
					color:#898989;
					font-style:italic;
					font-size:14px;
					line-height:20px;
					max-height:none;
					}
					.tours-list li p.route i.fog {display:none;}
				.tours-list p.desc {
					font-size:16px;
					line-height:20px;
					max-height:40px;
					overflow:hidden;
					display:block;
					position:relative;
					}
					.tours-list li p.desc i.fog {display:none;}
				.tours-list ul.dates {display:none;}
				.tours-list .price {
					background:none;
					font-size:20px;
					position:inherit;
					padding-left:inherit;
					right:auto;
					float:left;
					}
				.tours-list .per {
					display:block;
					float:right;
					line-height:25px;
					}
}
.country-menu {
	background:#fff;
	overflow:hidden;
	margin-bottom:40px;
	}
	.country-menu .container {padding:0 30px;}
		.country-title,
		.country-title-mobile {
			background-repeat:no-repeat;
			background-position:0 25px;
			padding-left:40px;
			font-size:35px;
			font-weight:300;
			line-height:68px;
			margin:0 40px 0 0;
			float:left;
			}
		.country-title-mobile {
			float:none;
			display:none;
			}
			.country-title-mobile a {border-width:2px;}
			.country-menu ul a {
				border:0;
				display:block;
				float:left;
				font-size:18px;
				line-height:68px;
				padding:0 15px;
				}
			.country-menu ul li.active a {background:#0daae8;}
				.country-menu ul li.active a span {
					border:0;
					color:#fff;
					}
			.country-menu ul a.important {
				border:3px solid #ffc556;
				line-height:62px;
				}
				.country-menu ul a.important span {
					border-bottom-color:rgba(255,90,0,.3);
					color:#ff5a00;
					font-weight:bold;
					}
				.country-menu ul a.important:hover {background:#fff3dd;}
.country-desc {padding:0 30px 40px;}
@media only screen
and (max-width : 990px) {
		.country-title {
			background-position:0 22px;
			font-size:24px;
			}
}
@media only screen
and (max-width : 880px) {
		.country-title {
			background-position:0 25px;
			font-size:35px;
			float:none;
			}
}
@media only screen
and (max-width : 620px) {
		.country-menu ul {display:none;}
			.country-menu ul a {
				padding:0 15px 0 40px;
				float:none;
				}
		.country-title {display:none}
		.country-title-mobile {
			display:block;
			background-position:0 25px;
			font-size:35px;
			}
		.country-menu ul.hide {display:block;}
}
@media only screen
and (max-width : 400px) {
		.country-title-mobile {
			background-position:0 22px;
			font-size:24px;
			font-weight:400;
			}
}
.col1 h1,
.col2 h1 {margin-bottom:20px;}
.col1 h2,
.col2 h2 {
	font-size:24px;
	line-height:28px;
	font-weight:700;
	}
.content {
	padding:10px 30px;
	overflow:hidden;
	background:#fff;
	margin:0 0 30px;
	}
	.content h2 {margin:20px 0;}
.col1 .content {margin:0 0 30px 0;}
.col2 .content {margin:0 300px 30px 0;}
@media only screen
and (max-width : 1000px) {
.col2 .content {margin-right:0;}
}
@media only screen
and (max-width : 500px) {
.col1 .content,
.col2 .content {margin:0 -30px 30px;}
}
	.col2 .content ol,
	.col2 .content ul {margin:30px 0 30px 60px;}
		.col2 .content ol li,
		.col2 .content ul li {margin:10px 0;}
		.col2 .content ul li {list-style: disc;}
	.col2 .content ul.selectboxit-list {margin:0;}
		.col2 .content ul.selectboxit-list li {
			list-style:none;
			margin:0;
			}
	.col1 .content ol,
	.col1 .content ul {margin:30px 0 30px 60px;}
		.col1 .content ol li,
		.col1 .content ul li {margin:20px 0;}
		.col1 .content ul li {list-style: disc;}
.tour .route {
	color:#898989;
	font-size:18px;
	font-style:italic;
	margin-bottom:20px;
	}
.gallery {
	overflow:hidden;
	height:480px;
	overflow:hidden;
	background:#fff;
	}
.gallery.slick-slider {margin:0;}
	.gallery .slick-dots {bottom:0;}
		.gallery .slick-dots li button {
			background:url(../img/pagination.png) 0 0;
			overflow:hidden;
			border:0;
			}
			.gallery .slick-dots li.slick-active button,
			.gallery .slick-dots li.slick-active button:hover {background-position:0 -17px}
			.gallery .slick-dots li button:hover {background-position:0 -34px}
	.gallery span {
		float:left;
		width:100%;
		height:450px;

		background-position:center;
		background-repeat:no-repeat;

		-webkit-background-size:cover;
		-moz-background-size:cover;
		-o-background-size:cover;
		background-size:cover;
		}
@media only screen
and (max-width : 1150px) {
.gallery {height:400px;}
	.gallery span {height:370px;}
}
@media only screen
and (max-width : 750px) {
.gallery {height:350px;}
	.gallery span {height:320px;}
}
@media only screen
and (max-width : 550px) {
.gallery {height:300px;}
	.gallery span {height:270px;}
}
@media only screen
and (max-width : 500px) {
.gallery.slick-slider {margin:0 -30px;}
}
.tour-info {}
	.tour-info .tour-desc {margin-bottom:40px;}
		.tour-info .tour-desc h3 {font-size: 18px;}
	.tour-info .tabs {
		overflow:hidden;
		margin:0 -30px 25px;
		font-size:24px;
		font-weight:700;
		}
		.tour-info .tabs a {
			border:0;
			padding:20px 0;
			display:block;
			float:left;
			background:#cfeefa url(../img/tabs-icons.png) no-repeat;
			width:50%;
			}
		.tour-info .tabs a:hover {background-color:#fff3dc;}
			.tour-info .tabs a span {
				border-width:2px;
				margin:0 30px 0 65px;
				}
		.tour-info .tabs a.active {background-color:#0daae8;}
			.tour-info .tabs a.active span {
				border:0;
				color:#fff;
				}
		.tour-info .tabs a.days-link {background-position:30px -81px;}
			.tour-info .tabs a.days-link:hover {background-position:30px -30px;}
			.tour-info .tabs a.days-link.active {background-position:30px 21px;}
			.tour-info .tabs a.days-link.active:hover {background-position:30px 21px;}
		.tour-info .tabs a.route-map-link {background-position:30px -234px;}
			.tour-info .tabs a.route-map-link:hover {background-position:30px -183px;}
			.tour-info .tabs a.route-map-link.active {background-position:30px -132px;}
			.tour-info .tabs a.route-map-link.active:hover {background-position:30px -132px;}
.days {}
	.tour-info .days h2 {display:none;}
		.col2 .content .days ul {
			margin:0 0 30px;
			overflow:hidden;
			}
			.col2 .content .days ul li {
				list-style:none;
				overflow:hidden;
				margin:0;
				}
			.days p {margin:0 0 20px;}
				.days .num {
					text-align:right;
					width:100px;
					margin:0 20px 20px 0;
					float:left;
					font-size:35px;
					font-weight:300;
					line-height:35px;
					}
				.days .info {
					margin-left:120px;
					min-height:35px;
					}
@media only screen
and (max-width : 750px) {
				.days .num {
					width:60px;
					margin:0 20px 20px 0;
					font-size:25px;
					font-weight:400;
					line-height:25px;
					text-align:left;
					}
				.days .info {margin-left:80px;}
}
				.days .title {
					font-size:18px;
					font-weight:700;
					height:auto;
					min-height:inherit;
					margin:0 20px 20px 0;
					line-height:22px;
					}
	.route-map {}
	.tour-info .route-map h2 {display:none;}
		.route-map.none {
			display:block;
			position:relative;
			height:0;
			left:-100000px;
			}
		.route-map iframe {
			border:0;
			height:450px;
			width:100%;
			}
@media only screen
and (max-width : 750px) {
	.tour-info .tabs {display:none;}
	.tour-info .days h2 {display:block;}
	.tour-info .route-map h2 {display:block;}
		.route-map.none {
			display:block;
			position:inherit;
			height:517px;
			left:0;
			}
.days.none {display:block;}
}
	.hotels {}
		.hotels .content {overflow:inherit;}
			.hotels h2.select-title {
				line-height:58px;
				margin:0;
				}
			.tour .hotels h2.select-title {margin-top:20px;}
@media only screen
and (max-width : 800px) {
		.hotels h2.select-title {
			line-height:30px;
			margin:20px 0;
			}
		.tour .hotels h2.select-title {margin:40px 0 20px;}
}
		.title-note {
			margin:0 0 20px;
			font-style:italic;
			}
		.hotels h3 {
			font-size:18px;
			margin:20px 0 5px;
			}
.tour-info .dates {margin:20px 0 40px;}
	.table-wrap {overflow:auto;}
		.dates table {
			border:1px solid #dcdcdc;
			min-width:700px;
			width:100%;
			}
			.dates table tr:hover {background:#fff3dc;}
				.dates table td {
					border:1px solid #dcdcdc;
					padding:10px 15px;
					}
				.dates table td.price {
					color:#ff5a00;
					font-weight:700;
					}
.hotels-list {
	margin:10px -10px;
	overflow:hidden;
	}
	.col2 .content .hotels-list ul {
		margin:0;
		word-spacing:-0.25em;
		}
		.col2 .content .hotels-list li {
			list-style:none;
			text-align:top;
			vertical-align:top;
			padding-bottom:15px;
			margin:0 0 10px 0;
			width:33.3%;
			display:-moz-inline-box;
			display:inline-block;
			*zoom:1;
			*display:inline;
			word-spacing:normal;
			}
		.hotels-list li.active {background:#f2ece3;}
			.hotels-list li a {
				padding:10px 10px 0;
				border:0;
				display:block;
				}
				.hotels-list li a span.img {
					background-position:center;
					background-repeat:no-repeat;
					border:0;
					display:block;
					height:170px;
					width:100%;
					margin-bottom:7px;

					-webkit-background-size:cover;
					-moz-background-size:cover;
					-o-background-size:cover;
					background-size:cover;
					}
				.hotels-list li a span.stars {
					background:url(../img/star.png) right no-repeat;
					padding-right:20px;
					color:#ff8a00;
					font-size:20px;
					font-weight:700;
					border:0;
					}
				.hotels-list li a b.title {
					font-size:18px;
					margin:0;
					display:block;
					font-weight:400;
					}
			.hotels-list p.meal {
				color:#898989;
				font-style:italic;
				font-size:16px;
				line-height:20px;
				margin:3px 10px 0;
				}
			.hotels-list .price {
				font-size:20px;
				font-weight:700;
				color:#ff5a00;
				margin:3px 10px 0;
				float:left;
				}
			.price.request {
				font-style:italic;
				font-weight:400;
				font-size:18px;
				}
.hotel h1 span.stars {
	background:url(../img/star-big.png) right no-repeat;
	padding-right:25px;
	margin-right:7px;
	color:#ff8a00;
	font-weight:700;
	border:0;
	}
@media only screen
and (max-width : 1150px) {
		.col2 .content .hotels-list li {width:50%;}
}
@media only screen
and (max-width : 570px) {
		.col2 .content .hotels-list li {
			width:100%;
			margin-bottom:5%;
			}
}
@media only screen
and (max-width : 450px) {
		.col2 .content .hotels-list li {margin-bottom:8%;}
}
.tour-note {
	background:#eadfd1;
	margin:0 -30px;
	padding:5px 30px 30px;
	}
	.tour-note h2 {margin-top:25px;}
	.col2 .content .tour-note ul {margin:20px 0 20px 60px;}
	.col2 .content .tour-note li {margin:10px 0;}
@media only screen
and (max-width : 750px) {
	.col2 .content .tour-note ul {margin:20px 0 20px 20px;}
}
.tour-bottom {
	text-align:center;
	margin-top:30px;
	}
	.tour-bottom h2 {
		font-size:18px;
		margin:0;
		}
	.tour-bottom .price {
		font-size:30px;
		font-weight:700;
		color:#ff5a00;
		padding:15px 0 30px;
		}
	a.orange-button-bottom {
		background:#ff5a00;
		color:#fff;
		border:0;
		text-align:center;
		margin:0 -30px -10px;
		padding:15px 30px;
		line-height:normal;
		font-size:25px;
		display:block;
		}
	a.orange-button-bottom:hover {
		background:#ff7200;
		color:#fff;
		}
	a.orange-button-bottom:active {
		background:#ff4800;
		padding:16px 30px 14px;
		}
.other-tours-hor h2 {
	font-size:30px;
	font-weight:300;
	line-height:35px;
	margin-bottom:25px;
	}
.sidebar .tour-card {
	background:#fff;
	padding:0 20px 18px;
	margin-bottom:20px;
	}
	.tour-card a {border:0;}
	.tour-card h2 {
		font-size:18px;
		font-weight:700;
		padding:18px 0 10px 0;
		}
	.tour-card .price {
		font-size:30px;
		font-weight:700;
		color:#ff5a00;
		}
	.tour-card .price-note {margin-left:20px;}
	.tour-card a.orange-button {
		background:#ff5a00;
		color:#fff;
		border:0;
		text-align:center;
		margin:0 -20px;
		padding:15px 30px;
		line-height:normal;
		font-size:25px;
		display:block;
		}
	a.orange-button:hover {
		background:#ff7200;
		color:#fff;
		}
	a.orange-button:active {
		background:#ff4800;
		padding:16px 30px 14px;
		}
	.tour-card a.blue-button,
	.tour-info .dates a.blue-button {
		background:#cfeefa;
		border:0;
		text-align:center;
		margin:0 -20px;
		line-height:48px;
		font-size:18px;
		font-weight:700;
		display:block;
		}
	.tour-info .dates a.blue-button {margin:0;}
	.tour-card a.blue-button:hover,
	.tour-info .dates a.blue-button:hover {background:#fff3dc;}
		.tour-card a.blue-button span,
		.tour-info .dates a.blue-button span {border-width:2px;}
	.tour-card .dates li {
		overflow:hidden;
		position:relative;
		font-size:18px;
		padding:6px 20px;
		margin:0 -20px;
		border-top:1px solid #dcdcdc;
		}
	.tour-card .dates li:hover {background:#fff3dc;}
		.tour-card .dates .per {
			color:#898989;
			display:block;
			font-style:italic;
			font-size:14px;
			}
		.tour-card .dates .price {
			font-size:18px;
			position:absolute;
			top:6px;
			right:20px;
			}
	.doc-link {
		background:url(../img/doc-icon.png) left 9px no-repeat;
		display:block;
		padding:10px 0 10px 40px;
		}
	.pdf-link {
		background:url(../img/pdf-icon.png) left 9px no-repeat;
		display:block;
		padding:10px 0 10px 40px;
		}
.col1 .resorts ul {margin:0;}
	.col1 .resorts ul li {
		line-height:26px;
		list-style:none;
		}
.col1 .resorts > ul {
	float:left;
	width:25%;
	}
	.col1 .resorts > ul > li {
		margin:0 30px 20px 0;
		font-size:18px;
		}
	.col1 .resorts > ul > li > ul {
		margin-left:20px;
		}
.resorts .clear {
	border-bottom:1px solid #dcdcdc;
	margin:0 -30px;
	padding-top:10px;
	}
@media only screen
and (max-width : 1150px) {
.col1 .resorts > ul {
	width:33.3%;
	}
}
@media only screen
and (max-width : 900px) {
.col1 .resorts > ul {
	width:50%;
	}
}
@media only screen
and (max-width : 600px) {
.col1 .resorts > ul {
	width:100%;
	}
}
.sidebar .tour-manager {
	background:#fff;
	padding:0 20px 5px;
	text-align:center;
	font-size:18px;
	}
	.sidebar .tour-manager h2 {
		font-size:18px;
		font-weight:700;
		padding:18px 0 0 0;
		}
	.sidebar .tour-manager.group div {
		margin:15px 0;
		padding-top:15px;
		border-top:1px solid #dcdcdc;
		}
		.sidebar .tour-manager img {
			margin:15px 0 0;
			height:120px;
			width:120px;
			-webkit-border-radius:90px;
			-moz-border-radius:90px;
			border-radius:90px;
			}
		.sidebar .tour-manager p {margin:15px 0;}
		.sidebar .tour-manager p.name {margin:0;}
		.sidebar .tour-manager .skype {
			background:url(../img/skype-gray.png) 0 2px no-repeat;
			padding-left:25px;
			line-height:30px;
			}
		.sidebar .tour-manager .mail {
			background:url(../img/mail-gray.png) 0 6px no-repeat;
			border:0;
			padding-left:25px;
			line-height:30px;
			}
.sidebar {
	float:right;
	margin-left:20px;
	width:280px;
	}
	.sidebar .filter {
		background:#fff;
		padding:0 20px 3px 20px;
		}
		.sidebar .filter a {border:0;}
		.sidebar .filter sup {
			color:#898989;
			font-size:12px;
			position:relative;
			font-weight:400;
			top:-4px;
			}
		.sidebar .filter h2 {
			font-size:24px;
			font-weight:700;
			padding:18px 0 13px 0;
			}
		.sidebar .filter ul {
			padding-bottom:11px;
			}
			.sidebar .filter li {
				font-size:16px;
				line-height:24px;
				}
			.sidebar .filter li.active {font-weight:700;}
.sidebar.awards {
	background:#fff;
	padding:20px 20px 0;
	width:240px;
	}
	.sidebar.awards a {
		border:0;
		display:block;
		margin-bottom:14px;
		}
		.awards a img {
			width:100%;
			}
	.sidebar.awards a.blue-button {
		background:#cfeefa;
		border:0;
		text-align:center;
		margin:0 -20px;
		line-height:48px;
		font-size:18px;
		font-weight:700;
		display:block;
		}
	.sidebar.awards a.blue-button:hover {background:#fff3dc;}
		.sidebar.awards a.blue-button span {border-width:2px;}
@media only screen
and (max-width : 1000px) {
.blog .sidebar,
.post .sidebar,
.resort .sidebar,
.hotel .sidebar,
.about .sidebar,
.about-country .sidebar,
.tourist-info .sidebar,
.visa .sidebar,
.tours-page .sidebar {display:none}
}
@media only screen
and (max-width : 1000px) {
.tour .sidebar {
	float:none;
	margin:0 auto;
	width:100%;
	max-width:500px;
	}
.sidebar .tour-card {text-align:center;}
	.tour-card .price-note {margin-left:0;}
	.tour-card ul.dates,
	.doc-link,
	.pdf-link {
		text-align:left;
		margin:0 auto;
		}
}
ul.tours {}
	ul.tours li {
		background:#fff;
		text-align:top;
		vertical-align:top;
		padding-bottom:20px;
		margin-bottom:20px;
		display:block;
		overflow:hidden;
		}
		ul.tours li a {
			border:0;
			display:block;
			}
			ul.tours li a span.img {
				background-position:center;
				background-repeat:no-repeat;
				border:0;
				display:block;
				height:170px;
				width:100%;

				-webkit-background-size:cover;
				-moz-background-size:cover;
				-o-background-size:cover;
				background-size:cover;
				}
			ul.tours li a b.title {
				font-size:18px;
				margin:20px;
				display:block;
				}
		ul.tours li p.route {
			color:#898989;
			font-style:italic;
			font-size:14px;
			line-height:20px;
			margin:20px;
			}
		ul.tours li .price {
			font-size:20px;
			font-weight:700;
			color:#ff5a00;
			margin-left:20px;
			float:left;
			}
		ul.tours li .per {
			margin-right:20px;
			float:right;
			line-height:25px;
			}
.actions-main {
	background:#fff;
	padding:45px 30px;
	text-align:center;
	overflow:hidden;
	}
.actions-main .container {overflow:visible;}
	.actions-main h2 {
		font-size:35px;
		font-weight:300;
		margin-bottom:35px;
		line-height:30px;
		}
	.slides .slick-list,
	.slides .item-list {margin-right:-30px;}
		.slides .item {
			background:#0daae8;
			border:0;
			display:block;
			margin-right:30px;
			}
			.slides .item span.img {
				background-position:center;
				background-repeat:no-repeat;
				border:0;
				display:block;
				height:170px;
				width:100%;

				-webkit-background-size:cover;
				-moz-background-size:cover;
				-o-background-size:cover;
				background-size:cover;
				}
			.slides .item:hover {background:#29c2ff;}
				.slides .item:hover span.img {opacity:.9;}
			.slides .item:active,
			.slides .item:focus {background:#0c99d0;}
				.slides .item:active span.img,
				.slides .item:focus span.img {opacity:1;}
			.slides .item span.num {
				border:0;
				color:#fff;
				font-size:24px;
				font-weight:700;
				display:block;
				margin:15px 20px 10px;
				}
			.slides .item span.title {
				border:0;
				color:#fff;
				display:block;
				margin:10px 20px 20px;
				font-weight:300;
				font-size:18px;
				}
		.slides .slick-dots li button {
			background:url(../img/pagination.png) 0 0;
			overflow:hidden;
			border:0;
			}
			.slides .slick-dots li.slick-active button,
			.slides .slick-dots li.slick-active button:hover {background-position:0 -17px}
			.slides .slick-dots li button:hover {background-position:0 -34px}
.actions .item-list {
	margin:20px -2% 0 0;
	word-spacing:-0.25em;
	}
	.actions .item {
		background:#0daae8;
		border:0;
		display:block;
		text-align:center;
		vertical-align:top;
		margin:0 2% 2% 0;
		width:31.3%;
		display:-moz-inline-box;
		display:inline-block;
		*zoom:1;
		*display:inline;
		word-spacing:normal;
		}
		.actions .item span.img {
			background-position:center;
			background-repeat:no-repeat;
			border:0;
			display:block;
			height:170px;
			width:100%;

			-webkit-background-size:cover;
			-moz-background-size:cover;
			-o-background-size:cover;
			background-size:cover;
			}
		.actions .item:hover {background:#29c2ff;}
			.actions .item:hover span.img {opacity:.9;}
		.actions .item:active,
		.actions .item:focus {background:#0c99d0;}
			.actions .item:active span.img,
			.actions .item:focus span.img {opacity:1;}
		.actions .item span.num {
			border:0;
			color:#fff;
			font-size:24px;
			font-weight:700;
			display:block;
			margin:15px 20px 10px;
			}
		.actions .item span.title {
			border:0;
			color:#fff;
			display:block;
			margin:10px 20px 20px;
			font-weight:300;
			font-size:18px;
			}
.actions .content ul {margin:20px 0 30px 20px;}
	.actions .content ul li {margin:10px 0;}
@media only screen
and (max-width : 1100px) {
	.actions .item {width:48%;}
}
@media only screen
and (max-width : 700px) {
	.actions .item {width:98%;}
}
.last-posts {
	padding:45px 30px;
	overflow:hidden;
	}
	.last-posts h2 {
		font-size:35px;
		font-weight:300;
		line-height:30px;
		margin-bottom:35px;
		text-align:center;
		}
	.last-posts ul {margin-right:-5%;}
		.last-posts li {
			float:left;
			margin-bottom:35px;
			margin-right:5%;
			width:20%;
			}
			.last-posts li span.date {
				color:#898989;
				font-style:italic;
				display:block;
				margin:7px 30px 0 0;
				}
			.last-posts li a {font-size:18px;}
@media only screen
and (max-width : 1100px) {
		.last-posts li {width:45%;}
}
@media only screen
and (max-width : 600px) {
		.last-posts li {
			float:none;
			width:100%;
			}
}
.mainpage-note {
	padding:0px 30px 45px;
	overflow:hidden;
	color:#898989;
	font-size:16px;
	}
.mainpage-note p {margin:0;}
.contacts .phones {
	overflow:hidden;
	word-spacing:-0.25em;
	}
	.contacts .phones div {
		margin:5px 0 0;
		width:25%;

		text-align:top;
		vertical-align:top;
		display:-moz-inline-box;
		display:inline-block;
		*zoom:1;
		*display:inline;
		word-spacing:normal;
		}
@media only screen
and (max-width : 1050px) {
	.contacts .phones div {width:33.3%;}
}
@media only screen
and (max-width : 800px) {
	.contacts .phones div {width:50%;}
}
@media only screen
and (max-width : 570px) {
	.contacts .phones div {width:100%;}
}
		.contacts .phones div p.title {
			font-weight:700;
			font-size:18px;
			}
		.contacts .phones div p {
			margin:5px 0;
			font-size:22px;
			line-height:32px;
			}
	.contacts p.mail {
		font-size:22px;
		line-height:32px;
		}
	.contacts .address {
		font-size:18px;
		line-height:26px;
		margin:30px 0;
		}
	.contacts .office {
		overflow:hidden;
		margin:30px 0 40px;
		}
		.office-map {
			float:left;
			height:400px;
			overflow:hidden;
			width:50%;
			}
		.contacts .office .photo {
			background:url(../img/office.jpg) center no-repeat;
			height:400px;
			float:left;
			width:50%;

			-webkit-background-size:cover;
			-moz-background-size:cover;
			-o-background-size:cover;
			background-size:cover;
			}
@media only screen
and (max-width : 1000px) {
		.office-map {
			float:none;
			height:400px;
			width:100%;
			}
		.contacts .office .photo {
			height:400px;
			float:none;
			width:100%;
			}
}
	.contacts .workers {
		overflow:hidden;
		word-spacing:-0.25em;
		text-align:center;
		}
		.contacts .workers h2 {word-spacing:normal;}
		.contacts .workers div {
			background:#fff;
			padding:18px 20px 5px;
			text-align:center;
			font-size:18px;
			border:1px solid #dcdcdc;
			width:240px;
			margin:0 10px 20px;

			text-align:top;
			vertical-align:top;
			display:-moz-inline-box;
			display:inline-block;
			*zoom:1;
			*display:inline;
			word-spacing:normal;
			}
			.contacts .workers div img {
				margin:15px 0 0;
				height:120px;
				width:120px;
				-webkit-border-radius:90px;
				-moz-border-radius:90px;
				border-radius:90px;
				}
			.contacts .workers div p {margin:15px 0;}
			.contacts .workers div p.name {margin:0;}
			.contacts .workers div p.title,
			.contacts .workers div p.directions,
			.tour div p.directions {
				color:#898989;
				margin:10px 0 0;
				font-style:italic;
				font-size:16px;
				}
			.contacts .workers div p.directions,
			.tour div p.directions {font-style:normal;}
			.contacts .workers div .skype {
				background:url(../img/skype-gray.png) 0 0px no-repeat;
				padding-left:25px;
				line-height:30px;
				font-size:15px;
				}
			.contacts .workers div .mail {
				background:url(../img/mail-gray.png) 0 4px no-repeat;
				border:0;
				padding-left:25px;
				line-height:30px;
				font-size:15px;
				}
@media only screen
and (max-width : 440px) {
		.contacts .workers div {
			width:89%;
			margin:0 0 20px;
			padding:18px 5% 5px;
			}
			.contacts .workers div .skype,
			.contacts .workers div .mail {
				background:none;
				font-size:14px;
				padding:0;
				}
}
.blog .content {
	background:none;
	padding:0;
	}
.blog .sidebar ul {
	background:#fff;
	padding:18px 20px;
	margin-bottom:20px;
	}
	.blog .sidebar li {
		font-size:18px;
		line-height:36px;
		}
		.blog .sidebar li.active {font-weight:700;}
	.blog .content ul.posts {margin:0;}
		.blog .content ul.posts li {
			background:#fff;
			padding:1.5%;
			list-style:none;
			margin:0 0 2%;
			overflow:hidden;
			}
			.blog .content ul.posts li a.img {
				border:0;
				display:block;
				height:187px;
				float:left;
				width:25%;
				margin-right:30px;

				background-position:center;
				background-repeat:no-repeat;

				-webkit-background-size:cover;
				-moz-background-size:cover;
				-o-background-size:cover;
				background-size:cover;
				}
			.blog .content ul.posts li .info {
				margin:0 0 0 28%;
				overflow:hidden;
				}
			.blog .content ul.posts li .date {font-style:italic;}
			.blog .content ul.posts li h2 {
				font-size:20px;
				margin:0;
				}
@media only screen
and (max-width : 1180px) {
			.blog .content ul.posts li a.img {width:35%;}
			.blog .content ul.posts li .info {margin-left:38%;}
}
@media only screen
and (max-width : 1000px) {
			.blog .content ul.posts li a.img {width:30%;}
			.blog .content ul.posts li .info {margin-left:33%;}
}
@media only screen
and (max-width : 800px) {
		.blog .content ul.posts li {
			padding:3%;
			margin:0 0 3%;
			}
			.blog .content ul.posts li a.img {width:40%;}
			.blog .content ul.posts li .info {margin-left:43%;}
}
@media only screen
and (max-width : 600px) {
		.blog .content ul.posts li {
			padding:4%;
			margin:0 0 4%;
			}
			.blog .content ul.posts li a.img {
				float:none;
				width:100%;
				}
			.blog .content ul.posts li .info {margin:20px 0 0;}
}
@media only screen
and (max-width : 400px) {
		.blog .content ul.posts li {
			padding:6%;
			margin:0 0 6%;
			}
}
.post img {
	display:block;
	margin:0 auto;
	max-width:100%;
	}
.other-posts {
	padding:0 30px 30px;
	overflow:hidden;
	}
	.other-posts h2 {
		font-size:30px;
		font-weight:300;
		line-height:35px;
		margin-bottom:25px;
		}
		.other-posts ul {
			overflow:hidden;
			margin-right:-2%;
			word-spacing:-0.25em;
			}
			.other-posts li {
				background:#fff;
				padding:1.5%;
				list-style:none;
				margin:0 2% 2% 0;
				overflow:hidden;
				width:20%;
	
				text-align:top;
				vertical-align:top;
				display:-moz-inline-box;
				display:inline-block;
				*zoom:1;
				*display:inline;
				word-spacing:normal;
				}
				.other-posts li a.img {
					border:0;
					display:block;
					height:187px;
					width:100%;
					margin-right:30px;
	
					background-position:center;
					background-repeat:no-repeat;
	
					-webkit-background-size:cover;
					-moz-background-size:cover;
					-o-background-size:cover;
					background-size:cover;
					}
				.other-posts li .info {
					margin:20px 0 0;
					overflow:hidden;
					}
				.other-posts li .date {font-style:italic;}
				.other-posts li h3 {
					font-size:20px;
					line-height:28px;
					margin:0 0 5px;
					}
@media only screen
and (max-width : 1200px) {
		.other-posts li {width:28.3%;}
}
@media only screen
and (max-width : 800px) {
		.other-posts ul {margin-right:-3%;}
			.other-posts li {
				padding:3%;
				margin:0 3% 3% 0;
				width:41%;
				}
}
@media only screen
and (max-width : 600px) {
		.other-posts ul {margin-right:0;}
			.other-posts li {
				padding:4%;
				margin:0 4% 4% 0;
				width:92%;
				}
}
@media only screen
and (max-width : 400px) {
		.other-posts ul {margin-right:0;}
			.other-posts li {
				padding:6%;
				margin:0 6% 6% 0;
				width:88%;
				}
}
.pages {
	float:right;
	position:relative;
	right:50%;
	margin:30px 0 0;
	}
	.blog .content .pages ul {margin:0;}
	.pages ul {
		position:relative;
		right:-50%;
		}
	.content .pages ul {margin:0;}
	.content .pages ul li {
		margin:0;
		list-style:none;}
		.blog .content .pages ul li {
			list-style:none;
			margin:0;
			}
		.pages ul li {
			font-size:24px;
			float:left;
			}
		.blog .content .pages ul li.active,
		.pages ul li.active {
			padding:10px 18px;
			background:#0daae8;
			color:#fff;
			margin:0 5px;
			}
			.pages ul li a {
				padding:10px 18px;
				display:block;
				position:relative;
				background:#fff;
				margin:0 5px;
				border:0;
				}
a.show-more-button {
	font-size:24px;
	padding:15px 30px;
	display:block;
	position:relative;
	background:#fff;
	margin:20px 0 0;
	text-align:center;
	border:0;
	}
.agencies .content,
.feedbacks .content {margin-right:370px;}
	.agencies .content a.orange-button-bottom {margin-top:30px;}
.agencies .sidebar,
.feedbacks .sidebar {width:350px;}
	.agencies a.orange-button {
		background:#ff5a00;
		color:#fff;
		border:0;
		text-align:center;
		margin:0;
		line-height:30px;
		font-size:25px;
		padding:30px;
		display:block;
		float:none;
		margin-bottom:20px;
		}
		.agencies a.orange-button span {
			font-style:italic;
			color:#fff;
			display:block;
			font-size:20px;
			border:0;
			}
	.agencies a.orange-button:hover {
		background:#ff7200;
		color:#fff;
		}
	.agencies a.orange-button:active {
		background:#ff4800;
		padding:31px 0 29px;
		}
	.agencies .sidebar a.word-file {
		background:#fff url(../img/word-icon.png) 30px 20px no-repeat;
		border:0;
		display:block;
		padding:25px 25px 25px 90px;
		margin-bottom:5px;
		}
.feedbacks .content {
	background:none;
	padding:0;
	}
	.feedbacks .content .message {
		background:#fff;
		border-bottom:1px solid #dcdcdc;
		padding:10px 30px 10px;
		}
		.feedbacks .content .message .date {font-weight:700;}
		.feedbacks .content .message .answer {
			font-style:italic;
			margin-left:50px;
			}
.sidebar .add-feedback {
	background:#fff;
	overflow:hidden;
	}
	.sidebar dl {margin:10px 20px 15px;}
	.sidebar .add-feedback h2 {margin:20px 20px 0;}
	.sidebar p.message {margin:0 20px 20px;}
	.sidebar .add-feedback .note {
		color:#898989;
		font-style:italic;
		margin:10px 0;
		}
	.sidebar .add-feedback textarea {height:110px;}
	.sidebar .add-feedback button {
		background:#ff5a00;
		border:0;
		color:#fff;
		cursor:pointer;
		font-size:25px;
		line-height:normal;
		padding:15px 30px;
		display:block;
		text-align:center;
		width:100%;
		}
		.sidebar .add-feedback button:hover {
			background:#ff7200;
			color:#fff;
			}
		.sidebar .add-feedback button:active {
			background:#ff4800;
			padding:16px 30px 14px;
			}
@media only screen
and (max-width : 1000px) {
.agencies .content,
.feedbacks .content {margin-right:0;}
.agencies .sidebar,
.feedbacks .sidebar {
	float:none;
	margin:0;
	width:100%;
	}
.feedbacks .sidebar {
	margin:0 0 30px;
	}
	.agencies a.orange-button {
		line-height:normal;
		padding:15px 30px;
		}
		.agencies a.orange-button span {
			font-style:normal;
			display:inline;
			font-size:25px;
			}
	.agencies a.orange-button:active {padding:16px 30px 14px;}
}
.error-page {
	text-align:center;
	margin:30px 0;
	}
	.error-page h1 {
		font-size:70px;
		line-height:70px;
		}
#footer {
	background:#0daae8;
	color:#fff;
	padding:37px 30px;
	font-size:18px;
	line-height:26px;
	overflow:hidden;
	}
	#footer .wrap {margin-right:-5%;}
	#footer h2 {
		font-size:24px;
		font-weight:700;
		margin-bottom:24px;
		}
	#footer a,
	#footer a span {
		border-color:rgba(255,255,255,.3);
		color:#fff;
		}
		#footer a:hover,
		#footer a:hover span,
		#footer .col1-4 a:hover {
			color:#ffd800;
			}
	#footer .col1-1,
	#footer .col1-2,
	#footer .col1-3,
	#footer .col1-4 {
		float:left;
		margin:0 5% 20px 0;
		width:20%;
		}
	#footer .col1-1 .phones span {color:#bdefff;}
	#footer .col1-1 .skype {
		background:url(../img/skype-white.png) 0 2px no-repeat;
		padding-left:25px;
		}
	#footer .col1-1 .viber {
		background:url(../img/viber-white.png) 0 2px no-repeat;
		padding-left:25px;
		}
	#footer .col1-1 .mail {
		background:url(../img/mail-white.png) 0 6px no-repeat;
		border:0;
		padding-left:25px;
		}
	#footer .col1-3 a {
		font-size:20px;
		line-height:30px;
		}
	#footer .col1-4 a {
		border:0;
		color:#abf1f0;
		font-size:16px;
		}
@media only screen
and (max-width : 1170px) {
#footer {
	font-size:16px;
	line-height:24px;
	}
	#footer .col1-4 a {
		line-height:24px;
		}
}
@media only screen
and (max-width : 1070px) {
#footer {
	font-size:18px;
	line-height:26px;
	}
	#footer .col1-1,
	#footer .col1-2,
	#footer .col1-3 {
		width:28.3%;
		}
	#footer .col1-4 {
		display:none;
		}
}
@media only screen
and (max-width : 900px) {
	#footer .col1-1,
	#footer .col1-2 {
		margin-bottom:0;
		width:45%;
		}
	#footer .col1-3 {
		display:none;
		}
}
@media only screen
and (max-width : 600px) {
	#footer .col1-1,
	#footer .col1-2 {
		float:none;
		width:100%;
		}
}
	#footer .copy {
		float:left;
		margin-top:9px;
		width:25%;
		}
	#footer .social {
		float:left;
		width:25%;
		overflow:hidden;
		}
		#footer .social p {
			margin:9px 0 10px;
			}
		#footer .social a {
			border:0;
			display:block;
			float:left;
			height:30px;
			margin:0 12px 12px 0;
			width:30px;
			}
			#footer .social a.vk {background:url(../img/social.png) 0 0 no-repeat;}
				#footer .social a.vk:hover {background-position:0 -42px;}
			#footer .social a.fb {background:url(../img/social.png) -42px 0 no-repeat;}
				#footer .social a.fb:hover {background-position:-42px -42px;}
			#footer .social a.od {background:url(../img/social.png) -84px 0 no-repeat;}
				#footer .social a.od:hover {background-position:-84px -42px;}
			#footer .social a.in {background:url(../img/social.png) -126px 0 no-repeat;}
				#footer .social a.in:hover {background-position:-126px -42px;}
			#footer .social a.gp {background:url(../img/social.png) -168px 0 no-repeat;}
				#footer .social a.gp:hover {background-position:-168px -42px;}
	#web-studio-kiwi {
		font-size:14px;
		float:left;
		line-height:18px;
		margin:41px 30px 0 0;
		width:300px;
		}
		#web-studio-kiwi a.img {
			background:url(../img/kiwi.png) no-repeat;
			border:0;
			display:block;
			float:left;
			margin:4px 20px 0 0;
			width:57px;
			height:29px;
			}
			#web-studio-kiwi a.img:hover {background-position:0 -29px;}
@media only screen
and (max-width : 1070px) {
#footer .copy {
	width:33.3%;
	}
#web-studio-kiwi {
	float:right;
	}
}
@media only screen
and (max-width : 900px) {
#footer .copy {
	width:50%;
	}
#footer .social {
	width:50%;
	}
#web-studio-kiwi {
	margin-top:110px;
	float:none;
	width:300px;
	}
}
@media only screen
and (max-width : 600px) {
#footer .copy,
#footer .social {
	margin-top:40px;
	float:none;
	width:100%;
	}
#web-studio-kiwi {
	margin-top:40px;
	}
}
@media only screen
and (max-width : 350px) {
#web-studio-kiwi {
	width:100%;
	}
}
.share {
	float:left;
	position:relative;
	left:50%;
	margin:0 0 20px;
	}
	.share-wrap {
		position:relative;
		left:-50%;
		margin:0 300px 0 0;
		}
		.share-text {
			margin:15px 0 0 -105px;
			position:absolute;
			color:#898989;
			text-align:center;
			}
			.pluso {margin-right:22px;}
				.pluso a {border:0;}
@media only screen
and (max-width : 1000px) {
	.share-wrap {margin-right:0;}
}
@media only screen
and (max-width : 500px) {
	.share-wrap {margin:0 -30px 20px;}
		.share-text {
			margin:0 0 10px;
			position:inherit;
			}
}