/* Reset */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	background:transparent;
}
body {line-height:1;}
ul {list-style:none;}
:focus {outline:0;}
ins {text-decoration:none;}
del {text-decoration:line-through;}
table {
	border-collapse:collapse;
	border-spacing:0;
}
.col2{
	box-sizing: content-box;
}
/* Global */
html, body {
	background:#f6f2ec;
	color:#000;
	font:16px/22px Roboto, Arial, Helvetica;
}
a, a:visited,
a span, a:visited span {
	border-bottom:1px solid rgba(0,101,147,.3);
	color:#006593;
	text-decoration:none;
}
a:hover, a:visited:hover,
a:hover span, a:visited:hover span {
	border-bottom:1px solid rgba(255,90,0,.3);
	color:#ff5a00;
}
a.flashlink, a.flashlink span,
a.flashlink:visited, a.flashlink:visited span,
a.flashlink:hover, a.flashlink:visited:hover,
a.flashlink:hover span, a.flashlink:visited:hover span {border-bottom-style:dashed;}
p {margin:20px 0;}
hr {
	border:0;
	border-bottom:1px solid #dcdcdc;
	margin:25px 0;
}
ul {
	margin:0;
	list-style:none;
}
li {line-height:22px;}
blockquote {
	color:#888;
	font-style:italic;
	margin:0 30px;
}
s {
	color:#000;
	position:relative;
	text-decoration:none;
	padding:0 2px;
	margin-right:5px;
}
s:before {
	border-bottom:2px solid red;
	position:absolute;
	content:"";
	width:100%;
	height:40%;
	transform:rotate(-16deg);
	margin-left:-3px;
}
.tour-card s {
	font-size:70%;
	margin-right:10px;
}
.tour-card s:before {
	border-bottom:3px solid red;
	height:40%;
}
.tour-bottom s {
	font-size:80%;
	margin-right:10px;
}
.tour-bottom s:before {}
.left {float:left;}
.right {float:right;}
.clear {clear:both;}
.center {text-align:center;}
.text-right {text-align:right;}
.none,
.show-mobile {display:none;}
.container {
	margin:0 auto;
	max-width:1400px;
	/* overflow:hidden; */
	box-sizing: content-box;
}
.container.col1,
.container.col2,
.pp .container {padding:0 30px 30px;}
h1 {
	font-size:30px;
	line-height:34px;
	font-weight:300;
	margin-top:50px;
}
.nopadding {margin:0;}
.agencies h1 {margin-top:30px;}
.price {display:none;}
a.mail-icon {
	background:url(../img/mail.png) 0 5px no-repeat;
	border:0;
	padding-left:25px;
}
span.viber-icon {
	background:url(../img/viber-small.png) 0 3px no-repeat;
	border:0;
	padding-left:25px;
}
body.default .price.default,
body.byn .price.byn,
body.usd .price.usd,
body.eur .price.eur,
body.gbp .price.gbp {display:block;}
body.default table td.price.default,
body.byn table td.price.byn,
body.usd table td.price.usd,
body.eur table td.price.eur,
body.gbp table td.price.gbp {display:table-cell;}

.pp .container {
	background:#fff;
	width:550px;
}
@media only screen
and (max-width : 730px) {
	.pp .container {width:450px;}
}
@media only screen
and (max-width : 620px) {
	.pp .container {width:350px;}
}
@media only screen
and (max-width : 480px) {
	.pp .container {width:auto;}
}
.pp p.title {
	font-size:35px;
	line-height:35px;
	font-weight:300;
	background:#f6f2ec;
	margin:0 -30px;
	padding:20px 100px 20px 30px;
}
.pp p.sub-title {
	font-weight:700;
	margin:30px 0 0;
}
.pp p.message {margin:20px 0 0;}
.pp dl {margin:30px 0 20px;}
.pp dt {margin-top:20px;}
input[type="text"],
textarea,
input[type="email"] {
	background:#fff;
	border:1px solid #dcdcdc;
	font:18px/22px Roboto, Arial, Helvetica;
	padding:0 2%;
	margin:10px 0 0;
	width:96%;
}
textarea {padding:10px 2%;}
input[type="text"],
input[type="email"] {
	height:46px;
}
input[type="text"].error,
textarea.error {
	border:1px solid red;
}
textarea {height:70px;}
input[type="text"]:focus,
textarea:focus,
input[type="email"]:focus {background:#fff3dc;}
.pp button {
	background:#ff5a00;
	border:0;
	font-family:Roboto, Arial, Helvetica;
	padding:15px 30px;
	color:#fff;
	cursor:pointer;
	float:left;
	font-size:25px;
}
.pp button:hover {
	background:#ff7200;
	color:#fff;
}
.pp button:active {
	background:#ff4800;
	padding:16px 30px 14px;
}
body .fancybox-skin {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
body .fancybox-overlay {background:rgba(0,101,147,.7);}
body a.fancybox-close {
	position:absolute;
	right:20px;
	top:20px;
	height:35px;
	width:35px;
	background:url(../img/close-button.png) top no-repeat;
	border:0;
}
body a.fancybox-close:hover {background-position:center -35px;}
body a.fancybox-close:active {
	background-position:center -70px;
	top:21px;
}
body .fancybox-skin {padding:0;}


html{
	font-family: 'Roboto', sans-serif;
}
.font_roboto{
	font-family: 'Roboto', sans-serif;
}
/* Structure */
#header {
	/*background:#2cc3f0 url(../img/header-bg-ny.jpg) no-repeat center;*/
	background:#2cc3f0 url(../img/header-bg.jpg) no-repeat center;
	color:#fff;
	font-size:18px;
	overflow:hidden;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
#header .container {max-width:1460px;}
#header-top {
	overflow:hidden;
	padding:15px 30px 10px;
}
#header #logo {
	/*background:url(../img/logo-ny.png?v=2) no-repeat 0 0;*/
	background:url(../img/logo.png?v=2) no-repeat 0 0;
	border:0;
	display:block;
	float:left;
	height:87px;
	width:190px; /*width:220px;*/
}
#header p {
	font-style:italic;
	margin:0;
	padding:36px 0 0;
	margin-bottom:7px;
	float:left;
	width:40%;
}
.button-border-wrap {float:right; display: block}
a.button-border,
a.button-border:hover,
a.button-border:visited,
a.button-border:visited:hover {
	background:#fff;
	border:0;
	color:#0daae8;
	display:block;
	font-weight:700;
	margin-top:22px;
	text-align:center;
	padding:13px 23px;
}
a.button-border:hover,
a.button-border:visited:hover {background:#fff3dc;}
a.button-border:active {
	background:#fff3dc;
	padding:14px 23px 12px;
}
a.button-border span,
a.button-border:visited span {
	border-color:rgba(13,170,232,.3);
	color:#0daae8;
}
a.button-border:hover span,
a.button-border:visited:hover span {
	border-color:rgba(255,90,0,.3);
	color:#ff5a00;
}
@media only screen
and (max-width : 1050px) {
	#header p {width:30%;}
}
@media only screen
and (max-width : 910px) {
	#header-top {padding:20px 30px 15px;}
	#header #logo {
		margin:0 auto;
		float:none;
		width:150px;
	}
	#header p {
		float:none;
		text-align:center;
		padding-top:20px;
		width:100%;
	}
	.button-border-wrap {
		float:none;
		margin:0 auto;
		width:70%;
	}
}
@media only screen
and (max-width : 600px) {
	.button-border-wrap {display:none;}
	/*.button-border-wrap {width:100%;}*/
}
@media only screen
and (max-width : 500px) {
	#header #logo {margin:0;}
	#header p {text-align:left;}
}
#header ul.contacts {
	background:url(../img/head-phone-icon.png?v=3) 30px center no-repeat;
	border-top:2px solid rgba(255,255,255,.3);
	overflow:hidden;
	padding:0 25px 0 56px;
}
#header ul.contacts li {
	font-size:20px;
	float:left;
	line-height:52px;
	margin-right:25px;
}
#header ul.contacts li span {color:#bdefff;}
#header ul.contacts li a {
	border:0;
	color:#fff;
}
#header ul.contacts li a span {border:0;}
#header ul.contacts li .viber {
	background:url(../img/viber-white.png) 0 2px no-repeat;
	padding-left:25px;
}
#header ul.contacts li.address {
	margin:0;
	float:right;
	font-size:18px;
	background:url(../img/head-marker-icon.png) left center no-repeat;
	padding-left:29px;
}
#header ul.contacts li.address a {
	border-color:rgba(255,255,255,.3);
	color:#fff;
}
@media only screen
and (max-width : 1200px) {
	#header ul.contacts li {font-size:18px;}
}
@media only screen
and (max-width : 1140px) {
	#header ul.contacts {
		background:none;
		padding:0 30px;
	}
	#header ul.contacts li.address {
		background:none;
		font-size:16px;
		padding-left:0;
	}
	#header ul.contacts li {font-size:16px;}
	#header ul.contacts li .viber {
		display:none;
	}
}
@media only screen and (max-width : 970px) {
	/*#header ul.contacts {display:none;}*/
	#header ul.contacts {
		border:0;
		padding:5px 30px 20px;
		overflow:hidden;
	}
	#header ul.contacts li {
		float:none;
		text-align:center;
		font-size:20px;
		margin:0;
		line-height:35px;
	}
	#header ul.contacts li.address {
		font-size:18px;
		float:left;
		width:100%;
		margin-top:10px;
		text-align:center;
	}
	#header .show-mobile {
		display:inherit;
		margin:-25px 0 20px;
		text-align:center;
		width:100%;
	}
}
@media only screen
and (max-width : 500px) {
	#header ul.contacts li {
		text-align:left;
		font-size:18px;
		line-height:25px;
	}
	#header ul.contacts li.address {
		text-align:left;
		font-size:16px;
	}
	#header .show-mobile {
		font-size:16px;
		margin:-25px 30px 20px;
		text-align:left;
	}
}
#menu {
	background:#f6f2ec;
	min-height:72px;
	/* overflow:hidden; */
	padding:0 10px;
	display: block;
	z-index: 10000000000;
}
#menu .container {max-width:1440px;}
a#menu-button {
	display:none;
	text-align:center;
	border:0;
	padding:0 20px;
	line-height:72px;
	font-size:20px;
}
a#menu-button span {
	border-bottom-width:2px;
	padding-bottom:2px;
}
#menu ul {float:left;}
#menu ul.right {float:right;}
#menu ul li {float:left;}
#menu ul li a {
	display:block;
	border:0;
	padding:0 20px;
	line-height:72px;
	font-size:20px;
}
#menu ul li a span {
	border-bottom-width:2px;
	padding-bottom:2px;
}
#menu ul li.imp a span {
	border-color:rgba(255,90,0,.3);
	color:#ff5a00;
	font-weight:700;
}
#menu ul a.active,
#menu ul a.active:hover {background:#0daae8;}
#menu ul a.active span,
#menu ul a.active:hover span {
	border:0;
	color:#fff;
}
@media only screen
and (max-width : 1050px) {
	#menu ul li a {font-size:18px;}
}
@media only screen
and (max-width : 1140px) {
	#menu {padding:0 15px;}
	#menu ul li a {
		padding:0 15px;
		font-size:18px;
		z-index: 100000;
	}
}
@media only screen
and (max-width : 990px) {
	#menu {padding:0;}
	a#menu-button {display:block;}
	#menu ul {
		float:none;
		display:none;
	}
	#menu ul.right {float:none;}
	#menu ul li {float:none;}
	#menu ul li a {
		text-align:center;
		font-size:20px;
	}
	#menu ul.hide {display:block;}
}
#search {
	background:#ffc556;
	padding: 25px;
}
#search .container {overflow:visible;}
#search .title {
	color:#8d6a27;
	float:left;
	clear:both;
	margin-top:10px;
	width:14%;
}
#search .title h2 {
	font-size:35px;
	font-weight:300;
	line-height:38px;
}
#search form {
	float:left;
	width:86%;
}
#search button {
	background:#ff5a00;
	border:0;
	padding:0;
	color:#fff;
	cursor:pointer;
	float:left;
	font-size:25px;
	font-weight:700;
	line-height: 50px;
	width: 100%;
	height: 100%;
}
#search button span {
	background:url(../img/search.png) no-repeat;
	padding-left:36px;
}
#search button img {
	display:block;
	float:left;
	margin:17px -20px 0 20px;
}
#search button:hover {
	background:#ff7200;
	color:#fff;
}
#search button:active {
	background:#ff4800;
	line-height:58px;
	padding-top:2px;
}
@media only screen
and (max-width : 1090px) {
	#search .title h2 {font-size:30px;}
}
@media only screen
and (max-width : 1005px) {
	#search .title {display:none;}
	#search form {width:100%;}
}
@media only screen
and (max-width : 860px) {
	#search .title {
		text-align:center;
		display:block;
		float:none;
		width:100%;
		margin-bottom:15px;
	}
	#search .title h2 {font-size:35px;}
	#search button {
		float:none;
		width:100%;
	}
}
.countries {
	background:#fff;
	padding:21px 30px;
	overflow:hidden;
	display: block;
}
.countries ul {}
.countries ul a {
	background-repeat:no-repeat;
	border:0;
	line-height:36px;
	float:left;
	width:14%;
	margin-right:2%;
	font-size:18px;
}
@media only screen
and (max-width : 1350px) {
	.countries ul a {width:18%;}
}
@media only screen
and (max-width : 1100px) {
	.countries ul a {width:23%;}
}
@media only screen
and (max-width : 850px) {
	.countries ul a {width:31.3%;}
}
@media only screen
and (max-width : 700px) {
	.countries ul a {width:48%;}
}
@media only screen
and (max-width : 450px) {
	.countries ul a {width:98%;}
	.countries.mainpage {display:none;}
}
.countries ul a span {
	border:0;
	display:block;
	float:left;
	margin:4px 10px 0 0;
	height:24px;
	width:24px;
}
.fast-bar {
	font-size:18px;
	overflow:hidden;
	/*padding:20px 30px 16px;*/
	padding:4px 30px 6px;
}
.fast-bar.mainpage {padding:20px 30px 16px;;}
.fast-bar .container {overflow:visible;}
.fast-bar .container > ul {
	float:left;
	width:70%;
	overflow:hidden;
	height:25px;
}
.fast-bar .container > ul a {
	border:0;
	color:#898989;
	float:left;
	margin-right:20px;
}
#sort {
	float:left;
	width:70%;
	margin-top:-4px;
}
#sort b {
	background:#eadfd1;
	color:#6e6254;
	padding:4px 8px;
	display:inline-block;
	margin:0 8px 0 0;
	font-weight:400;
}
#sort a {
	padding:0 8px;
	margin:0 8px 0 0;
	border:0;
}
#curr {
	float:right;
	width:30%;
}
#curr ul {
	float:right;
	margin-top:-4px;
	overflow:hidden;
}
#curr li {float:left;}
#curr li.text {padding:4px 13px 4px 8px;}
body.default #curr li.default,
body.byn #curr li.byn,
body.usd #curr li.usd,
body.eur #curr li.eur,
body.gbp #curr li.gbp {
	background:#eadfd1;
	border:0;
	display:block;
}
body.default #curr li.default a span,
body.byn #curr li.byn a span,
body.usd #curr li.usd a span,
body.eur #curr li.eur a span,
body.gbp #curr li.gbp a span {
	border:0;
	color:#6e6254;
}
#curr a {
	border:0;
	padding:4px 8px;
	display:block;
}
@media only screen
and (max-width : 1030px) {
	#sort {width:100%;}
	.fast-bar .container > ul {
		float:none;
		padding-top:10px;
		width:100%;
	}
	#curr {
		float:left;
		margin-top:20px;
		width:100%;
	}
	#curr ul {float:left;}
	#curr li {float:left;}
	#curr li.text {padding:4px 13px 4px 0;}
}
@media only screen
and (max-width : 700px) {
	.fast-bar .container > ul {display:none;}
}
@media only screen
and (max-width : 370px) {
	.fast-bar {font-size:16px;}
	#curr li.text {padding:4px 9px 4px 0;}
	#curr a {padding:4px 6px;}
}
.tours-simple-list {
	padding:0 30px 30px;
	overflow:hidden;
}
.col2 .tours-simple-list {padding:0 0 30px;}
.tours-simple-list ul {
	margin: 0 -30px 0;
	word-spacing:-0.25em;
}
.tours-simple-list li {
	background:#fff;
	text-align:top;
	vertical-align:top;
	margin:0 2% 2% 0;
	padding-bottom:20px;
	width:23%;
	display:-moz-inline-box;
	display:inline-block;
	*
	zoom:1;
	*
	display:inline;
	word-spacing:normal;
}
.tours-simple-list li:last-child {/* margin-bottom:0; */}
.tours-simple-list li.big {width:48%;}
.tours-simple-list li a {
	border:0;
	display:block;
	position:relative;
}
.tours-simple-list li a span.dates {
	position:absolute;
	display:block;
	height:170px;
	width:100%;
	border:0;
	color:#fff;
	background:rgba(13,170,232,.8);
	opacity:0;

	-webkit-transition:all ease-out .3s;
	-moz-transition:all ease-out .3s;
	-o-transition:all ease-out .3s;
	transition:all ease-out .3s;
}
.tours-simple-list li.big a span.dates {display:none;}
.tours-simple-list li a span.dates p {margin:10px 20px;}
.tours-simple-list li a span.dates b {line-height:36px;}
.tours-simple-list li a:hover span.dates {
	opacity:1;

	-webkit-transition:all ease-out .3s;
	-moz-transition:all ease-out .3s;
	-o-transition:all ease-out .3s;
	transition:all ease-out .3s;
}
.tours-simple-list li a span.img {
	background-color:#eadfd1;
	background-position:center;
	background-repeat:no-repeat;
	border:0;
	display:block;
	height:170px;
	width:100%;

	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
.tours-simple-list li.big a span.img {height:300px;}
.tours-simple-list li a b.title {
	font-size:18px;
	margin:20px;
	display:block;
}
.tours-simple-list p.route {
	color:#898989;
	font-style:italic;
	font-size:14px;
	line-height:20px;
	margin:20px;
}
.tours-simple-list p.desc {
	color:#898989;
	font-style:italic;
	font-size:14px;
	line-height:20px;
	margin:20px;
}
.tours-simple-list .price,
.tours-simple-list .no-price,
.tour .no-price {
	font-size:20px;
	font-weight:700;
	color:#ff5a00;
}
.tours-simple-list .price {
	margin-left:20px;
	float:left;
}
.tours-simple-list li.tour div.no-price,
.sidebar li.tour div.no-price,
.promo-tours div.no-price {
	margin-left:20px;
	float:left;
}
.tours-simple-list .per {
	margin-right:20px;
	float:right;
	line-height:25px;
}
@media only screen
and (max-width : 1300px) {
	.tours-simple-list li,
	.tours-simple-list li.big {width:31.3%;}
	.tours-simple-list li.big a span.img {height:170px;}
	.other-tours-hor.tours-simple-list li:last-child {display:none;}
	.promo-tours.tours-simple-list li:last-child {display:none;}
}
@media only screen
and (max-width : 900px) {
	.tours-simple-list li {width:48%;}
	.tours-simple-list li.big {width:98%;}
	.tours-simple-list li.big a span.img {height:300px;}
	.other-tours-hor.tours-simple-list li:last-child {
		display:-moz-inline-box;
		display:inline-block;
	}
	.promo-tours.tours-simple-list li:last-child {
		display:-moz-inline-box;
		display:inline-block;
	}
}
@media only screen
and (max-width : 570px) {
	.tours-simple-list li {
		width:98%;
		margin-bottom:5%;
	}
	.tours-simple-list li.big a span.img {height:170px;}
	.other-tours-hor.tours-simple-list li:last-child {display:none;}
}
@media only screen
and (max-width : 450px) {
	.tours-simple-list li {margin-bottom:8%;}
}
/*.tours-list {overflow:hidden;}
	.tours-list ul {}
		.tours-list li {
			background:#fff;
			margin:0 0 20px;
			overflow:hidden;
			position:relative;
			}
			.tours-list li a.img {
				border:0;
				display:block;
				height:187px;
				float:left;
				width:25%;
				margin-right:30px;

				background-position:center;
				background-repeat:no-repeat;

				-webkit-background-size:cover;
				-moz-background-size:cover;
				-o-background-size:cover;
				background-size:cover;
				}
			.tours-list li .info {
				margin:15px 20px 20px 28%;
				overflow:hidden;
				}
				.tours-list li a.title {
					font-size:20px;
					font-weight:700;
					border:0;
					padding-bottom:2px;
					max-height:48px;
					line-height:24px;
					overflow:hidden;
					display:block;
					position:relative;
					margin:0 0 20px;
					}
					.tours-list li a.title i.fog {
						background:url(fog.png) left repeat-y;
						display:block;
						position:absolute;
						right:0;
						bottom:0;
						height:24px;
						width:150px;
						}
				.tours-list p.route {
					color:#898989;
					font-style:italic;
					font-size:14px;
					line-height:20px;
					max-height:40px;
					overflow:hidden;
					display:block;
					position:relative;
					margin:0 0 20px;
					}
					.tours-list li p.route i.fog {
						background:url(fog.png) left no-repeat;
						display:block;
						position:absolute;
						right:0;
						bottom:0;
						height:20px;
						width:150px;
						}
				.tours-list p.desc {
					font-size:16px;
					line-height:20px;
					max-height:40px;
					overflow:hidden;
					display:block;
					position:relative;
					margin:0 0 20px;
					}
					.tours-list li p.desc i.fog {
						background:url(fog.png) left no-repeat;
						display:block;
						position:absolute;
						right:0;
						bottom:0;
						height:20px;
						width:150px;
						}
				.tours-list ul.dates {
					float:left;
					height:22px;
					margin-right:50px;
					overflow:hidden;
					}
					.tours-list ul.dates li {
						float:left;
						margin:0 20px 0 0;
						font-size:18px;
						}
				.tours-list .price {
					background:url(fog.png) repeat-y;
					font-size:30px;
					font-weight:700;
					color:#ff5a00;
					position:absolute;
					padding-left:100px;
					right:20px;
					}
				.tours-list .per {display:none;}

@media only screen
and (max-width : 1180px) {
			.tours-list li a.img {width:35%;}
			.tours-list li .info {margin-left:38%;}
}
@media only screen
and (max-width : 1000px) {
			.tours-list li a.img {width:30%;}
			.tours-list li .info {margin-left:33%;}
}
@media only screen
and (max-width : 800px) {
			.tours-list li a.img {width:40%;}
			.tours-list li .info {margin-left:43%;}
}
@media only screen
and (max-width : 570px) {
.tours-list {}
	.tours-list ul {}
		.tours-list li {
			overflow:hidden;
			position:relative;
			}
			.tours-list li a.img {
				border:0;
				display:block;
				height:170px;
				float:none;
				width:100%;
				margin:0;

				background-position:center;
				background-repeat:no-repeat;

				-webkit-background-size:cover;
				-moz-background-size:cover;
				-o-background-size:cover;
				background-size:cover;
				}
			.tours-list li .info {
				margin:20px;
				overflow:hidden;
				}
				.tours-list li a.title {
					font-size:18px;
					max-height:none;
					}
					.tours-list li a.title i.fog {display:none;}
				.tours-list p.route {
					color:#898989;
					font-style:italic;
					font-size:14px;
					line-height:20px;
					max-height:none;
					}
					.tours-list li p.route i.fog {display:none;}
				.tours-list p.desc {
					font-size:16px;
					line-height:20px;
					max-height:40px;
					overflow:hidden;
					display:block;
					position:relative;
					}
					.tours-list li p.desc i.fog {display:none;}
				.tours-list ul.dates {display:none;}
				.tours-list .price {
					background:none;
					font-size:20px;
					position:inherit;
					padding-left:inherit;
					right:auto;
					float:left;
					}
				.tours-list .per {
					display:block;
					float:right;
					line-height:25px;
					}
}*/
.country-menu {
	background:#fff;
	overflow:hidden;
	/* margin:30px 0; */
}
.country-menu .container {padding:0 30px;}
.country-title,
.country-title-mobile {
	background-repeat:no-repeat;
	background-position:0 25px;
	padding-left:40px;
	font-size:35px;
	font-weight:300;
	line-height:68px;
	margin:0 40px 0 0;
	float:left;
}
.country-title-mobile {
	float:none;
	display:none;
}
.country-title-mobile a {border-width:2px;}
.country-menu ul a {
	border:0;
	display:block;
	float:left;
	font-size:18px;
	line-height:68px;
	padding:0 15px;
}
.country-menu ul li.active a {background:#0daae8;}
.country-menu ul li.active a span {
	border:0;
	color:#fff;
}
.country-menu ul a.important {
	border:3px solid #ffc556;
	line-height:62px;
}
.country-menu ul a.important span {
	border-bottom-color:rgba(255,90,0,.3);
	color:#ff5a00;
	font-weight:bold;
}
.country-menu ul a.important:hover {background:#fff3dd;}
.country-desc {padding:40px 0 0;}
@media only screen
and (max-width : 990px) {
	.country-title {
		background-position:0 22px;
		font-size:24px;
	}
}
@media only screen
and (max-width : 990px) {
	.country-menu ul {display:none;}
	.country-menu ul a {
		padding:0 15px 0 40px;
		float:none;
	}
	.country-title {display:none}
	.country-title-mobile {
		display:block;
		background-position:0 25px;
		font-size:35px;
	}
	.country-menu ul.hide {display:block;}
}
@media only screen
and (max-width : 880px) {
	.country-title {
		background-position:0 25px;
		font-size:35px;
		float:none;
	}
}
@media only screen
and (max-width : 400px) {
	.country-title-mobile {
		background-position:0 22px;
		font-size:24px;
		font-weight:400;
	}
}
.col1 h1,
.col2 h1 {margin-bottom:20px;}
.col1 h2,
.col2 h2 {
	font-size:24px;
	line-height:28px;
	font-weight:700;
}

.content {
	padding:10px 30px;
	overflow:hidden;
	background:#fff;
	margin:0 0 30px;
}

.content h2 {margin:40px 0 20px;}
.col1 .content {margin:0 0 30px 0;}
.col2 .content {margin:0 300px 30px 0;}
@media only screen
and (max-width : 1000px) {
	.col2 .content {margin-right:0;}
}
@media only screen
and (max-width : 500px) {
	.col1 .content,
	.col2 .content {margin:0 -30px 30px;}
}
.col2 .content ol,
.col2 .content ul {margin:30px 0 30px 60px;}
.col2 .content ol li,
.col2 .content ul li {/* margin:10px 0; */}
.col2 .content ul li {list-style:disc;}
.col2 .content ul.selectboxit-list {margin:0;}
.col2 .content ul.selectboxit-list li {
	list-style:none;
	margin:0;
}
.col1 .content ol,
.col1 .content ul {margin:30px 0 30px 60px;}
.col1 .content ol li,
.col1 .content ul li {margin:20px 0;}
.col1 .content ul li {list-style: disc;}
.tour .route {
	color:#898989;
	font-size:18px;
	font-style:italic;
	margin-bottom:20px;
}
.gallery {
	overflow:hidden;
	height:480px;
	overflow:hidden;
	background:#fff;
}
.gallery.slick-slider {margin:0;}
.gallery .slick-dots {bottom:0;}
.gallery .slick-dots li button {
	background:url(../img/pagination.png) 0 0;
	overflow:hidden;
	border:0;
}
.gallery .slick-dots li.slick-active button,
.gallery .slick-dots li.slick-active button:hover {background-position:0 -17px}
.gallery .slick-dots li button:hover {background-position:0 -34px}
.gallery span {
	float:left;
	width:100%;
	height:450px;

	background-position:center;
	background-repeat:no-repeat;

	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
@media only screen
and (max-width : 1150px) {
	.gallery {height:400px;}
	.gallery span {height:370px;}
}
@media only screen
and (max-width : 750px) {
	.gallery {height:350px;}
	.gallery span {height:320px;}
}
@media only screen
and (max-width : 550px) {
	.gallery {height:300px;}
	.gallery span {height:270px;}
}
@media only screen
and (max-width : 500px) {
	.gallery.slick-slider {margin:0 -30px;}
}
.tour-info {}
.tour-info .tour-desc {margin-bottom:40px;}
.tour-info .tour-desc h3 {font-size: 18px;}
.tour-info .tour-desc img {
	display:block;
	margin:0 auto;
	max-width:100%;
}
.tour-info .tabs {
	overflow:hidden;
	margin:0 -30px 25px;
	font-size:24px;
	font-weight:700;
}
.tour-info .tabs a {
	border:0;
	padding:20px 0;
	display:block;
	float:left;
	background:#cfeefa url(../img/tabs-icons.png) no-repeat;
	width:50%;
}
.tour-info .tabs a:hover {background-color:#fff3dc;}
.tour-info .tabs a span {
	border-width:2px;
	margin:0 30px 0 65px;
}
.tour-info .tabs a.active {background-color:#0daae8;}
.tour-info .tabs a.active span {
	border:0;
	color:#fff;
}
.tour-info .tabs a.days-link {background-position:30px -81px;}
.tour-info .tabs a.days-link:hover {background-position:30px -30px;}
.tour-info .tabs a.days-link.active {background-position:30px 21px;}
.tour-info .tabs a.days-link.active:hover {background-position:30px 21px;}
.tour-info .tabs a.route-map-link {background-position:30px -234px;}
.tour-info .tabs a.route-map-link:hover {background-position:30px -183px;}
.tour-info .tabs a.route-map-link.active {background-position:30px -132px;}
.tour-info .tabs a.route-map-link.active:hover {background-position:30px -132px;}
.days {}
.tour-info .days h2 {display:none;}
.col2 .content .days ul {
	margin:0 0 30px;
	overflow:hidden;
}
.col2 .content .days ul li {
	list-style:none;
	overflow:hidden;
	margin:0;
}
.days p {margin:0 0 20px;}
.days .num {
	text-align:right;
	width:100px;
	margin:0 20px 20px 0;
	float:left;
	font-size:35px;
	font-weight:300;
	line-height:35px;
}
.days .info {
	margin-left:120px;
	min-height:35px;
}
@media only screen
and (max-width : 750px) {
	.days .num {
		width:60px;
		margin:0 20px 20px 0;
		font-size:25px;
		font-weight:400;
		line-height:25px;
		text-align:left;
	}
	.days .info {margin-left:80px;}
}
.days .title {
	font-size:18px;
	font-weight:700;
	height:auto;
	min-height:inherit;
	margin:0 20px 20px 0;
	line-height:22px;
}
.route-map {margin-bottom:30px;}
.tour-info .route-map h2 {display:none;}
.route-map.none {
	display:block;
	position:relative;
	height:0;
	left:-100000px;
}
.route-map iframe {
	border:0;
	height:450px;
	width:100%;
}
@media only screen
and (max-width : 750px) {
	.tour-info .tabs {display:none;}
	.tour-info .days h2 {display:block;}
	.tour-info .route-map h2 {display:block;}
	.route-map.none {
		display:block;
		position:inherit;
		height:517px;
		left:0;
	}
	.days.none {display:block;}
}
.hotels {}
.hotels .content {/* overflow:inherit; */}
.hotels h2.select-title {
	line-height:58px;
	margin:0;
}
.tour .hotels h2.select-title {margin-top:20px;}
@media only screen
and (max-width : 800px) {
	.hotels h2.select-title {
		line-height:30px;
		margin:20px 0;
	}
	.tour .hotels h2.select-title {margin:40px 0 20px;}
}
.title-note {
	margin:0 0 20px;
	font-style:italic;
}
.hotels h3 {
	font-size:18px;
	margin:20px 0 5px;
}
.tour-info .dates {margin:20px 0 40px;}
.table-wrap {overflow:auto;}
table {
	border:1px solid #dcdcdc;
	min-width:700px;
	width:100%;
}
table tr:hover td {
	background:#fff3dc;
	border:1px solid #f0e0c2;
}
table td {
	border:1px solid #dcdcdc;
	padding:10px 15px;
}
table td span.price {
	color:#ff5a00;
	font-weight:700;
	float:right;
}
table td .from-text {
	float:right;
	margin-right:10px;
}
.table-expand {
	border:1px solid #dcdcdc;
	min-width:700px;
	width:100%;
}
.table-expand tr:hover {background:#fff3dc;}
.table-expand td {
	/*border:1px solid #dcdcdc;*/
	padding:10px 15px;
	border:1px solid #c4e2ee;
}
.table-expand tr.tr-date {
	cursor:pointer;
	background:#cfeefa;
}
.table-expand tr.tr-date.active td {
	background:#e2f5fc;
	border:1px solid #cbe6f0;
}
.table-expand tr.tr-date:hover,
.table-expand tr.tr-date.active:hover td {background:#fff3dc;}
.table-expand tr.tr-date:hover td {border:1px solid #f0e0c2;}
.table-expand tr.tr-var {display:none;}
.table-expand tr.tr-var.hotels td,
.table-expand tr.tr-var.hotels:hover {
	background:#f5fcfe;
	border:1px solid #cbe6f0;
}
.table-expand tr.tr-date .date-link .arrow {
	background:url(../img/arrows-table.png) no-repeat;
	background-position:0 0;
	float:left;
	margin:-3px 15px -3px 0;
	height:28px;
	width:28px;
}
.table-expand tr.tr-date:hover .date-link .arrow {background-position:0 -61px;}
.table-expand tr.tr-date.active .date-link .arrow {background-position:0 -122px;}
.table-expand tr.tr-date.active:hover .date-link .arrow {background-position:0 -183px;}
.table-expand tr.tr-date .date-link span {
	border-bottom:1px dashed rgba(0,101,147,.3);
	color:#006593;
}
.table-expand tr.tr-date:hover .date-link span {
	border-bottom:1px dashed rgba(255,90,0,.3);
	color:#ff5a00;
}
.hotels-list {
	margin:10px -10px;
	overflow:hidden;
}
.col2 .content .hotels-list ul {
	margin:0;
	word-spacing:-0.25em;
}
.col2 .content .hotels-list li {
	list-style:none;
	text-align:top;
	vertical-align:top;
	padding-bottom:15px;
	margin:0 0 10px 0;
	width:25%;
	display:-moz-inline-box;
	display:inline-block;
	*zoom:1;
	*display:inline;
	word-spacing:normal;
}
.hotels-list li.active {background:#f2ece3;}
.hotels-list li a {
	padding:10px 10px 0;
	border:0;
	display:block;
}
.hotels-list li a span.img {
	background-color:#eadfd1;
	background-position:center;
	background-repeat:no-repeat;
	border:0;
	display:block;
	height:170px;
	width:100%;
	margin-bottom:7px;

	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
.hotels-list li a span.stars {
	background:url(../img/star.png) right no-repeat;
	padding-right:20px;
	color:#ff8a00;
	font-size:20px;
	font-weight:700;
	border:0;
}
.hotels-list li a b.title {
	font-size:18px;
	margin:0;
	display:block;
	font-weight:400;
}
.hotels-list p.meal {
	color:#898989;
	font-style:italic;
	font-size:16px;
	line-height:20px;
	margin:3px 10px 0;
}
.hotels-list .price {
	font-size:20px;
	font-weight:700;
	color:#ff5a00;
	margin:3px 10px 0;
	float:left;
}
.price.request {
	font-style:italic;
	font-weight:400;
	font-size:18px;
}
.hotel h1 span.stars {
	background:url(../img/star-big.png) right no-repeat;
	padding-right:25px;
	margin-right:7px;
	color:#ff8a00;
	font-weight:700;
	border:0;
}
@media only screen
and (max-width : 1250px) {
	.col2 .content .hotels-list li {width:33.3%;}
}
@media only screen
and (max-width : 850px) {
	.col2 .content .hotels-list li {width:50%;}
}
@media only screen
and (max-width : 570px) {
}
@media only screen
and (max-width : 450px) {
	.col2 .content .hotels-list li {margin-bottom:8%;width: 100%;}
}
.tour-note {
	background:#eadfd1;
	margin:0 -30px;
	padding:5px 30px 30px;
}
.tour-note h2 {margin-top:25px;}
.col2 .content .tour-note ul {margin:20px 0 20px 60px;}
.col2 .content .tour-note li {margin:10px 0;}
@media only screen
and (max-width : 750px) {
	.col2 .content .tour-note ul {margin:20px 0 20px 20px;}
}
.tour-bottom {
	text-align:center;
	margin-top:30px;
}
.tour-bottom h2 {
	font-size:18px;
	margin:0;
}
.tour-bottom .price {
	font-size:30px;
	font-weight:700;
	color:#ff5a00;
	padding:15px 0 30px;
}
.tour-bottom .no-price {
	font-size:30px;
	font-weight:700;
	color:#ff5a00;
	padding:15px 0 30px;
}
a.orange-button-bottom {
	background:#ff5a00;
	color:#fff;
	border:0;
	text-align:center;
	margin:0 -30px -10px;
	padding:15px 30px;
	line-height:normal;
	font-size:25px;
	display:block;
}
a.orange-button-bottom:hover {
	background:#ff7200;
	color:#fff;
}
a.orange-button-bottom:active {
	background:#ff4800;
	padding:16px 30px 14px;
}
.other-tours-hor h2 {
	font-size:30px;
	font-weight:300;
	line-height:35px;
	margin-bottom:25px;
}
.sidebar .tour-card {
	background:#fff;
	padding:0 20px 18px;
	margin-bottom:20px;
}
.tour-card a {border:0;}
.tour-card h2 {
	font-size:18px;
	font-weight:700;
	padding:18px 0 10px 0;
	text-align:center;
}
.tour-card .price {
	font-weight:700;
	color:#ff5a00;

	text-align:center;
	font-size:42px;
	margin-top:12px;
	cursor:pointer;
}
.tour-card .no-price {
	font-weight:700;
	color:#ff5a00;

	text-align:center;
	font-size:20px;
	margin-bottom:20px;
}
.tour-card .price-note {text-align:center;}
.tour-card a.orange-button,
.tour-manager a.orange-button {
	background:#ff5a00;
	color:#fff;
	border:0;
	text-align:center;
	margin:0 -20px;
	padding:15px 30px;
	line-height:normal;
	font-size:25px;
	display:block;
}
a.orange-button:hover {
	background:#ff7200;
	color:#fff;
}
a.orange-button:active {
	background:#ff4800;
	padding:16px 30px 14px;
}
a.blue-button,
.tour-manager a.blue-button {
	background:#cfeefa;
	border:0;
	text-align:center;
	margin:0 -20px;
	line-height:48px;
	font-size:18px;
	font-weight:700;
	display:block;
}
.tour-manager a.blue-button {
	display:inline-block;
	line-height:38px;
	padding:0 15px;
	background-image:url(../img/new-window.png);
	background-position:15px 10px;
	background-repeat:no-repeat;
	padding-left:40px;
}
.tour-manager a.blue-button:hover {
	background-image:url(../img/new-window.png);
	background-repeat:no-repeat;
	background-position:15px -54px;
}
.feedbacks a.blue-button {
	display:inline-block;
	padding:0 20px;
	margin:0 auto;
}
.feedbacks .content {background:#fff;}
.filter a.blue-button {
	text-align:left;
	margin:0 -20px;
	padding:0 20px;
	line-height:36px;
	font-size:16px;
}
.dates a.blue-button {margin:0;}
a.blue-button:hover {background:#fff3dc;}
a.blue-button span {border-width:2px;}
.filter a.blue-button span {border-width:1px;}
.tour-card .dates li {
	overflow:hidden;
	position:relative;
	font-size:18px;
	padding:6px 20px;
	margin:0 -20px;
	border-top:1px solid #dcdcdc;
}
.tour-card .dates li:hover {background:#fff3dc;}
.tour-card .dates .per {
	color:#898989;
	display:block;
	font-style:italic;
	font-size:14px;
}
.tour-card .dates .price {
	font-size:18px;
	position:absolute;
	top:6px;
	right:20px;
}
.tour-card .dates li.open {background:#f0e8de;}
.tour-card .dates li h3 {margin:15px 0 10px;}
.doc-link {
	background:url(../img/doc-icon.png) left 9px no-repeat;
	display:block;
	padding:10px 0 10px 40px;
}
.pdf-link {
	background:url(../img/pdf-icon.png) left 9px no-repeat;
	display:block;
	padding:10px 0 10px 40px;
}
.col1 .resorts ul {margin:0;}
.col1 .resorts ul li {
	line-height:26px;
	list-style:none;
}
.col1 .resorts > ul {
	float:left;
	width:25%;
}
.col1 .resorts > ul > li {
	margin:0 30px 20px 0;
	font-size:18px;
}
.col1 .resorts > ul > li > ul {
	margin-left:20px;
}
.resorts .clear {
	border-bottom:1px solid #dcdcdc;
	margin:0 -30px;
	padding-top:10px;
}
@media only screen
and (max-width : 1150px) {
	.col1 .resorts > ul {
		width:33.3%;
	}
}
@media only screen
and (max-width : 900px) {
	.col1 .resorts > ul {
		width:50%;
	}
}
@media only screen
and (max-width : 600px) {
	.col1 .resorts > ul {
		width:100%;
	}
}
.sidebar .tour-manager {
	background:#fff;
	padding:0 20px 5px;
	text-align:center;
	font-size:18px;
	margin-bottom:20px;
}
.sidebar .tour-manager h2 {
	font-size:18px;
	font-weight:700;
	padding:18px 0 0 0;
}
.sidebar .tour-manager.group div {
	margin:15px 0;
	padding-top:15px;
	border-top:1px solid #dcdcdc;
}
.sidebar .tour-manager img {
	margin:15px 0 0;
	height:120px;
	width:120px;
	-webkit-border-radius:90px;
	-moz-border-radius:90px;
	border-radius:90px;
}
.sidebar .tour-manager p {margin:15px 0;}
.sidebar .tour-manager p.name {margin:0;}
.sidebar .tour-manager .skype {
	background:url(../img/skype.png) 0 2px no-repeat;
	padding-left:25px;
	line-height:30px;
}
.sidebar .tour-manager .mail {
	background:url(../img/mail.png) 0 6px no-repeat;
	border:0;
	padding-left:25px;
	line-height:30px;
}
.manager-menu {
	background:#fff;
	overflow:hidden;
	margin:20px 0;
	display:none;
}
.manager-menu .container {padding:0 10px;}
.manager-menu p {
	font-size:35px;
	font-weight:300;
	line-height:68px;
	margin:0;
	text-align:center;
}
.manager-menu p a {border-width:2px;}
@media only screen
and (max-width : 990px) {
	.manager-menu p {
		font-size:24px;
		font-weight:400;
	}
}
@media only screen
and (max-width : 880px) {
}
@media only screen
and (max-width : 620px) {
	.manager-menu {
		display:block;
	}
	.sidebar .tour-manager {
		margin-top:-20px;
		display:none;
	}
	.sidebar .tour-manager h2 {display:none;}
	.sidebar .tour-manager.hide {display:block;}
}
@media only screen
and (max-width : 400px) {
	.manager-menu {
		font-size:24px;
		font-weight:400;
	}
}

.sidebar {
	float:right;
	margin-left:20px;
	width:280px;
}
.sidebar .filter {
	background:#fff;
	padding:0 20px 3px 20px;
	margin-bottom:20px;
}
.sidebar .filter a {border:0;}
.sidebar .filter sup {
	color:#898989;
	font-size:12px;
	position:relative;
	font-weight:400;
	top:-4px;
}
.sidebar .filter h2 {
	font-size:24px;
	font-weight:700;
	padding:18px 0 13px 0;
}
.sidebar .filter ul {
	padding-bottom:11px;
}
.sidebar .filter li {
	font-size:16px;
	line-height:24px;
}
.sidebar .filter li.active {font-weight:700;}
.sidebar .awards {
	background:#fff;
	padding:20px 20px 0;
	margin-bottom:20px;
	width:240px;
	overflow:hidden;
}
.sidebar .awards a {
	border:0;
	display:block;
	margin-bottom:14px;
}
.awards a img {width:100%;}
.sidebar .awards a.blue-button {
	background:#cfeefa;
	border:0;
	text-align:center;
	margin:0 -20px;
	line-height:48px;
	font-size:18px;
	font-weight:700;
	display:block;
}
.sidebar.awards a.blue-button:hover {background:#fff3dc;}
.sidebar.awards a.blue-button span {border-width:2px;}
@media only screen
and (max-width : 1000px) {
	.blog .sidebar,
	.post .sidebar,
	.resort .sidebar,
	.hotel .sidebar,
	.about .sidebar,
	.about-country .sidebar,
	.tourist-info .sidebar,
	.visa .sidebar,
	.tours-page .sidebar {display:none}
}
@media only screen
and (max-width : 1000px) {
	.tour .sidebar {
		float:none;
		margin:0 auto;
		width:100%;
		max-width:500px;
	}
	.sidebar .tour-card {text-align:center;}
	.tour-card .price-note {margin-left:0;}
	.tour-card ul.dates,
	.doc-link,
	.pdf-link {
		text-align:left;
		margin:0 auto;
	}
}
ul.tours {}
ul.tours li {
	background:#fff;
	text-align:top;
	vertical-align:top;
	padding-bottom:20px;
	margin-bottom:20px;
	display:block;
	overflow:hidden;
}
ul.tours li a {
	border:0;
	display:block;
	position:relative;
}
ul.tours li a span.dates {
	position:absolute;
	display:block;
	height:170px;
	width:100%;
	border:0;
	color:#fff;
	background:rgba(13,170,232,.8);
	opacity:0;

	-webkit-transition:all ease-out .3s;
	-moz-transition:all ease-out .3s;
	-o-transition:all ease-out .3s;
	transition:all ease-out .3s;
}
ul.tours li a span.dates p {margin:10px 20px;}
ul.tours li a span.dates b {line-height:36px;}
ul.tours li a:hover span.dates {
	opacity:1;

	-webkit-transition:all ease-out .3s;
	-moz-transition:all ease-out .3s;
	-o-transition:all ease-out .3s;
	transition:all ease-out .3s;
}
ul.tours li a span.img {
	background-color:#eadfd1;
	background-position:center;
	background-repeat:no-repeat;
	border:0;
	display:block;
	height:170px;
	width:100%;

	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
ul.tours li a b.title {
	font-size:18px;
	margin:20px;
	display:block;
}
ul.tours li p.route {
	color:#898989;
	font-style:italic;
	font-size:14px;
	line-height:20px;
	margin:20px;
}
ul.tours li p.desc {
	color:#898989;
	font-style:italic;
	font-size:14px;
	line-height:20px;
	margin:20px;
}
ul.tours li .price {
	font-size:20px;
	font-weight:700;
	color:#ff5a00;
	margin-left:20px;
	float:left;
}
ul.tours li .per {
	margin-right:20px;
	float:right;
	line-height:25px;
}
.actions-main {
	background:#fff;
	padding:45px 30px;
	text-align:center;
	overflow:hidden;
}
.actions-main .container {overflow:visible;}
.actions-main h2 {
	font-size:35px;
	font-weight:300;
	margin-bottom:35px;
	line-height:30px;
}
.slides .slick-list,
.slides .item-list {margin-right:-30px;}
.slides .item {
	background:#0daae8 !important;
	border:0;
	display:block;
	margin-right:30px;
}
.slides .item span.img {
	background-color:#eadfd1;
	background-position:center;
	background-repeat:no-repeat;
	border:0;
	display:block;
	height:170px;
	width:100%;

	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
.slides .item:hover {background:#29c2ff;}
.slides .item:hover span.img {opacity:.9;}
.slides .item:active,
.slides .item:focus {background:#0c99d0;}
.slides .item:active span.img,
.slides .item:focus span.img {opacity:1;}
.slides .item span.num {
	border:0;
	color:#fff;
	font-size:24px;
	font-weight:700;
	display:block;
	margin:15px 20px 10px;
}
.slides .item span.title {
	border:0;
	color:#fff;
	display:block;
	margin:10px 20px 20px;
	font-weight:300;
	font-size:18px;
}
.slides .slick-dots li button {
	background:url(../img/pagination.png) 0 0;
	overflow:hidden;
	border:0;
}
.slides .slick-dots li.slick-active button,
.slides .slick-dots li.slick-active button:hover {background-position:0 -17px}
.slides .slick-dots li button:hover {background-position:0 -34px}
.actions .item-list {
	margin:20px -2% 0 0;
	word-spacing:-0.25em;
}
.actions .item {
	background:#0daae8;
	border:0;
	display:block;
	text-align:center;
	vertical-align:top;
	margin:0 2% 2% 0;
	width:31.3%;
	display:-moz-inline-box;
	display:inline-block;
	*zoom:1;
	*display:inline;
	word-spacing:normal;
}
.actions .item span.img {
	background-color:#eadfd1;
	background-position:center;
	background-repeat:no-repeat;
	border:0;
	display:block;
	height:170px;
	width:100%;

	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
.actions .item:hover {background:#29c2ff;}
.actions .item:hover span.img {opacity:.9;}
.actions .item:active,
.actions .item:focus {background:#0c99d0;}
.actions .item:active span.img,
.actions .item:focus span.img {opacity:1;}
.actions .item span.num {
	border:0;
	color:#fff;
	font-size:24px;
	font-weight:700;
	display:block;
	margin:15px 20px 10px;
}
.actions .item span.title {
	border:0;
	color:#fff;
	display:block;
	margin:10px 20px 20px;
	font-weight:300;
	font-size:18px;
}
.actions .content ul {margin:20px 0 30px 20px;}
.actions .content ul li {margin:10px 0;}
@media only screen
and (max-width : 1100px) {
	.actions .item {width:48%;}
}
@media only screen
and (max-width : 700px) {
	.actions .item {width:98%;}
}
.last-posts {
	padding:45px 30px;
	overflow:hidden;
}
.last-posts h2 {
	font-size:35px;
	font-weight:300;
	line-height:30px;
	margin-bottom:35px;
	text-align:center;
}
.last-posts ul {margin-right:-5%;}
.last-posts li {
	float:left;
	margin-bottom:35px;
	margin-right:5%;
	width:20%;
}
.last-posts li span.date {
	color:#898989;
	font-style:italic;
	display:block;
	margin:7px 30px 0 0;
}
.last-posts li a {font-size:18px;}
@media only screen
and (max-width : 1100px) {
	.last-posts li {width:45%;}
}
@media only screen
and (max-width : 600px) {
	.last-posts li {
		float:none;
		width:100%;
	}
}
.mainpage-note {
	padding:0px 30px 45px;
	overflow:hidden;
	color:#898989;
	font-size:16px;
}
.mainpage-note p {margin:0;}
.contacts .phones {
	overflow:hidden;
	word-spacing:-0.25em;
}
.contacts .phones div {
	margin:5px 0 0;
	width:25%;

	text-align:top;
	vertical-align:top;
	display:-moz-inline-box;
	display:inline-block;
	*zoom:1;
	*display:inline;
	word-spacing:normal;
}
.contacts .viber {
	background:url(../img/viber.png) 0 5px no-repeat;
	padding-left:25px;
}
@media only screen
and (max-width : 1050px) {
	.contacts .phones div {width:33.3%;}
}
@media only screen
and (max-width : 800px) {
	.contacts .phones div {width:50%;}
}
@media only screen
and (max-width : 570px) {
	.contacts .phones div {width:100%;}
}
.contacts .phones div p.title {
	font-weight:700;
	font-size:18px;
}
.contacts .phones div p {
	margin:5px 0;
	font-size:22px;
	line-height:32px;
}
.contacts p.mail {
	font-size:22px;
	line-height:32px;
}
.contacts .address {
	font-size:18px;
	line-height:26px;
	margin:30px 0;
}
.contacts .office {
	overflow:hidden;
	margin:30px 0 40px;
}
.office-map {
	float:left;
	height:400px;
	overflow:hidden;
	width:50%;
}
.contacts .office .photo {
	background:url(../img/office.jpg) center no-repeat;
	height:400px;
	float:left;
	width:50%;

	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
@media only screen
and (max-width : 1000px) {
	.office-map {
		float:none;
		height:400px;
		width:100%;
	}
	.contacts .office .photo {
		height:400px;
		float:none;
		width:100%;
	}
}
.contacts .workers,
.agencies .workers {
	overflow:hidden;
	word-spacing:-0.25em;
	text-align:center;
}
.contacts .workers h2 {word-spacing:normal;}
.contacts .workers div,
.agencies .workers div {
	background:#fff;
	padding:18px 20px 5px;
	text-align:center;
	font-size:18px;
	border:1px solid #dcdcdc;
	width:240px;
	margin:0 10px 20px;
	min-height:247px;

	text-align:top;
	vertical-align:top;
	display:-moz-inline-box;
	display:inline-block;
	*zoom:1;
	*display:inline;
	word-spacing:normal;
}
.contacts .workers div img,
.agencies .workers div img {
	margin:15px 0 0;
	height:120px;
	width:120px;
	-webkit-border-radius:90px;
	-moz-border-radius:90px;
	border-radius:90px;
}
.contacts .workers div p,
.agencies .workers div p {margin:15px 0;}
.contacts .workers div p.name,
.agencies .workers div p.name {margin:0;}
.contacts .workers div p.title,
.contacts .workers div p.directions,
.tour div p.directions,
.agencies .workers div p.title,
.agencies .workers div p.directions {
	color:#898989;
	margin:10px 0 0;
	font-style:italic;
	font-size:16px;
}
.contacts .workers div p.directions,
.tour div p.directions,
.agencies .workers div p.directions {font-style:normal;}
.contacts .workers div .skype,
.agencies .workers div .skype {
	background:url(../img/skype.png) 0 0px no-repeat;
	padding-left:25px;
	line-height:30px;
	font-size:15px;
}
.contacts .workers div .mail,
.agencies .workers div .mail {
	background:url(../img/mail.png) 0 4px no-repeat;
	border:0;
	padding-left:25px;
	line-height:30px;
	font-size:15px;
}
@media only screen
and (max-width : 440px) {
	.contacts .workers div,
	.agencies .workers div {
		margin:0 0 20px;
		padding:18px 5% 5px;
	}
	.contacts .workers div .skype,
	.contacts .workers div .mail,
	.agencies .workers div .mail {
		font-size:14px;
	}
}
.blog .content {
	background:none;
	padding:0;
}
.blog .sidebar ul {
	background:#fff;
	padding:18px 20px;
	margin-bottom:20px;
}
.blog .sidebar li {
	font-size:18px;
	line-height:36px;
}
.blog .sidebar li.active {font-weight:700;}
.blog .content ul.posts {margin:0;}
.blog .content ul.posts li {
	background:#fff;
	padding:1.5%;
	list-style:none;
	margin:0 0 2%;
	overflow:hidden;
}
.blog .content ul.posts li a.img {
	border:0;
	display:block;
	height:187px;
	float:left;
	width:25%;
	margin-right:30px;

	background-color:#eadfd1;
	background-position:center;
	background-repeat:no-repeat;

	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
.blog .content ul.posts li .info {
	margin:0 0 0 28%;
	overflow:hidden;
}
.blog .content ul.posts li .date {font-style:italic;}
.blog .content ul.posts li h2 {
	font-size:20px;
	margin:0;
}
@media only screen
and (max-width : 1180px) {
	.blog .content ul.posts li a.img {width:35%;}
	.blog .content ul.posts li .info {margin-left:38%;}
}
@media only screen
and (max-width : 1000px) {
	.blog .content ul.posts li a.img {width:30%;}
	.blog .content ul.posts li .info {margin-left:33%;}
}
@media only screen
and (max-width : 800px) {
	.blog .content ul.posts li {
		padding:3%;
		margin:0 0 3%;
	}
	.blog .content ul.posts li a.img {width:40%;}
	.blog .content ul.posts li .info {margin-left:43%;}
}
@media only screen
and (max-width : 600px) {
	.blog .content ul.posts li {
		padding:4%;
		margin:0 0 4%;
	}
	.blog .content ul.posts li a.img {
		float:none;
		width:100%;
	}
	.blog .content ul.posts li .info {margin:20px 0 0;}
}
@media only screen
and (max-width : 400px) {
	.blog .content ul.posts li {
		padding:6%;
		margin:0 0 6%;
	}
}
.post img {
	display:block;
	margin:0 auto;
	max-width:100%;
}
.other-posts {
	padding:0 30px 30px;
	overflow:hidden;
}
.other-posts h2 {
	font-size:30px;
	font-weight:300;
	line-height:35px;
	margin-bottom:25px;
}
.other-posts ul {
	overflow:hidden;
	margin-right:-2%;
	word-spacing:-0.25em;
}
.other-posts li {
	background:#fff;
	padding:1.5%;
	list-style:none;
	margin:0 2% 2% 0;
	overflow:hidden;
	width:20%;

	text-align:top;
	vertical-align:top;
	display:-moz-inline-box;
	display:inline-block;
	*zoom:1;
	*display:inline;
	word-spacing:normal;
}
.other-posts li a.img {
	border:0;
	display:block;
	height:187px;
	width:100%;
	margin-right:30px;

	background-color:#eadfd1;
	background-position:center;
	background-repeat:no-repeat;

	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
.other-posts li .info {
	margin:20px 0 0;
	overflow:hidden;
}
.other-posts li .date {font-style:italic;}
.other-posts li h3 {
	font-size:20px;
	line-height:28px;
	margin:0 0 5px;
}
@media only screen
and (max-width : 1200px) {
	.other-posts li {width:28.3%;}
}
@media only screen
and (max-width : 800px) {
	.other-posts ul {margin-right:-3%;}
	.other-posts li {
		padding:3%;
		margin:0 3% 3% 0;
		width:41%;
	}
}
@media only screen
and (max-width : 600px) {
	.other-posts ul {margin-right:0;}
	.other-posts li {
		padding:4%;
		margin:0 4% 4% 0;
		width:92%;
	}
}
@media only screen
and (max-width : 400px) {
	.other-posts ul {margin-right:0;}
	.other-posts li {
		padding:6%;
		margin:0 6% 6% 0;
		width:88%;
	}
}
.pages {
	/* float:right; */
	/* position:relative; */
	/* right:50%; */
	display: flex;
	justify-content: center;
	margin:30px 0 0;
}
.blog .content .pages ul {margin:0;}
.pages ul {
	/* position:relative; */
	/* right:-50%; */
}
.content .pages ul {margin:0;}
.content .pages ul li {
	/* margin:0; */
	list-style:none;
}
.blog .content .pages ul li {
	list-style:none;
	/* margin:0; */
}
.pages ul li {
	font-size:24px;
	float:left;
	/* margin: 5px 0; */
	width: auto;
	padding: 0;
	margin: 5px 5px;
	height: auto;
}
.blog .content .pages ul li.active,
.pages ul li.active {
	padding:10px 18px;
	background:#0daae8;
	color:#fff;
	width: auto;
	height: auto;
	padding: 10;
}
.pages ul li a {
	padding:10px 18px;
	display:block;
	position:relative;
	background:#fff;
	/* margin:0 5px; */
	border:0;
}
a.show-more-button {
	font-size:24px;
	padding:15px 30px;
	display:block;
	position:relative;
	background:#fff;
	margin:20px 0 0;
	text-align:center;
	border:0;
}
.about-country .feedbacks,
.hotel .feedbacks {margin-top:60px;}
p.feedback-message {
	background:#fff;
	border-bottom:1px solid #dcdcdc;
	margin:0;
	padding:30px 0;
}
p.feedback-message.no-feedbacks {border:0;}
.agencies .content,
.feedbacks .content {margin-right:370px;}
.agencies .content a.orange-button-bottom {margin-top:30px;}
.about-country .feedbacks .content,
.hotel .feedbacks .content {margin-right:300px;}
.about-country .feedbacks h2.title,
.hotel .feedbacks h2.title {
	font-size:30px;
	font-weight:300;
	line-height:35px;
	margin-bottom:25px;
}
.agencies .sidebar,
.feedbacks .sidebar {width:350px;}
.about-country .feedbacks .sidebar,
.hotel .feedbacks .sidebar {width:280px;}
.agencies a.orange-button {
	background:#ff5a00;
	color:#fff;
	border:0;
	text-align:center;
	margin:0;
	line-height:30px;
	font-size:25px;
	padding:30px;
	display:block;
	float:none;
	margin-bottom:20px;
}
.agencies a.orange-button span {
	font-style:italic;
	color:#fff;
	display:block;
	font-size:20px;
	border:0;
}
.agencies a.orange-button:hover {
	background:#ff7200;
	color:#fff;
}
.agencies a.orange-button:active {
	background:#ff4800;
	padding:31px 0 29px;
}
.agencies .sidebar a.word-file {
	background:#fff url(../img/word-icon.png) 30px 20px no-repeat;
	border:0;
	display:block;
	padding:25px 25px 25px 90px;
	margin-bottom:5px;
}
.agencies .exchange {
	background:#fff;
	overflow:hidden;
	padding:15px;
	margin-bottom:5px;
}
.exchange h2 {
	font-size:1.4em;
	margin-bottom:15px;
}
.exchange table {min-width:inherit;}
.agencies-menu {margin-top:0;}
.feedbacks .content {
	background:none;
	padding:0;
}
.feedbacks .content .message {
	background:#fff;
	border-bottom:1px solid #dcdcdc;
	padding:10px 30px 10px;
}
.feedbacks .content .message .date {font-weight:700;}
.feedbacks .content .message .answer {
	font-style:italic;
	margin-left:50px;
}
.sidebar .add-feedback {
	background:#fff;
	overflow:hidden;
}
.sidebar dl {margin:10px 20px 15px;}
.sidebar .add-feedback h2 {margin:20px 20px 0;}
.sidebar p.message {margin:20px 20px 20px;}
.add-feedback .note {
	color:#898989;
	font-style:italic;
	margin:10px 0;
}
.sidebar .add-feedback textarea {height:110px;}
.sidebar .add-feedback button {
	background:#ff5a00;
	border:0;
	color:#fff;
	cursor:pointer;
	font-size:25px;
	line-height:normal;
	padding:15px 30px;
	display:block;
	text-align:center;
	width:100%;
}
.sidebar .add-feedback button:hover {
	background:#ff7200;
	color:#fff;
}
.sidebar .add-feedback button:active {
	background:#ff4800;
	padding:16px 30px 14px;
}
@media only screen
and (max-width : 1000px) {
	.agencies .content,
	.feedbacks .content,
	.about-country .feedbacks .content,
	.hotel .feedbacks .content {margin-right:0;}
	.agencies .sidebar,
	.feedbacks .sidebar {
		float:none;
		margin:0;
		width:100%;
	}
	.feedbacks .sidebar {
		margin:0 0 30px;
	}
	.agencies a.orange-button {
		line-height:normal;
		padding:15px 30px;
	}
	.agencies a.orange-button span {
		font-style:normal;
		display:inline;
		font-size:25px;
	}
	.agencies a.orange-button:active {padding:16px 30px 14px;}
}
.error-page {
	text-align:center;
	margin:30px 0;
}
.error-page h1 {
	font-size:70px;
	line-height:70px;
}
#footer {
	background:#0daae8;
	color:#fff;
	font-size:18px;
	padding:37px 30px;
	line-height:26px;
	overflow:hidden;
	display: block;
	width: 100%;
	float: left;
}
#footer .wrap {margin-right:-5%;}
#footer h2 {
	font-size:24px;
	font-weight:700;
	margin-bottom:24px;
}
#footer a,
#footer a span {
	border-color:rgba(255,255,255,.3);
	color:#fff;
}
#footer a:hover,
#footer a:hover span,
#footer .col1-4 a:hover {
	color:#ffd800;
}
#footer .col1-1,
#footer .col1-2,
#footer .col1-3,
#footer .col1-4 {
	float:left;
	margin:0 5% 20px 0;
	width:20%;
}
#footer .col1-1 .phones span {color:#bdefff;}
#footer .col1-1 .skype {
	background:url(../img/skype-white.png) 0 2px no-repeat;
	padding-left:25px;
}
#footer .col1-1 .viber {
	background:url(../img/viber-white.png) 0 2px no-repeat;
	padding-left:25px;
}
#footer .col1-1 .mail {
	background:url(../img/mail-white.png) 0 6px no-repeat;
	border:0;
	padding-left:25px;
}
#footer .col1-3 a {
	font-size:20px;
	line-height:30px;
}
#footer .col1-4 a {
	border:0;
	color:#abf1f0;
	font-size:16px;
}
@media only screen
and (max-width : 1170px) {
	#footer {
		font-size:16px;
		line-height:24px;
	}
	#footer .col1-4 a {
		line-height:24px;
	}
}
@media only screen
and (max-width : 1070px) {
	#footer {
		font-size:18px;
		line-height:26px;
	}
	#footer .col1-1,
	#footer .col1-2,
	#footer .col1-3 {
		width:28.3%;
	}
	#footer .col1-4 {
		display:none;
	}
}
@media only screen
and (max-width : 900px) {
	#footer .col1-1,
	#footer .col1-2 {
		margin-bottom:0;
		width:45%;
	}
	#footer .col1-3 {
		display:none;
	}
}
@media only screen
and (max-width : 600px) {
	#footer .col1-1,
	#footer .col1-2 {
		float:none;
		width:100%;
	}
}
#footer-dark {
	background:#0e1f26;
	color:#fff;
	padding:37px 30px;
	font-size:18px;
	line-height:26px;
	overflow:hidden;
	float:right;
	width: 100%;
}
#footer-dark .wrap {margin-right:-5%;}
#footer-dark a,
#footer-dark a span {
	border-color:rgba(255,255,255,.3);
	color:#fff;
}
#footer-dark a:hover,
#footer-dark a:hover span {
	color:#ffd800;
}
#footer-dark .copy {
	float:left;
	margin-right:5%;
	width:20%;
}
#footer-dark .copy p {
	font-size:14px;
	line-height:18px;
}
#footer-dark .social {
	float:left;
	overflow:hidden;
	margin-right:5%;
	width:20%;
	height:100px;
}
#footer-dark .social p {
	margin:0 0 10px;
}
#footer-dark .social a {
	border:0;
	display:block;
	float:left;
	height:30px;
	margin:0 12px 12px 0;
	width:30px;
}
#footer-dark .social a.vk {background:url(../img/social.png?v=4) 0 0 no-repeat;}
#footer-dark .social a.vk:hover {background-position:0 -42px;}
#footer-dark .social a.fb {background:url(../img/social.png?v=4) -42px 0 no-repeat;}
#footer-dark .social a.fb:hover {background-position:-42px -42px;}
#footer-dark .social a.od {background:url(../img/social.png?v=4) -84px 0 no-repeat;}
#footer-dark .social a.od:hover {background-position:-84px -42px;}
#footer-dark .social a.in {background:url(../img/social.png?v=4) -126px 0 no-repeat;}
#footer-dark .social a.in:hover {background-position:-126px -42px;}
#footer-dark .social a.gp {background:url(../img/social.png?v=4) -168px 0 no-repeat;}
#footer-dark .social a.gp:hover {background-position:-168px -42px;}
#footer-dark .social a.tm {background:url(../img/social.png?v=4) -210px 0 no-repeat;}
#footer-dark .social a.tm:hover {background-position:-210px -42px;}
#web-studio-kiwi {
	font-size:14px;
	float:left;
	line-height:18px;
	/*margin:41px 30px 0 0;*/
	max-width:300px;
	margin-top:30px;
}
#web-studio-kiwi a.img {
	background:url(../img/kiwi.png?v=2) no-repeat;
	background-size:100% auto;
	border:0;
	display:block;
	float:left;
	margin:4px 20px 0 0;
	width:57px;
	height:29px;
}
#web-studio-kiwi a.img:hover {background-position:0 -29px;}
.payments {
	background:url(../img/payments2.png?v=2) no-repeat;
	background-size:contain;
	float:left;
	height:80px;
	width:35%;
}
@media only screen
and (max-width : 1290px) {
	.payments {width:40%;}
}
@media only screen
and (max-width : 1020px) {
	#footer-dark .copy {width:45%;}
	#footer-dark .social {
		margin-bottom:40px;
		width:40%;
	}
	#web-studio-kiwi {
		width:45%;
		margin-top:0;
	}
	.payments {
		margin-right:10%;
		width:40%;
	}
}
@media only screen
and (max-width : 600px) {
	#footer-dark .copy {
		margin:0 0 30px;
		width:100%;
	}
	#footer-dark .social {
		margin:0 0 20px;
		width:100%;
	}
	#web-studio-kiwi {
		width:95%;
		margin-top:30px;
	}
	.payments {
		max-width:420px;
		float:left;
		width:95%;
	}
}
@media only screen
and (max-width : 400px) {
	#web-studio-kiwi {
		margin-top:10px;
	}
}
.share {
	float:left;
	position:relative;
	left:50%;
	margin:0 0 20px;
}
.share-wrap {
	position:relative;
	left:-50%;
	margin:0 300px 0 0;
}
.share-text {
	margin:15px 0 0 -105px;
	position:absolute;
	color:#898989;
	text-align:center;
}
.pluso {margin-right:22px;}
.pluso a {border:0;}
@media only screen
and (max-width : 1000px) {
	.share-wrap {margin-right:0;}
}
@media only screen
and (max-width : 500px) {
	.share-wrap {margin:0 -30px 20px;}
	.share-text {
		margin:0 0 10px;
		position:inherit;
	}
}

video {
	width:100% !important;
	height:auto !important;
}
.video-container {
	position:relative;
	padding-bottom:56.25%; /* 16:9 */
	padding-top:25px;
	height:0;
}
.video-container object,
.video-container embed,
.video-container iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.container.login {
	text-align:center;
	padding-bottom:70px;
}
.login .pp button {float:none;}

/*
* jquery.selectBoxIt.css 3.8.1
* Author: @gregfranko
*/

/*
  Common CSS Properties
  ---------------------
  These properties will be applied to any themes that you use
*/

/* SelectBoxIt container */
.selectboxit-container {
	position: relative;
	display: inline-block;
	vertical-align:top;
	float:left;
	margin-right:2%;
	width:25%;
}

.hotels .selectboxit-container {
	float:none;
	margin:10px 0 0;
	min-width:260px;
}

/* Styles that apply to all SelectBoxIt elements */
.selectboxit-container * {
	font: 18px Roboto, Arial, Helvetica;
	/* Prevents text selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	outline: none;
	white-space: nowrap;
}

/* Button */
.selectboxit-container .selectboxit {
	cursor: pointer;
	height:60px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: block;
	position: relative;
}
.hotels .selectboxit-container .selectboxit {
	background:#ff5a00;
	height:40px;
}

/* Height and Vertical Alignment of Text */
.selectboxit-container span, .selectboxit-container .selectboxit-options a {
	height: 40px; /* Height of the drop down */
	line-height: 40px; /* Vertically positions the drop down text */
	display: block;
}

/* Focus pseudo selector */
.selectboxit-container .selectboxit:focus {
	outline: 0;
}

/* Disabled Mouse Interaction */
.selectboxit.selectboxit-disabled, .selectboxit-options .selectboxit-disabled {
	opacity: 0.65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	cursor: default;
}

/* Button Text */
.selectboxit-text {
	text-indent: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
}

.hotels .selectboxit-text {
	text-indent: 0;
	/*font-size: 24px;
  line-height: 28px;*/
	font-weight: 700;
	color:#fff;
	border-bottom:1px dashed rgba(255,255,255,.3);
}

.selectboxit-container span.selectboxit-text {
	height:60px;
	line-height:60px;
	margin-right:20%;
	overflow:hidden;
	width:80%;
}

.hotels .selectboxit-container span.selectboxit-text {
	height:20px;
	line-height:20px;
	margin:10px 35px 0 15px;
	width:auto;
}

.selectboxit .selectboxit-option-icon-container {
	margin-left: 5px;
	display:none;
}

/* Options List */
.selectboxit-container .selectboxit-options {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-width: 100%;  /* Minimum Width of the dropdown list box options */
	*width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	overflow-x: hidden;
	overflow-y: auto;
	cursor: pointer;
	display: none;
	z-index: 9999999999999;
	text-align: left;
}

/* Individual options */
.selectboxit-option .selectboxit-option-anchor{
	padding: 0 2px;
}

/* Individual Option Hover Action */
.selectboxit-option .selectboxit-option-anchor:hover {
	text-decoration: none;
}

/* Individual Option Optgroup Header */
.selectboxit-option, .selectboxit-optgroup-header {
	text-indent: 13px; /* Horizontal Positioning of the select box option text */
	margin: 0;
	list-style-type: none;
}

/* The first Drop Down option */
.selectboxit-option-first {
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}

/* The first Drop Down option optgroup */
.selectboxit-optgroup-header + .selectboxit-option-first {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

/* The last Drop Down option */
.selectboxit-option-last {
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}

/* Drop Down optgroup headers */
.selectboxit-optgroup-header {
	font-weight: bold;
}

/* Drop Down optgroup header hover psuedo class */
.selectboxit-optgroup-header:hover {
	cursor: default;
}

/* Drop Down down arrow container */
.selectboxit-arrow-container {
	/* Positions the down arrow */
	width: 30px;
	position: absolute;
	right: 0;
}
.selectboxit-container span.selectboxit-arrow-container {
	height:55px;
	line-height:55px;
}
.hotels .selectboxit-container span.selectboxit-arrow-container {
	height:35px;
	line-height:35px;
}

/* Drop Down down arrow */
.selectboxit .selectboxit-arrow-container .selectboxit-arrow {
	/* Horizontally centers the down arrow */
	margin: 0 auto;
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
}

/* Drop Down down arrow for jQueryUI and jQuery Mobile */
.selectboxit .selectboxit-arrow-container .selectboxit-arrow.ui-icon {
	top: 30%;
}

/* Drop Down individual option icon positioning */
.selectboxit-option-icon-container {
	float: left;
}

.selectboxit-container .selectboxit-option-icon {
	margin: 0;
	padding: 0;
	vertical-align: middle;
	display:none;
}

/* Drop Down individual option icon positioning */
.selectboxit-option-icon-url {
	width: 18px;
	background-size: 18px 18px;
	background-repeat: no-repeat;
	height: 100%;
	background-position: center;
	float: left;
}

.selectboxit-rendering {
	display: inline-block !important;
	*display: inline !important;
	zoom: 1 !important;
	visibility: visible !important;
	position: absolute !important;
	top: -9999px !important;
	left: -9999px !important;
}

/* jQueryUI and jQuery Mobile compatability fix - Feel free to remove this style if you are not using jQuery Mobile */
.jqueryui .ui-icon {
	background-color: inherit;
}

/* Another jQueryUI and jQuery Mobile compatability fix - Feel free to remove this style if you are not using jQuery Mobile */
.jqueryui .ui-icon-triangle-1-s {
	background-position: -64px -16px;
}

/*
  Default Theme
  -------------
  Note: Feel free to remove all of the CSS underneath this line if you are not using the default theme
*/
.selectboxit-btn {
	background-color: #fff;
}

.selectboxit-btn.selectboxit-enabled:hover,
.selectboxit-btn.selectboxit-enabled:focus,
.selectboxit-btn.selectboxit-enabled:active {
	color: #333333;
	background-color: #fff3dc;
}
.hotels .selectboxit-btn.selectboxit-enabled:hover,
.hotels .selectboxit-btn.selectboxit-enabled:focus,
.hotels .selectboxit-btn.selectboxit-enabled:active {
	background-color: #ff7200;
}
.hotels .selectboxit-btn.selectboxit-enabled:active {
	background-color: #ff4800;
	height:39px;
	padding-top:1px;
}


.hotels .selectboxit-btn.selectboxit-enabled:hover .selectboxit-text {
}

@media only screen
and (max-width : 910px) {
	#header-top {padding:20px 30px 15px;}
	#header #logo {
		margin:0 auto;
		float:none;
		width:150px;
	}
	#header p {
		float:none;
		text-align:center;
		padding-top:20px;
		width:100%;
	}
	.button-border-wrap {
		float:none;
		margin:0 auto;
		width:70%;
	}
}
.more-btn-text span {
	text-align: center;
	margin: 0 auto;
	line-height: 38px;
	font-size: 10px;
	cursor: pointer;
	padding: 15px 0;
	transition: 0.3s color;
	color: #ff6500;
	font-size: 14px;
	padding: 10px 0;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
}