.ts-tour{
    background: #fff;
}

.ts-tour .img_link{
    height: 100%;
    display: block;
    text-decoration: none;
    border-bottom: 0 !important;
    overflow: hidden;
}
.ts-tour .stars{
    position: absolute;
    top: 5px;
    left: 5px;
}

.ts-tour li{
    list-style: none !important;
    margin: 0 0 !important;
}
.ts-tour .img_link img{
    width: 100%;

}
.ts-tour .ts-tour-price__main{
    font-size: 20px;
    font-weight: 700;
    color: #ff5a00;
}
.ts-tour .ts-tour-price__second{
    font-size: 16px;
    color: #01709d;
}
.ts-tour .buttons-block{
    width: 100%;
}

.ts-tour .more_button{
    background: #ff5a00;
    border: 0;
    padding: 0;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;
    width: 100%;
    text-align: center;
}
.ts-tour .more_button:hover{
    background: #e85e03;
}
.ts-tour .more_button:active{
    background: #d45400;
}


.ts-tour_detail{
    background: white;
    justify-content: center;
}
.container.hotel > .content{
    padding: 0;
    background: transparent;
}

@media (min-width: 1280px){

    .border__price{
        border-left: 1px solid #bbd6e2;
    }
}